/*---------------------------------------------------------
 * Theme    : TSW_Templiers 
 * Par      : EDN | Swan
 * Date     : 27/01/2014
 * Site web :  http://easy-design.net/
 * Commentaire ou autre de l'auteur 
 # Merci de ne pas toucher au entête des fichiers CSS.
  *---------------------------------------------------------
 * Porté par : EDN | Swan
 * Date V5.0 : 13/04/2016
 * Date V5.1 : 30/05/2017
/*--------------------------------------------------------
 * Théme compatible avec deux menus (droite et gauche)
 * le choix reste possible sur une seule colonne de menus.
 *----------------------------------------------------------*/


.newsletter-form {
    background:#803d3d none repeat scroll 0 0;
    border-radius: 3px;
    border-radius:1px solid #222222
    display: flex;
    height: 25px;
    margin: 20px 25px 10px 0;
    vertical-align: middle;
    white-space: nowrap;
}

.newsletter-title {
	padding:0 15px 0 5px;
	font-size: 12px;
	vertical-align: middle;
}
 
div#newsletter { 
	float: right;
	margin: 6px;
}

div#newsletter button,
div#newsletter .button {
	margin-top: 0;
}
 
.newsletter-link { 
	margin: 10px 0 0 0;
}

div#newsletter  .input-element-button input {
	width: 120px;
	border-radius: 4px 0 0 4px;
	font-size: 12px;
}

div#newsletter  .input-element-button button {
	margin-left: -5px;
	border-radius: 0 4px 4px 0;
	font-size: 12px;
}