#news-tags-container,
#news-sources-container,
#news-suggested-container {
	margin: 15px 15px 15px 30px;
}

.news-tags-title,
.news-sources-title,
.news-suggested-title {
	font-weight: bold;
}

.news-separator {
	margin: 20px auto 20px auto;
	width: 70%;
}

.news-picture {
	float: left;
	padding: 10px;
	max-width: 40%;
}

.navigation-link-previous 	{ float: left;  }
.navigation-link-next 		{ float: right; }

.navigation-link-previous i { margin-right: 5px; }
.navigation-link-next i 	{ margin-left: 5px;  }

article .footer-news {
	margin: 20px 0 0 0;
	clear: both;
}

article .footer-news .more {
	min-height: 10px;
	padding: 5px 10px 10px 10px;
	margin: 0px;
	background: #EFEFEF url(images/post_bg.png) repeat-x bottom left;
	font-size: 0.9em;
	font-family: Georgia, serif;
	font-style: italic;
	color: #AFAFAF;
	text-shadow: 1px 1px 1px white;
}