/*---------------------------------------------------------
 * Theme    : DayZ
 * Par      : EDN | Swan
 * Date     : 31/03/2016
 * Site web :  http://easy-design.net/
 * Commentaire ou autre de l'auteur 
 # Merci de ne pas toucher au entête des fichiers CSS.
 *---------------------------------------------------------
 * Théme non compatible avec deux menus (droite et gauche)
					le choix reste possible sur un menu
 *----------------------------------------------------------*/

#shoutbox-messages-container {
    height: 150px;
    margin: auto;
    overflow: auto;
    text-align: left;
    word-wrap: break-word;
}
.shout-horizontal {
    padding-left: 1.5em;
}
.shout-spacing {
    margin: 10px 0;
}
#module-mini-shoutbox textarea, #module-mini-shoutbox textarea:valid {
    border-color: #aa0000;
    width: 90%;
}
#shoutbox-bbcode-container ul {
    margin: 0;
    padding: 0;
}
#shoutbox-bbcode-container ul li {
    border: medium none;
    display: inline-block;
}
