/*---------------------------------------------------------
 * Theme    :  Theme Christmas Green
 * Par      : EDN | Swan
 * Date     : 29/01/2016
 * Site web :  http://easy-design.net/
 * Commentaire ou autre de l'auteur 
 # Merci de ne pas toucher au entête des fichiers CSS.
 * Contient les conteneurs de mise en page.
 * Le design.css permet de mettre en forme votre site web avec le design de votre choix
 *---------------------------------------------------------
 * Thème compatible avec un  menu (droite ou gauche)
					le choix reste possible sur un menu
 *----------------------------------------------------------*/

/* --------------------------------------
		login.css
Contient les elements pour afficher la page de connexion a l'administration ou au site lorsqu'il est en maintenance.
--------------------------------------*/

.fieldset-content {
	margin: 0 auto;
	width: 450px;
	max-width: 100%;
}

body {
	display: flex;
	display: -ms-flex;
	display: -webkit-flex;
	flex-direction: column;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	justify-content: center;
	-ms-justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-ms-align-items: center;
	-webkit-align-items: center;
	margin: 0;
	padding: 0;
	height: auto;
	background-color: #E8EDF3;
}

div#global {
	padding: 20px;
	min-height: 0;
	width: 100%;
	background-color: #FFFFFF;
	border-spacing: 1px;
	border: 1px #bebebe solid;
}

#connect {
	margin-bottom: 40px;
}

.cookiebar-container {
	position: fixed;
}
