/*---------------------------------------------------------
 * Theme    : Japanese_Traditions
 * Par      : MarcelD
 * Adapté     : 03/08/2016
 * Porté par : EDN |Swan 
 * Site web :  http://www.phpboost.com
 * Commentaire ou autre de l'auteur 
 # Merci de ne pas toucher au entête des fichiers CSS.
 *---------------------------------------------------------
 * Porté par : EDN | Swan
 * Date V5.1 : 30/05/2017
/*--------------------------------------------------------
 * Théme compatible avec deux menus (droite et gauche)
					le choix reste possible sur un menu
 *----------------------------------------------------------*/
#mini-search-form {
    float: right;
    margin: 40px 45px 0 0;
	opacity: 0.6;	
    vertical-align: middle;
    white-space: nowrap;
}

@media (max-width: 768px) {
	#mini-search-form {
		margin: 20px 20px 20px 0;
	}
}

#mini-search-form button,
#mini-search-form .button {
	margin-top: 0;
}

#mini-search-form.input-element-button input {
	width: 120px;
	height: 25px;
	border-radius: 4px 0 0 4px;
}

#mini-search-form.input-element-button button {
	margin-left: -5px;
	padding: 4px 10px 4px 10px;
	height: 25px;
	border-radius: 0 4px 4px 0;
}