#news-tags-container,
#news-sources-container,
#news-suggested-container {
	margin: 15px 15px 15px 30px;
}

.news-tags-title,
.news-sources-title,
.news-suggested-title {
	font-weight: bold;
}

.news-separator { 
	margin: 20px auto 20px auto;
	width: 70%;
}

.navigation-link-previous 	{ float: left;  }
.navigation-link-next 		{ float: right; }

.navigation-link-previous i { margin-right: 5px; }
.navigation-link-next i 	{ margin-left: 5px;  }

#module-news header h1 {
	background: none;
	text-align: center;
}

#module-news header h1,
#module-news header h1 a {
	color: #0E0E0E;
}

#module-news article:nth-child(1) {
	margin-top: 0;
}

#module-news > .content {
	padding: 0;
}

.article-news {
	margin: 0;
	padding: 0 0 1px 0;
	background-color: #FFFFFF;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.article-news header h2 {
	margin-left: 0;
	padding: 10px 10px;
	background-image: linear-gradient(#7D7E7D 0%,#0E0E0E 100%);
    color: #EFEFEF;
}

@media (min-width: 769px) {
	.article-news header h2 {
		height: 45px;
	}
}

.article-news header h2 > a {
	margin-left: 10px;
	font-weight: bold;
}

.article-news header h2 a {
    text-shadow: 2px 2px 2px #000;
    color: #FFFFFF;
}

.article-news header .actions {
	font-size: 1rem;
	padding-top: 5px;
}

.article-news header .comments-news {
	margin: 0 10px;
}

.article-news .content {
	padding: 2em;
}

.article-news footer .more {