/*---------------------------------------------------------
 * Theme    : TSW_Templiers 
 * Par      : EDN | Swan
 * Date     : 27/01/2014
 * Site web :  http://easy-design.net/
 * Commentaire ou autre de l'auteur 
 # Merci de ne pas toucher au entête des fichiers CSS.
  *---------------------------------------------------------
 * Porté par : EDN | Swan
 * Date V5.0 : 13/04/2016
 * Date V5.1 : 30/05/2017
/*--------------------------------------------------------
 * Théme compatible avec deux menus (droite et gauche)
 * le choix reste possible sur une seule colonne de menus.
 *----------------------------------------------------------*/


#mini-search-form {
    background-color: #000;
    border-radius: 3px;
    float: right;
    margin: -20px 20px 0 0;
    vertical-align: middle;
    white-space: nowrap;
    z-index: 20;
}

@media (max-width: 768px) {
	#mini-search-form {
		margin: 20px 20px 20px 0;
	}
}

#mini-search-form button,
#mini-search-form .button {
	margin-top: 0;
}

#mini-search-form.input-element-button input {
	width: 120px;
	height: 25px;
	border-radius: 4px 0 0 4px;
}

#mini-search-form.input-element-button button {
	margin-left: -5px;
	padding: 4px 10px 4px 10px;
	height: 25px;
	border-radius: 0 4px 4px 0;
}

input[type="search"]:hover {    background: rgba(0, 0, 0, 0.9) none repeat scroll 0 0;
    border: 1px solid #333333;
    box-shadow:none;
    color: #e00000;
}