/* --------------------------------------
		cssmenu.css
Contient les elements associes aux menus 
-----------------------------------------*/


/* -- Classes multi niveau -- */
/* -------------------------- */

/* --- Classes generales cssmenu --- */
.cssmenu {
	font-size: 0;
}

.cssmenu,
.cssmenu ul,
.cssmenu ul li,
.cssmenu ul li .cssmenu-title {
	position: relative;
	margin: 0;
	list-style: none;
	line-height: 1;
	left: auto;
}

.cssmenu,
.cssmenu ul,
.cssmenu ul li,
.cssmenu ul li .cssmenu-title {
	display: block;
}

header#header .cssmenu {display: table;}

.cssmenu:after,
.cssmenu > ul:after {
	display: block;
	visibility: hidden;
	height: 0;
	content: "";
	line-height: 0;
	clear: both;
}

.cssmenu-img {
	display: inline-block;
}

@media (max-width: 768px) {
	.cssmenu > .cssmenu-img {
		display: none;
	}

	.cssmenu-img {
		padding: 0px 5px 0px 0px;
	}
}

@media (min-width: 769px) {
	.cssmenu-img {
		padding: 10px 0 0 0;
		vertical-align: top;
	}
}

.cssmenu-img-level-0 ~ ul.level-0 {
	display: inline-block;
}

.close {
	left: -9999px !important;
	height: 0;
	overflow: hidden;
}

#menu-left .cssmenu,   
#menu-right .cssmenu{ width: 100%; }

#menu-left .cssmenu.small-screen  { margin-right: 0; }
#menu-right .cssmenu.small-screen  { margin-left: 0; }

.cssmenu li:hover > .cssmenu-title {
	text-decoration: none;
}

.cssmenu .cssmenu-title img {
	margin: 0 5px 0 0;
	vertical-align: bottom;
}
	
.cssmenu.small-screen {
	width: 100%;
}

.cssmenu.small-screen ul {
	display: block;
	width: 100%;
}

.cssmenu.small-screen ul li {
	width: 100%;
}

.cssmenu.small-screen ul ul li,
.cssmenu.small-screen li:hover > ul > li {
	height: auto;
}

.cssmenu.small-screen ul li .cssmenu-title,
.cssmenu.small-screen ul ul li .cssmenu-title {
	padding: 17px;
	width: 100%;
}

.cssmenu.small-screen ul ul li .cssmenu-title {
	padding: 11px;
}

@media (max-width: 768px) {
	.cssmenu.small-screen .cssmenu-img-level-0 + div  {
		padding: 10px 40px 10px 17px;
	}
}

/* --- Variante cssmenu-horizontal --- */
#main .cssmenu-horizontal {
	background-color: #FFFFFF;
}

/* --- Variante cssmenu-group --- */
div.cssmenu-group {
	position: relative;
	display: inline-block;
	padding: 2px 8px;
	background-color: #0E2134;
	color: #1E73BE;
	cursor: pointer;
}

div.cssmenu-group .cssmenu-title {
	color: #1E73BE;
	font-size: 1.2rem;
	font-weight: 300;
	text-decoration: none;
}

.cssmenu-group.small-screen {
	margin: 0 0 5px 0;
}

/* --- Variante cssmenu-actionslinks --- */
.cssmenu-actionslinks {
	margin: 0 0 20px 0;
}

.cssmenu-actionslinks {
	float: right;
	margin: 0 5px 5px 5px;
}

.cssmenu-actionslinks.small-screen {
	float: none;
	margin: 0;
}

.cssmenu.cssmenu-actionslinks ul li .cssmenu-title,
.cssmenu.cssmenu-actionslinks ul li ul li .cssmenu-title {
	padding: 5px;
	font-weight: normal;
	font-size: 1.1rem;
}

.cssmenu.cssmenu-actionslinks.small-screen ul li .cssmenu-title,
.cssmenu.cssmenu-actionslinks.small-screen ul li ul li .cssmenu-title {
	padding: 10px 5px;
}

/* --- Autres variantes --- */
@media (min-width: 769px) {
	#cssmenu-galleryfilter ul {
		min-width: 130px;
	}
}

.cssmenu.cssmenu-static li.has-sub > .cssmenu-title:after,
.cssmenu.cssmenu-static li.has-sub > .cssmenu-title:before {
	display: none;
}


/* -- Classes Niveau 1 -- */
/* ---------------------- */

/* --- Classes generales cssmenu --- */
.cssmenu > ul > li {
	float: left;
}

#sub-header .cssmenu-horizontal > ul > li {
	position: relative;
}

#sub-header .cssmenu-horizontal > ul > li:after {
	position:absolute;
	right: 1%;
	top: 50px;
	height: 100%;
	width: 1px;
}

#main .cssmenu-horizontal > ul > li:last-child:after,
#sub-header .cssmenu-horizontal > ul > li:last-child:after {
	width: 0;
	height: 0;
}

#main .cssmenu-horizontal > ul > li {
	position: relative;
}

#main .cssmenu-horizontal > ul > li:after {
	position:absolute;
	right: 1%;
	top: 50px;
	height: 100%;
	width: 1px;
}

.cssmenu-left > ul > li,
.cssmenu-right > ul > li {
	float: none;
	text-align: left;
}

.cssmenu > ul > li > .cssmenu-title {
	padding: 17px 17px 21px;
	font-size: 1.2rem;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
}

/* --- Indicateur de sous menu --- */
.cssmenu > ul > li.has-sub > .cssmenu-title {
	padding-right: 30px;
}

.cssmenu > ul > li.has-sub > .cssmenu-title:after,
.cssmenu > ul > li.has-sub > .cssmenu-title:before {
	position: absolute;
	display: block;
	content: '';
}

.cssmenu > ul > li.has-sub > .cssmenu-title:after {
	width: 8px;
	height: 2px;
}

.cssmenu > ul > li.has-sub > .cssmenu-title:before {
	width: 2px;
	height: 8px;
	transition: all 0.25s ease;
}

.cssmenu > ul > li.has-sub:hover > .cssmenu-title:before {
	height: 0;
}

.cssmenu-vertical > ul > li > .cssmenu-title {
	padding: 5px 17px 5px 6px;
}

.cssmenu > ul > li.has-sub > .cssmenu-title:after 			{ top: 22px; right: 11px; }
.cssmenu > ul > li.has-sub > .cssmenu-title:before 			{ top: 19px; right: 14px; }
.cssmenu > ul > li.has-sub:hover > .cssmenu-title:before 	{ top: 23px; }

.cssmenu-vertical > ul > li.has-sub > .cssmenu-title:after  { top: 11px; }
.cssmenu-vertical > ul > li.has-sub > .cssmenu-title:before { top: 8px;  }

/* --- Position des sous menu --- */
.cssmenu li:hover > ul 								{ left: auto ;				}
aside .cssmenu-left li:hover > ul 					{ left: 100% ; 	top: 0;		}
aside .cssmenu-right li:hover > ul 					{ right: 100%; 	top: 0;		}
aside .cssmenu-left.cssmenu-static li:hover > ul	{ left: 0; 		top: 0;		}
aside .cssmenu-right.cssmenu-static li:hover > ul 	{ right: 0;		top: 0;		}
.cssmenu.cssmenu-actionslinks li:hover > ul 		{ right: 0;		top: 100%;	}
.cssmenu.cssmenu-actionslinks ul li:hover > ul 		{ right: 100%;	top: 0;		}
.cssmenu.small-screen li:hover > ul 				{ left: 0;  				}
.cssmenu.cssmenu-right.small-screen li:hover > ul 	{ right: 0; 				}
.cssmenu.cssmenu-left.small-screen li:hover > ul 	{ left: 0;  				}

/* --- Variante cssmenu-group --- */
.cssmenu-group > ul {
	text-align: center;
	font-size: 0;
}

.cssmenu-group > ul > li {
	background-color: #2F4154;
	color: #1E73BE;
	cursor: pointer;
}

.cssmenu.cssmenu-group > ul > li {
	display: inline-block;
	float: none;
}

.cssmenu-group > ul > li.current {
    background-color: #1E73BE;
}

.cssmenu.cssmenu-group > ul > li > .cssmenu-title {
	padding: 4px 12px;
	font-size: 1.1rem;
	font-weight: 300;
	text-decoration: none;
	text-transform: lowercase;
}

.cssmenu-group.small-screen > ul.open {
	display: table !important;
	margin: auto;
	width: auto;
}

.cssmenu-group.small-screen > ul > li,
.cssmenu-group.small-screen > ul > li:hover {
	float: left;
	width: auto;
	background: transparent;
	clear: both;
}

.cssmenu.cssmenu-group.small-screen > ul > li > .cssmenu-title {
	padding: 10px 12px;
}

/* --- Variante cssmenu-actionslinks --- */
.cssmenu-actionslinks.small-screen > ul > li:last-child {
	padding: 0 0 10px 0;
}

.cssmenu.cssmenu-static > ul > li > .cssmenu-title {
	text-align: center;
}

/* --- Variante cssmenu-static --- */
#main .cssmenu.cssmenu-static,
#top-footer .cssmenu.cssmenu-static {
	margin: 5px 0;
	background-color: #ffffff;
}

.cssmenu.cssmenu-static > ul > li {
	padding: 0 10px 0 10px;
}

.cssmenu.cssmenu-static > ul > li > .cssmenu-title {
	margin: 0 0 20px 0;
	padding-bottom: 5px;	
	font-size: 1.7rem;
	font-weight: bold;
}


/* -- Classes Niveau 2 -- */
/* ---------------------- */

/* --- Classes generales cssmenu --- */
.cssmenu ul ul {
	position: absolute;
	left: -9999px;
	z-index: 10;
}

.cssmenu ul ul li {
	height: 0;
	transition: all 0.25s ease;
}

.cssmenu li:hover > ul > li {
	height: auto;
	vertical-align: middle;
}

.cssmenu ul ul ul {
	top: 0;
}

.cssmenu ul ul li .cssmenu-title {
	padding: 11px 15px;
	font-size: 1.2rem;
}

.cssmenu ul ul li .cssmenu-title {
	padding: 11px 30px 11px 15px;
	white-space: nowrap;
}

/* --- Indicateur de sous menu --- */

.cssmenu ul ul li.has-sub > .cssmenu-title:after,
.cssmenu ul ul li.has-sub > .cssmenu-title:before {
	position: absolute;
	display: block;
	content: '';
}

.cssmenu ul ul li.has-sub > .cssmenu-title:after {
	width: 8px;
	height: 2px;
}

.cssmenu ul ul li.has-sub > .cssmenu-title:before {
	width: 2px;
	height: 8px;
	transition: all .25s ease;
}

.cssmenu ul ul li.has-sub > .cssmenu-title:after 	{ top: 16px; right: 11px; }
.cssmenu ul ul li.has-sub > .cssmenu-title:before 	{ top: 13px; right: 14px; }

.cssmenu ul ul > li.has-sub:hover > .cssmenu-title:before  {
	top: 17px;
	height: 0;
}

.cssmenu.small-screen ul ul li.has-sub > .cssmenu-title:after,  
.cssmenu.small-screen ul ul li.has-sub > .cssmenu-title:before {
	display: none;
}

.cssmenu.small-screen ul.level-1 li .cssmenu-title  {
	padding-left: 25px;
}

.cssmenu.small-screen ul.level-2 li .cssmenu-title,
.cssmenu.cssmenu-actionslinks.small-screen ul li ul li ul li .cssmenu-title  {
	padding-left: 35px;
}

.cssmenu.small-screen ul.level-3 li .cssmenu-title {
	padding-left: 45px;
}

.cssmenu.small-screen ul.level-4 li .cssmenu-title {
	padding-left: 55px;
}

.cssmenu.small-screen ul ul li .cssmenu-title {
	background: none;
}

.cssmenu.small-screen ul ul,
.cssmenu.small-screen ul ul ul {
	position: relative;
	left: 0;
	width: 100%;
	margin: 0;
	text-align: left;
}

/* --- Variantes --- */
.cssmenu-horizontal ul ul ul {
	margin-left: 100%;
}

.cssmenu-vertical ul ul {
	position: relative;
}

aside .cssmenu-vertical ul ul {
	position: absolute;
	margin-top: -1px;
}

header .cssmenu-vertical ul ul li .cssmenu-title,
#main .cssmenu-vertical ul ul li .cssmenu-title {
	padding: 5px 15px;
	width: 100%;
}

.cssmenu-static ul ul {
	position: relative;
	left: 0;
	z-index: 0;
}

.cssmenu-static ul ul li {
	height: auto;
}

.cssmenu-static ul ul ul {
	margin-left: 0;
}

.cssmenu.cssmenu-static ul ul > li > .cssmenu-title {
	padding-left: 10px;
}

.cssmenu.cssmenu-static ul ul ul > li > .cssmenu-title {
	padding-left: 20px;
}

.cssmenu-actionslinks ul li.has-sub .cssmenu-title:after  { top: 9px; }
.cssmenu-actionslinks ul li.has-sub .cssmenu-title:before { top: 6px; }


/* -- Personnalisation graphique -- */
/* -------------------------------- */

/* --- Niveau 1 --- */
.cssmenu ul ul { box-shadow: 0 0 1px rgba(25, 35, 45, 1)}
.cssmenu ul { background-color: #2F4154;}
.cssmenu ul > li:hover > .cssmenu-title { background-color: #0E2134; color: #1E73BE;}
.cssmenu .cssmenu-title 		{ color: #BDE9F2}
.cssmenu .cssmenu-title:after  	{ background-color: #BDE9F2; }
.cssmenu .cssmenu-title:before 	{ background-color: #BDE9F2; }


/* -- Bouton responsive -- */
/* ----------------------- */

/* --- Classes generales cssmenu --- */
.cssmenu .menu-button {
	display: none;
	position: relative;
	list-style: none;
	line-height: 1;
	font-size: 1.2rem;
}

.cssmenu .menu-button:before {
	font-size: 1.3rem;
}

.cssmenu.small-screen .menu-button {
	display: block;
	padding: 17px 40px 17px 17px;
	text-transform: uppercase;
	font-weight: 700;
	cursor: pointer;
}

#top-footer .cssmenu.small-screen .menu-button {
	color: #444444;
}

.cssmenu.small-screen .menu-button:after, 
.cssmenu.small-screen .menu-button:before {
	position: absolute;
	display: block;
	content: '';
}

.cssmenu.small-screen .menu-button:after {
	height: 4px;
	width: 20px;
	border-width: 2px 0 2px 0;
	border-style: solid;
}

.cssmenu.small-screen .menu-button:before {
	height: 2px;
	width: 20px;
	background-color: #DDDDDD;
	font-size: 1.3rem;
}

.cssmenu.small-screen .menu-button.menu-opened:after {
	height: 2px;
	border: 0;
	transform: rotate(45deg);
}

.cssmenu.small-screen .menu-button.menu-opened:before {
	transform: rotate(-45deg);
}

/* --- Position du bouton --- */
.cssmenu.small-screen .menu-button:after 				{ top: 17px; right: 17px; }
.cssmenu.small-screen .menu-button:before 				{ top: 11px; right: 17px; }
.cssmenu.small-screen .menu-button.menu-opened:after,
.cssmenu.small-screen .menu-button.menu-opened:before 	{ top: 18px; width: 15px; }

/* --- Variante cssmenu-actionslinks --- */
.cssmenu .menu-button:before {
	font-size: 1.3rem;
}

.cssmenu-actionslinks .menu-button {
	float: right;
	position: relative;
	display: inline-block;
	padding: 4px 12px 4px 12px;	
	background-color: #2F4154;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	color: #BDE9F2;
	text-align: center;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
}

@media (min-width: 769px) {
	.cssmenu-actionslinks .menu-button {
		font-size: 0;
	}
}

#main .cssmenu-actionslinks.small-screen .menu-button {
	float: none;
	background-color: transparent;
	font-family: "Trebuchet MS",Verdana,"Bitstream Vera Sans",Times,serif;
	text-align: left;
}

.cssmenu-actionslinks .menu-button + ul {
	left: -9999px;
}

.cssmenu-actionslinks .menu-button:hover + ul,
.cssmenu-actionslinks .menu-button + ul:hover{
	left: auto;
}

.cssmenu-actionslinks.small-screen .menu-button:hover + ul,
.cssmenu-actionslinks.small-screen .menu-button + ul:hover {
	left: -9999px;
}

.cssmenu-actionslinks.small-screen .menu-button + ul.open,
.cssmenu-actionslinks.small-screen .menu-button + ul:hover.open {
	left: auto;
}

.cssmenu-actionslinks .menu-button:before {
	content: "\f013";
}

.cssmenu-tools .menu-button:before {
	content: "\f0c9";
}

.cssmenu-actionslinks ul {
	position: absolute;
	z-index: 10;
	right: 0;
	top: 100%;
	padding: 5px 0;
	width: 170px;
	font-size: 1.2rem;
}

.cssmenu-actionslinks > ul > li > .cssmenu-title {
	text-transform: lowercase;
}

.cssmenu-actionslinks.small-screen ul {
	top: 100%;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.cssmenu-actionslinks.small-screen li.has-sub > a,
.cssmenu-actionslinks.small-screen li.has-sub > .submenu-button {
	display:none;
}

.cssmenu-actionslinks.small-screen li.has-sub > ul {
	display: block !important;
	padding: 0;
}

/* --- Variante tools --- */
.cssmenu-tools.small-screen li.has-sub > a,
.cssmenu-tools.small-screen li.has-sub > .submenu-button {
	display: block;
}

/* --- Variante Static --- */
.cssmenu-static.small-screen .menu-button {
	cursor: default;
}

.cssmenu-static.small-screen .menu-button:after,
.cssmenu-static.small-screen .menu-button:before {
	display: none;
}

.cssmenu-static.small-screen > ul > li > .cssmenu-title,
.cssmenu-static.small-screen ul ul > li > .cssmenu-title {
	padding-bottom: 5px;
}

/* --- Personnalisation graphique du bouton responsive--- */
.cssmenu.small-screen .menu-button:after {
	border-color: #BDE9F2;
}

#main .cssmenu.small-screen .menu-button {
	color: #111111;
}

.cssmenu.small-screen .menu-button:before 								{ background-color: #BDE9F2; }
.cssmenu.small-screen .menu-button.menu-opened:after,
.cssmenu.small-screen .menu-button.menu-opened:before 					{ background-color: #BDE9F2; }

/* -- Bouton submenu -- */
/* -------------------- */

/* --- Classes generales cssmenu --- */
.cssmenu.small-screen > ul > li.has-sub > .cssmenu-title:before,
.cssmenu.small-screen > ul > li.has-sub > .cssmenu-title:after {
	display: none;
}

.cssmenu.small-screen .submenu-button {
	position: absolute;
	z-index: 99;
	right: 0;
	top: 0;
	display: block;
	height: 46px;
	width: 46px;
	cursor: pointer;
}

.cssmenu.small-screen ul ul .submenu-button {
	height: 34px;
	width: 34px;
}

.cssmenu.small-screen .submenu-button:after,
.cssmenu.small-screen .submenu-button:before {
	position: absolute;
	display: block;
	content: '';
}

.cssmenu.small-screen .submenu-button:after {
	width: 8px;
	height: 2px;
}

.cssmenu.small-screen .submenu-button:before {
	width: 2px;
	height: 8px;
}

.cssmenu.small-screen .submenu-button.submenu-opened:before {
	display: none;
}

.cssmenu-actionslinks.small-screen .submenu-button {
	height: 31px;
	width: 31px;
}

/* --- Variante Static --- */
.cssmenu-static.small-screen .submenu-button,
.cssmenu-static.small-screen .submenu-button:after,
.cssmenu-static.small-screen .submenu-button:before {
	display: none;
}

.cssmenu-static.small-screen ul ul,
.cssmenu-static.small-screen ul ul ul {
	display: block !important;
}

/* --- Personnalisation background Bouton submenu --- */
.cssmenu.small-screen .submenu-button:after  						{ background-color: #BDE9F2; }
.cssmenu.small-screen .submenu-button:before 						{ background-color: #BDE9F2; }

.cssmenu.small-screen .submenu-button.submenu-opened:after 			{ background-color: #BDE9F2; }

.cssmenu.small-screen .submenu-button.submenu-opened 				{ background-color: #0E2134; }

/* --- Postion icone Submenu --- */
.cssmenu.small-screen .submenu-button:after 				{ top: 22px; right: 19px; }
.cssmenu.small-screen .submenu-button:before 			 	{ top: 19px; right: 22px; }
.cssmenu.small-screen ul ul .submenu-button:after 		 	{ top: 15px; right: 13px; }
.cssmenu.small-screen ul ul .submenu-button:before 			{ top: 12px; right: 16px; }
.cssmenu-actionslinks.small-screen .submenu-button:after 	{ top: 14px; right: 11px; }
.cssmenu-actionslinks.small-screen .submenu-button:before 	{ top: 11px; right: 14px; }
