/* --------------------------------------
		table.css
Contient les elements pour l'affichage des tableaux HTML et responsive.
 - Affichage des tableaux basic
 - Table responsive basictable.js
--------------------------------------*/


/* -- Affichage des tableaux basic -- */
/* --------------------------------- */
table {
	padding: 0;
	width: 100%;
	border-spacing: 0;
}

/* --- Entete du tableau --- */
table caption {
	margin: 5px 0 5px 20px;
	border-bottom: 1px solid #D1D2D5;
	color: #757679;
	font-size: 13px;
	text-align: left;
}

table thead th {
	padding: 8px;
	background-color: #2F4154;
	color: #BDE9F2;
	text-align: center;
	font-weight: 300;
	text-transform: uppercase
}

/* --- Contenu du tableau --- */
table tbody td {
	padding: 8px;
	background-color: #F2FBFC;
	text-align: center;
}

tr:nth-child(even) td {
	background-color: #FFFFFF;
}

/* --- Pied de tableau --- */
table tfoot tr th {
	padding: 8px;
	background-color: rgba(189, 233, 242, 0.4);
}

table tfoot tr th:only-child {
	text-align: right;
}

table tfoot tr th * {
	vertical-align: middle;
}

table tfoot tr th a {
	color: #676A74;
}
table tfoot tr th select {
	padding: 2px 5px;
}

/* --- Patch thead tableaux formates --- */
table.formatter-table th.formatter-table-head {
	padding: 8px;
	background-color: #2F4154;
	color: #F2F2F2;
	font-size: 1.1em;
	text-align: center;
	font-weight: 300;
	text-transform: uppercase;
}

table.formatter-table th.formatter-table-head p {
	margin-bottom: 0;
}

/* --- Taille des colonnes --- */
.col-smaller { width: 3em;  }
.col-small   { width: 6em;  }
.col-large   { width: 9em;  }
.col-larger  { width: 12em; }
.col-xlarge  { width: 15em; }

/* --- mini tableaux --- */
table.mini th,
table.mini td {
	padding: 3px 1px;
	font-size: 11px;
}

@media (max-width: 768px) {
	table.mini th,
	table.mini td {
		padding: 7px 1px;
	}
}

table.mini th a,
table.mini td a {
	font-size: 11px;
}

/* --- Pagination footer tableaux --- */
table tfoot nav.pagination a {
	color: #8B8D90;
	text-decoration: none;
	padding: 3px 3px;

}

table tfoot nav.pagination a span.current-page {
	color: #CED0D0;
	text-decoration: none;
}

/* --- Affichage des tableaux responsive sur les petits ecrans --- */
@media (max-width: 768px) {
	table thead th,
	table tbody td,
	table tfoot tr th {
		padding: 4px;
		font-size: 0.9em;
	}
}


/* -- Table responsive basictable.js -- */
/* ------------------------------------ */
table.bt thead th {
	display: none;
}

table.bt thead th:first-child{
	display: block;
}

table.bt tbody td {
	display: block;
	width: 100%;
	text-align: left;
	vertical-align: top;
}

table.bt tbody td:before {
	display: inline-block;
	width: 35%;
	content: attr(data-th) " ";
	font-weight: bold;
}

table.bt tbody td.bt-hide {
	display: none;
}

table.bt tbody td .bt-content {
	display: inline-block;
	padding-left: 6px;
	max-width: 100%;
	vertical-align: top;
}

.bt-wrapper.active {
	max-height: 310px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
