/*---------------------------------------------------------
 * Theme    :  AssassinSCreed 
 * Par      : Rusti
 * Date     : 06/02/2016
 * Site web :  http://easy-design.net/
 * Commentaire ou autre de l'auteur 
 # Merci de ne pas toucher au entête des fichiers CSS.
 * Contient les conteneurs de mise en page.
 * Le design.css permet de mettre en forme votre site web avec le design de votre choix
 *---------------------------------------------------------
 * Porté par : EDN | Swan
 * Date      : 06/02/2017
 *---------------------------------------------------------
 * Thème compatible avec un  menu (droite ou gauche)
					le choix reste possible sur un menu
 *----------------------------------------------------------*/

/* -- Éléments HTML génériques spécifique au thème -- */
/* -------------------------------------------------- */
/* afficher le texte sélectionné en blanc sur fond gris */
::-moz-selection { color:#690B00;  background: #cccccc none repeat scroll 0 0;}
::selection     { color:#690B00;  background:#cccccc none repeat scroll 0 0;}

/* afficher le texte sélectionné dans un paragraphe en blanc sur fond gris */
p::-moz-selection { color:#690B00;  background: #cccccc none repeat scroll 0 0; }
p::selection      { color:#690B00;  background: #cccccc none repeat scroll 0 0;}

html {
	font-size: 100%;
	font-size: 10px;
}

body {
    background: #000000 url(images/bg.jpg) no-repeat scroll center top;
    background-attachment: fixed;
    color: #690B00;
    font-family: Verdana,Arial,Helvetica,sans-serif;
   	font-size: 1.3em;
	position: relative;
	height: auto;
	min-height: 100%;
}

@media (max-width: 768px) {
	body {
		font-size: 1.4em;
	}
}

/* -- En-tete de page - Header -- */
/* ------------------------------ */
header#header {
background: url(images/header.jpg) no-repeat scroll center 0 transparent;
height: 370px;
}

/* --- Partie superieure du header --- */

div#top-header {
	background: url(images/titre.png) no-repeat scroll center 0 transparent;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	flex-direction: row;
	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	margin: auto;
	min-height: 280px;
	max-width: 1024px;
}

div#top-header-content {
	flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	-webkit-flex: 1 1 auto;
}

@media (max-width: 768px) {
	div#top-header {
		flex-direction: column;
		-ms-flex-direction: column;
		-webkit-flex-direction: column;
	}
	
	div#top-header-content {
		align-self: flex-end;
		-ms-align-self: flex-end;
		-webkit-align-self: flex-end;
	}
}

/* --- Partie inferieur du header --- */
div#sub-header {
	min-height: 35px;
}

div#sub-header-content{
	margin: auto;
	max-width: 1024px;
}

/* --- Logo et Nom du site web --- */
div#site-infos {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	margin: 1.5em 0 0 1.5em;
	max-width: 940px;
	flex: 1 1 auto;
}

div#site-logo {
	margin: 0 1em 0 0;
	width: 60px;
	height: 60px;
	background-image: url(images/logo.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	-webkit-flex: 0 0 auto;
}

div#site-name-container {
	margin: 0.4em 0 0 0;
}

a#site-name {
	color: #F9FCFF;
	font-size: 3em;
	font-weight: bold;
	line-height: 1em;
	letter-spacing: 0.02em;
	text-decoration: none;
	text-shadow: 0 0 0 rgb(0, 0, 0), 1px 0 0 rgb(0, 0, 0), 2px 0 0.1px rgba(0, 0, 0, 0.1), 2px 0 0.1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0, 0, 0, .1);
}

span#site-slogan {
	display: block;
	padding: 0.1em 0 0 0.1em;
	color: #FFFFFF;
	font-size: 1em;
	letter-spacing: 0.1em;
}

@media (min-width: 769px) {
	div#site-logo {
		width: 90px;
		height: 90px;
	}

	div#site-name-container {
		margin: 1em 0 0 0;
	}

	a#site-name {
		font-size: 4em;
	}
	
}

/* -- Conteneur global du site -- */
/* ------------------------------ */
div#SuperGlobal {
    margin: auto;
    width: 995px;
}

div#global {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	flex-direction: column;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	margin: 1.5em auto 0 auto;
	padding: 0 10px;
	max-width: 1024px;
}

div#main {
	padding: 0 0 10px 0;
	max-width: 100%;
	order : 1;
	-ms-flex-order: 1;
	-webkit-flex-order: 1;
}

aside#menu-left,
aside#menu-right {
	width: 100%;
}

aside#menu-left  {
	order : 2;
	-ms-flex-order: 2;
	-webkit-flex-order: 2;
}
aside#menu-right {
	order : 3;
	-ms-flex-order: 3;
	-webkit-flex-order: 3;
}

@media (min-width: 769px) {
	div#global {
		min-height: 100vh;
		flex-direction: row;
		-ms-flex-direction: row;
		-webkit-flex-direction: row;
	}

	div#main {
		padding: 0 10px;
		order : 2;
		-ms-flex-order: 2;
		-webkit-flex-order: 2;
		flex: 1 0 auto;
		-ms-flex: 1 0 100%;
	}

	aside#menu-left,
	aside#menu-right {
    	width: 200px;
	}

	aside#menu-left  { 
		order : 1;
		-ms-flex-order: 1;
		-webkit-flex-order: 1;
	}
	aside#menu-right { 
		order : 3;
		-ms-flex-order: 3;
		-webkit-flex-order: 3;
	}
	
	#main.main-with-left,
	#main.main-with-right {
		width: calc(100% - 200px);
		-ms-flex: 1 0 auto; /*Tricks IE*/
	}
	
	#main.main-with-left.main-with-right {
		width: calc(100% - 400px);
		-ms-flex: 1 0 auto; /*Tricks IE*/
	}
}

div#top-footer {
	padding: 2% 0;
}


/* -- Contenu de la page -- */
/* ------------------------ */

/* --- Contenu central --- */
div#main-content {
	padding-top: 0.8em;
	border: 1px solid #690B00;
	background:rgba(255, 255, 255, 0.4) ;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px

}

div.block-container {
	margin-top: 15px;
}

/* --- Emplacement au dessus et en dessous du contenu de la page --- */
div#top-content {
	margin: 0 0 2% 0;
	padding: 0.1em 0.8em;
	border: 1px solid #690B00;
	background:rgba(255, 255, 255, 0.4) ;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px
}

/* --- Emplacement au dessus du pied de page --- */
div#bottom-content {
	margin: 2% 0 0 0;
	padding: 0.1em 0.8em;
	border: 1px solid #690B00;
	background:rgba(255, 255, 255, 0.4) ;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px
}


/* -- Pied de page - Footer -- */
/* --------------------------- */
footer#footer {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8c98a7+0,5e6d81+49,444954+100 */
	background: #8c98a7; /* Old browsers */
	background: -moz-linear-gradient(top,  #8c98a7 0%, #5e6d81 49%, #444954 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #8c98a7 0%,#5e6d81 49%,#444954 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #8c98a7 0%,#5e6d81 49%,#444954 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c98a7', endColorstr='#444954',GradientType=0 ); /* IE6-9 */
	border-top: 2px #690B00 solid;
	width: 100%;
	clear: both;
}

footer#footer .footer-content {
	margin: 0 auto 0 auto;
	padding: 1.5em 0;
	border-bottom: 2px groove #444444;
}

footer#footer .footer-infos {
	padding-top: 10px;
	min-height: 40px;
	text-align: center;
}

footer#footer .footer-infos span {
	color: #FFFFFF;
	font-size: 0.8em;
}


/* -- Elements specifiques PHPboost -- */
/* ----------------------------------- */

/* --- Compteur de visite --- */
div#visit-counter {
	position: absolute;
	right: 0;
	margin-right: 15px;
	font-size: 0.9em;
	color: #E9ECD9;
	text-align: right;
}

@media (min-width: 769px) {
	div#visit-counter {
		top: 100px;
	}
}

/* --- Barre de lien rapide --- */
nav#breadcrumb {
	margin: 0 0 20px 10px;
	text-indent: 10px;
}

nav#breadcrumb ol {
	margin: 0;
	list-style: none;
}

nav#breadcrumb ol li {
	display: inline;
}

nav#breadcrumb ol li:not(.current):after {
	content: '::';
}
/* --- Search - Mini --- */
/* ------------------------ */

#mini-search-form > button {
    background-color: #3B483E;
border: 1px solid #CCCCCC;
border-color: #515E55 #515E55 #3B483E #3B483E;	
text-shadow: 0 1px 1px rgba(255, 255, 255, 0.4);
}

#mini-search-form > button:hover {
    background-color: #515E55;
}

/* --- Entete articles/news --- */
/* ------------------------ */
.subhead-top {background: #394147; padding:5px;}

/* ##############################
		 menus liens -buttons
#################################*/

#menus {
    height: 50px;
    margin: auto;
    padding: 0;
    width: 840px;
}
#menus ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#menus ul li {
    float: left;
    margin: 0;
    padding: 7px;
    width: 116px;
}
#menus ul li a {
	background: url(images/btn.png) no-repeat scroll 0 0 transparent;
	transition-property: color;
	transition-duration: 1s;	
  color: #000000;
    float: left;
    font-size: 14px;
    font-weight: 700;
    height: 30px;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 116px;
}
#menus ul li a span {
	cursor: pointer;
	display: block;
	text-align: center;
	margin: auto;
	height: 30px;
	margin-top: 4px;
}
#menus ul li a:hover, #menus ul li.active a {
	background: url(images/btn-o.png) no-repeat scroll 0 0 transparent;
	transition-property: color;
	transition-duration: 1s;
    color: #690B00;  
    font-size: 14px;
    font-weight: 700;
    margin: 0 auto;
    text-align: center;
	text-decoration: none;
	width:116px
}
#menus ul li a:hover span, #menus ul li.active a span {    
}

@media (max-width:768px) {
	#menus {display:none;}
}

/*======================================
		Todd Motto Labs -
		Flaunt JS Navigation
		Adapté pour phpboost 5.0
		URL: www.toddmotto.com
========================================*/

section#Motto{
	background: #3d3d3b;
    margin: auto;
    padding: 0px;
    vertical-align: top;
    width: 100%;
	height:auto;
	z-index:100;
}
#menu-title{
    color: #ffffff;
    float: left;
    font-weight: bold;
    padding: 18px 0 0 87px;
    text-align: center;
    text-transform: uppercase;
	}
.nav {
	position:relative;
	/*display:inline-block;*/
	font-size:14px;
	font-weight:900;
}
.nav-list {
	text-align:left;
}
.nav-item {
	float:left;
	*display:inline;
	zoom:1;
	position:relative;
}
.nav-item a {
	background:#000000 none repeat scroll 0 0;
	border-bottom:1px solid #690B00;
	display:block;
	color:#ffffff;
	padding:15px 20px;

}
.nav-item > a:hover {
	background:#222222 none repeat scroll 0 0;
}
.nav-item:hover .nav-submenu {
	display:block;
}
/* Navigation submenu */
.nav-submenu {
	display:none;
	position:absolute;
	left:0;
	width:180px;
}
.nav-submenu-item a {
	background:rgba(255,255,255, 0.5);
	border-bottom:1px solid #690B00;
	display:block;
	padding:15px;
}
.nav-submenu-item a:hover {
	background:#222222;
}
/* Mobile navigation */
.nav-mobile {
	display:none; /* Hide from browsers that don't support media queries */
    background: #3d3d3b url(images/nav.svg) no-repeat scroll center center / 22px auto;
    border-left: 1px solid #222222;
    cursor: pointer;
    height: 50px;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
}

/* Mobile navigation, clickable area for revealing <ul> */
.nav-click {
	position:absolute;
	top:0;
	right:0;
	display:none;
	border-left: 1px solid #690B00;
	height:49px;
	width:50px;
	cursor:pointer;
}
.nav-click i {
	display:block;
	height:48px;
	width:48px;
	background: url(images/drop.svg) no-repeat center center;
	background-size:20px;
}
.nav-click:hover {
	background:rgba(255,255,255, 0.5);
}
.nav-rotate {
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	transform:rotate(180deg);
}

/*======================
 --- Scroll to Top ---
=======================*/

.scroll-to {
	position: fixed;
	z-index: 10;
	display: none;
	background-color: rgba(15, 15, 16, 0.8);
	border-radius: 12px;
}

#scroll-to-top {
	right: 25px;
	bottom: 25px;
	padding: 9px 11px 11px 10px;
}

.scroll-to i {
	font-size: 2em;
	color: rgba(255, 255, 255, 0.8);
	transition: 0.2s;
}

.scroll-to:hover i {
	color: rgba(255, 255, 255, 1);
	transition: 0.5s;
}


/*======================
 ---   Cookie Bar    ---
=======================*/

.cookiebar-container {
	z-index: 100;
	left: 0;
	right: 0;
	top: 0;
	padding: 7px 20px;
	background-color: #FFFFFF;
	border-bottom: 2px solid #000000;
	font-size: 0.9em;
	text-align: center;
}

.cookiebar-container.fixed {
	position: fixed;
}

.cookiebar-content {
	text-align: justify;
}

@media (min-width: 769px) {
	.cookiebar-content {
		display: inline-block;
		max-width: calc(100% - 300px);
		vertical-align: middle;
	}

	.cookiebar-actions {
		display: inline-block;
		width: 300px;
	}
}

@media (max-width: 768px) {
	.cookiebar-content {
		margin-bottom: 5px;
	}

	.cookiebar-actions {
		margin: 15px 0 5px 0;
	}
}

.cookiebar-button {
	margin: 0 5px 0 5px;
	border-radius: 4px;
	color: #FEFEFE;
}

@media (max-width: 768px) {
	.cookiebar-button {
		margin: 0 10px 0 10px;
	}
}

.cookiebar-button-understand 		{ background: linear-gradient(to bottom, #8c98a7 0%,#5e6d81 49%,#444954 100%); border: 1px solid #888888; }
.cookiebar-button-understand:hover 	{ background: linear-gradient(to bottom, #8c98a7 0%,#5e6d81 49%,#444954 100%); border: 1px solid #222222;}

.cookiebar-button-allowed 			{ background: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%); border-color: #000000; }
.cookiebar-button-allowed:hover 	{ background-color: #000000; }

.cookiebar-button-declined 			{ background: linear-gradient(to bottom, #a90329 0%,#8f0222 44%,#6d0019 100%); border-color: #6d0019; }
.cookiebar-button-declined:hover 	{ background-color: #6d0019; }

.cookiebar-more a {color: #222222; }

@media (max-width: 468px) {
	.cookiebar-more {
		display: block;
		margin: 10px 0 5px 0;
	}
}

.aboutcookie-title {
	font-size: 1.3em;
	line-height: 1.3em;
	font-weight: bold
}

.aboutcookie-title + p {
	margin: 0px 0 20px 0px;
}

footer#cookiebar-change-choice {
	margin-top: 10px;
	text-align: center;
}

.cookiebar-change-choice-link {
	text-align: center;
}
/*======================================
			Alls Media Queries
		 CSS applique aux ꤲans PC 
========================================*/

@media (max-width:768px) {

	body {font-size: 1.4em;}
	
	div#SuperGlobal {width: auto;}	
	header#header {margin: auto; background:none; height: 64px; min-height:0px; margin: auto;width: auto;}
	div#top-header, div#titre, div#footer_left{display: none;}
	div#header-gsm {
		background-color: #880000;
		border-bottom: 2px solid #000000;
		min-height:50px; 
		text-align:center;
	}
	div#sub-header {
		float: none;
		margin-right: 0px;
		margin-top: 0px;
	background: #222222; /* Old browsers */
	border-bottom: 2px solid #690B00;
    min-height: 35px;
    text-align: center;
	box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.8);
	}

	a#site-name {
    color: #f5f5f5;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 3.5em;
    text-shadow: none;
	}
	div#global{background:rgba(255, 255, 255, 0.7); margin: a auto 0 auto;}
	aside#menu-left {border-right: none;}
	aside#menu-right{border-left: none;}	
	
	div#top-footer {background:rgba(255, 255, 255, 0.7) none repeat scroll 0 0;}	

	div#footer-bis {  height: 1px;}	
	footer#footer .footer-infos {
		min-height: 40px;
		text-align: center;
		margin-bottom: 0px;
		padding-top: 10px;
	}
	footer#footer {width:100%}
	footer#footer .footer-infos span a{color:#690B00;}
	footer#footer .footer-infos span a:hover {color:#ACACAC;}
	.footer-infos span {
    display: block;
    padding: 0 0 5px;
	}
	footer#footer .footer-infos {
    min-height: 40px;
    padding-top: 5px;
    text-align: center;
}
	footer#footer .footer-infos span {
	color: #eeeeee;
	font-size: 0.8em;
}
	span.footer-infos-separator {
		display: none;
	}
}

@media (min-width:769px) {
	div#header-gsm{display: none;}
}

@media (min-width:769px) {
	section#Motto {display: none;}
}

@media only screen and (min-width: 320px) and (max-width: 768px) {

	.nav-mobile {
		display:block;
	}
	.nav {
		width:100%;
		padding:50px 0 0;
	}
	.nav-list {
		display:none;
	}
	.nav-item {
		width:100%;
		float:none;
		list-style: none outside none;		
	}
	.nav-item > a {
		padding:15px;
	}
	.nav-click {
		display:block;
	}
	.nav-mobile-open {
		border-radius:5px 5px 0 0;
		-webkit-border-radius:5px 5px 0 0;
		-moz-border-radius:5px 5px 0 0;
	}
	.nav-item:hover .nav-submenu {
		display:none;
	}
	.nav-submenu {
		position:static;
		width:100%;
	}
	ul{margin-left:0px;}
	.nav-submenu{margin-bottom:0px}
}
@media (max-width:768px) {
	div#menugo {display: none;}
}
