/*---------------------------------------------------------
 * Theme    : Thème WindLight
 * Par      : EDN-Swan
 * Date     : 22/02/09
 * Site web :  http://easy-design.net/
 * Commentaire ou autre de l'auteur 
 # Merci de ne pas toucher au entête des fichiers CSS.
 * Contient les conteneurs de mise en page.
 * Le design.css permet de mettre en forme votre site web avec le design de votre choix
 *---------------------------------------------------------
 * Porté par : EDN | Swan
 * Date      : 15/03/2017
 *---------------------------------------------------------
 /* ---    Shoutbox.css    --- */
 /*---------------------------------------------------------
 * Thème compatible avec un  menu (droite ou gauche)
					le choix reste possible sur un menu
 *----------------------------------------------------------*/
 
 /* ---      Shoutbox      --- */
/* ------------------------ */

#module-shoutbox .message > header {
	display: none;
}
