
/* --- ###################################################################### ---*/

/*                            admin_table.css
 *                            
 *            Contient les css de mise en forme des tableaux
 *            
 * 
 * --- ###################################################################### ---*/


table,
.table-fixed {
	width: calc(100% - 10px) !important;
	padding: 0;
	margin: 8px 5px;
	border-spacing: 0;
	border: 1px solid #1D3248;
}

table.mini {
	width: 100% !important;
	margin: 8px 0 !important;
}

/* Entete */
table caption {
	margin: 5px;
	font-size: 2em;
	text-align: left;
	border-bottom: 1px solid #647689;
}

@media (min-width: 769px) {
	table,
	.table-fixed {
		width: calc(100% - 40px) !important;
		margin: 8px 20px;
	}
}

table thead th {
	padding: 8px;
	background-color: #1D3248;
	font-size: 1.2em;
	text-align: center;
	font-weight: normal;
}

/* Contenu */
table tbody td {
	padding: 8px;
	text-align: center;
}

tr:nth-child(even) td {
	background-color: #455A6F;
}

/* Pied */
table tfoot tr th {
	background-color: #1D3248;
	padding: 8px;
}

table tfoot tr th:only-child {
	text-align: right;
}

table tfoot tr th * {
	vertical-align: middle;
}

table tfoot tr th a {
	color: #676A74;
}

table tfoot tr th select {
	padding: 2px 5px;
}

/* Patch thead Tableaux formatés */
table.formatter-table th.formatter-table-head {
	padding: 8px;
	background-color: #4D4C50;
	color: #E5E6E6;
	font-size: 1.4em;
	text-align: center;
	font-weight: normal;
}

table.formatter-table th.formatter-table-head:first-child { border-top-left-radius: 3px;  }
table.formatter-table th.formatter-table-head:last-child  { border-top-right-radius: 3px; }

table.formatter-table th.formatter-table-head a 		{ color: #E5E6E6; }
table.formatter-table th.formatter-table-head a:hover 	{ color: #FFFFFF; }

table.formatter-table th.formatter-table-head p {
	margin-bottom: 0;
}

.col-smaller { width: 3em;  }
.col-small   { width: 6em;  }
.col-large   { width: 9em;  }
.col-larger  { width: 12em; }
.col-xlarge  { width: 15em; }

@media (max-width: 980px) {
	.col-large {
		width: 100%
	}
	
	table tbody td	{
		border-right: 1px solid #D1D2D4;
	}

	table tbody tr td.no-separator {
		border-left: 1px solid #D1D2D4;
	}
}

/* Mini tableaux */
table.mini th,
table.mini td {
	padding: 3px 1px;
	font-size: 0.95em;
}

table.mini th a,
table.mini td a {
	font-size: 0.95em;
}

/* Pagination footer tableaux */
table tfoot nav.pagination a {
	padding: 3px 3px;
	color: #8B8D90;
	text-decoration: none;
}

table tfoot nav.pagination a span.current-page {
	color: #CED0D0;
	text-decoration: none;
}

td.input-radio {
	width: 80px;
}

td.input-radio .form-field-radio-span {
	padding: 0;
}

/* --- images dans une table --- */
.picture-table {
	vertical-align: top;
	max-width: 180px;
}


/* --- responsive tables basictable.js --- */
table.bt thead th {
	display: none;
}

/* --- couleur des fleches de filtre --- */

.table-arrow-color {
	color: #81A4C8;
}

/* --- pagination des tables --- */

.table-rows-options {
	padding: 0 10px;
}

.table-rows-options select{
	margin: 5px 0;
}

@media (min-width: 981px) {
	.table-navigation,
	.table-rows-options {
		float: right;
	}
}

/* --- largeur specifique de colonne --- */
@media (min-width: 981px) {
	.td150 	{ width: 150px; }
	.td100 	{ width: 100px; }
	.td75	{ width: 75px;  }
	.td70 	{ width: 70px;  }
	.td50 	{ width: 50px;  }
}

/* --- design mobile --- */
table.bt thead th:first-child {
	display: block;
	border-radius: 0;
}

@media (min-width: 769px) {
	table.bt thead th:first-child {
		border-radius: 3px 3px 0 0;
	}
}

table.bt tbody td {
	display: block;
	width: 100%;
	vertical-align: top;
	text-align: left;
}

table.bt tbody td:before {
	display: inline-block ;
	width: 35%;
	content: attr(data-th) " ";
	font-weight: bold;
}

table.bt tbody td.bt-hide {
	display: none;
}

table.bt tbody td .bt-content {
	vertical-align: top;
	display: inline-block ;
	padding-left: 6px;
	max-width: 100%;
}

.bt-wrapper.active {
	max-height: 310px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
