
/* --- ###################################################################### 
 *
 *                            admin_design.css
 *                            
 *            Contient les conteneur, fortement dependant du design.
 *            - html/body
 *            - Entete de page
 *            - Corps de page
 *            - Pied de page
 * 
 * --- ###################################################################### ---*/

html {
	font-size: 100%;
	font-size: 10px;
}

body {
	position: relative;
	height: auto;
	min-height: 100%;
	background: #2F4154 ;
	color: #b8c1cb;
	font-size: 1.5em;
	font-family: "Trebuchet MS", Verdana, 'Bitstream Vera Sans', Times, serif;
}

@media (min-width: 769px) {
	body {
		font-size: 1.3em;
	}
}

/* -- Entete de la page =============================================== */
header#header-admin {
	background: #0E2134;
}

div#site-name-container {
	padding: 20px 10px;
	text-align: center;
}

a#site-name {
	color: #647689;
	font-size: 1.2em;
	font-weight: 400;
	line-height: 1em;
	text-shadow: 0 0 0 rgb(0,0,0), 1px 0 0 rgb(-255,-255,-255),2px 0 1px rgba(0,0,0,0.1),2px 0 1px rgba(0,0,0,0.2),0 0 1px rgba(0,0,0,.1);
	letter-spacing: 1.1pt;
	text-decoration: none;
}

/* -- Sous-entete de la page ========================================= */
div#sub-header-admin {
	z-index: 8;
	width: 100%;
}

h3.menu-title {
	display: none;
}

@media (min-width: 769px) {
	header#header-admin {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		z-index: 3;
		max-width: 230px;
		max-height: none;  
		height: 100%;
		width: 250px;
	}
	
	div.header-admin-container{
		position: absolute;
		max-height: 100%;
		left: 0;
	}
	
	div#site-name-container {
		padding: 30px 10px;
		width: 230px
	}
	
	h3.menu-title {
		display: block;
		margin: 20px 0 0;
		padding: 5px 0 5px 30px;
		background: rgba(0,0,0,.2);
		overflow: hidden;
		color: #647689;
	}

	div.pbt-logo,
	div.site-logo {
		display: inline-block;		
		height: 25px;
		width: 25px;
		background-image: url('images/logo.png');
		background-repeat: no-repeat;
		background-position: center ; 
		background-size: cover;
		vertical-align: middle;
	}
}

/* --- Conteneur principal ==================================================== */
div#global {
}

@media (min-width: 769px) {
	div#global {
		width: 100%;
		padding-left: 230px;
	}
}

/* --- Conteneurs ============================================================= */
div#admin-main {
	min-height: 95vh;
	padding-bottom: 40px;
}

div#admin-contents {	
	clear: both;
	margin: auto;
}

@media (min-width: 769px) {
	div#admin-contents{
		padding: 10px 20px;
	}
}

html > body div#admin-contents {
	height: auto;
	min-height: 450px;
}

/* --- Tableaux de l'administration ============================================= */
.block-container {
	margin-top: 15px;
	width: 98%;
}

/* --- Coloration des moteurs de recherche ====================================== */
.robot {
	color: #FF6600;
	font-size: 0.9em;
	font-weight: bold;
}


/* -- Pied de page ============================================================= */
footer#footer {
	min-height: 5vh;
	padding: 5px 10px;
	background: #0E2134;
	border-top: #647689 5px solid;
	text-align: right;
}

footer#footer span {
	font-size: 0.8em;
}

.powered-by {
	font-size: 1em;
}
