
/* --- ###################################################################### 
 *
 *                            admin_content.css
 *                            
 *            Contient la mise en forme des pages specifiques aux modules
 *            - conteneur de page
 *            - pagination
 *            - explorateur de categories
 *            - drag and drop
 *            - page d'accueil
 *            - pages des bases de donnees
 *            - pages des statistiques
 *            - pages des menus
 * 
 * --- ###################################################################### ---*/


/* --- Conteneurs, elements de module, ... =========================================== */
section,
article {
	margin: auto auto 10px auto;
	width: 96%;
	vertical-align: top;
}

section header,
article header {
	margin: 0 0 20px 0;
}

/* --- Titre d'une page ou d'un element d'un module ================================== */
section header h1,
article header h1 {
	border-bottom: 1px solid #336397;
}

section header h1,
article header h1 {
	font-size: 1.6em;
	font-weight: bold;
}

section header h2,
article header h2 {
	margin-left: 16px;
	border-bottom: 1px solid #336397;
}

section header h2,
article header h2 {
	font-size: 1.4em;
	font-weight: bold;
}

section header h3,
article header h3 {
	margin-left: 16px;
	border-bottom: 1px solid #336397;
}

section header h3,
article header h3 {
	font-size: 1.3em;
	font-weight: bold;
}

/* --- Titre d'une pied de page ou d'un element d'un module ================================== */
section footer,
article footer {
	margin-bottom: 15px;
}

/* --- articles --- */
.article-several {
	clear: both;
}

/* --- Icones avec les actions (edition, suppression, etc) =================== */
span.actions {
	float: right;
}

span.actions a {
	font-size: 1em;
}

.more {
	font-size: .95em;
	font-style: italic;
}

/* Contenu */
.content {
	margin: 0 15px;
	word-wrap: break-word;
	overflow: hidden;
	text-align: justify;
}

/* Pagination */
section footer ul.pagination {
	text-align: center;
}

ul.pagination {
	margin: 0;
}

ul.pagination .fa:before {
	font-size: 1em;
}

ul.pagination-block {
	margin: 5px 0;
}

ul.pagination-block li {
	padding: 2px 2px;
}

ul.pagination-block li a {
	display: inline-block;
	padding: 2px 7px;
	outline: none;
	font-weight: bold;
	font-size: 1em;
	text-align: center;
	text-decoration: none;
}

ul.pagination-block li a {
	background-image: linear-gradient(to bottom,  rgba(255, 255, 255, 0.18) 0%, rgba(56, 56, 56, 0.10) 100%);
	background-color: #F9F9F9;
	border: 1px solid #CCCCCC;
	border-color: #E1E1E1 #E1E1E1 #BFBFBF #CFCFCF;
	border-radius: 4px;
	box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.2), 0 0 2px rgba(0, 0, 0, 0.05);
	color: #333333;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
}

ul.pagination-block li a:hover {
	background-color: #FDFDFD;
	box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.2), 0 0 2px rgba(0, 0, 0, 0.1);
	transition: all 0.1s linear;
}

ul.pagination-block li a:active {
	background-color: #F1F1F1;
	border: 1px solid #DDDDDD;
	box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.2), 0 0 2px rgba(0, 0, 0, 0.05);
}

ul.pagination-block li a.current-page {
	background-color: #3B6B9F;
	border-color: #366393;
	color: #FEFEFE;
	text-decoration: none;
}

ul.pagination-block li a.current-page:hover, ul.pagination-block li a.current-page:hover {
	background-color: #366393;
	border-color: #315A86;
}

ul.pagination-block-bis li a.prev-page,
ul.pagination-block-bis li a.next-page {
	border: none;
	background: none;
	box-shadow: none;
	text-shadow: none;
}

ul.pagination-block-bis li a.prev-page:hover,
ul.pagination-block-bis li a.next-page:hover {
	text-decoration: underline;
}

/* --- Block ==================================================================== */
.block .content,
.medium-block .content,
.small-block .content {
	margin: 0;
}

.block h1,
.medium-block h1,
.small-block h1 {
	border: none;
}

.block {
	width: auto;
}

.block header {
	margin-bottom: 10px;
}

.block footer {
	margin: 0;
}

.medium-block,
.small-block {
	display: inline-block;
	margin: 0.5%;
	vertical-align: top;
}

.small-block,
.medium-block {
	float: left;
	margin: 0;
	width: 100%;
}

.medium-block select{
	margin-bottom: 10px;
}

@media (min-width: 981px) {
	.small-block,
	.medium-block {
		float: left;
	}

	/* Affiche 3 blocs côte à côte */
	.small-block {
		width: 33.33%;
	}
	
	/* Affiche 2 blocs côte à côte */	
	.medium-block {
		width: 50%;
	}
}

/* --- Exploreur des catégories ================================================= */
.explorer .cats,
.explorer .files {
	display: inline-block;
	margin: 5px 0.33%;
	width: 62%;
	vertical-align: top;
}

.explorer .cats {
	width: 35.6%;
	min-width: 200px;
}

.explorer h1 {
	margin: 5px 0;
	color: #666666;
	font-size: 1em;
}

.explorer .content {
	padding: 5px 0;
	min-height: 120px;
	border: 1px solid #DDDDDD;
	border-radius: 3px;
}

.explorer .content ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.explorer .content ul ul {
	margin-left: 22px;
}

.explorer .content ul a.parent {
	float: left;
	height: 0;
}

.explorer .content ul a.parent i[id^="img2_"] {
	margin-left: -18px;
}

.explorer .content ul a {
	display: block;
	padding: 3px 0;
	color: #666666;
	text-decoration: none;
	text-align: left;
}

.explorer .content > ul > li > a {
	padding: 3px 5px;
}

.explorer .content ul .fa {
	width: 20px;
	vertical-align: top;
}

.explorer .content ul .fa:before {
	vertical-align: middle;
}

.explorer .content ul a.parent .fa:first-child {
	width: 14px;
}

.explorer .content ul a.parent .fa:first-child:before {
	width: 14px;
	font-size: .95em;
}

.explorer .content ul a:hover,
.explorer .content ul a:hover+a {
	background-color: #EEEEEE;
}

.explorer .content ul .sub a.parent {
	padding-left: 4px;
}

.explorer .selected {
	background-color: #DDDDDD;
}

.options {
	float: right;
	margin: 5px;
	padding: 6px 12px;
	background-color: #1D3248;
	border: 1px solid #0E2134;
}

.options h6 {
	margin: 10px 3px;
	font-size: 1.1em;
}

/* --- Gestion des Categories --- */
#cats-elements-list {
	position: relative;
	padding: 5px;
}

/* --- Système de drag&Drop ================================================== */
.sortable-block .sortable-element > .sortable-block {
	margin-left: 30px;
}

.sortable-block {
	margin: 0;
	padding: 0;
	min-height: 24px;
	list-style-type: none;
	list-style-position: outside;
}

.sortable-block .sortable-element {
	display: table;
	margin-bottom: 6px;
	padding: 0;
	width: 100%;
	background-color: #1D3248;
	border: 1px solid #647689;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
	transition: box-shadow 0.2s;
}

.sortable-block .sortable-element:hover {
	border: 1px solid #1D3248;
	box-shadow: 0 0 5px #EAEAEA;
}

@media (min-width: 769px) {
	.sortable-block .sortable-element .sortable-selector {
		position: relative;
		display: table-cell;
		width: 20px;
		background-color: #81A4C8;
		opacity: 0.3;
		transition: opacity 1s;
		cursor: move;
	}
	
	.sortable-selector:after {
		position: absolute;
		top: 28%;
		left: 2px;
		content: '\f047';
		color: #FFFFFF;
		font-family: fontawesome;
	}
}

.sortable-block .sortable-element:hover .sortable-actions {
	opacity: 1;
}

.sortable-block .sortable-element:hover .sortable-selector {
	width: 20px;
	opacity: 0.6;
}

@media (min-width: 769px) {
	.sortable-block .sortable-element .sortable-selector {
		width: 20px;
		opacity: .6;
	}
	
	.sortable-block .sortable-element:hover .sortable-selector {
		opacity: 1;
	}
}

.sortable-block .sortable-title {
	padding: 8px 5px 5px 10px;
}

.sortable-block .sortable-title > span {
	font-size: 1.5em;
	font-weight: bold;
}

.sortable-block .sortable-title span.cat-desc {
	font-size: 0.8em;
	font-weight: normal;
	font-style: italic;
}

.sortable-block fieldset {
	padding: 0 30px;
}

.sortable-block .sortable-actions {
	float: right;
	padding: 3px 3px;
	opacity: 0.5;
	transition: opacity 0.2s;
}

.sortable-block .sortable-element hr {
	margin-top: 5px;
	background-color: #999999;
}

.sortable-block .sortable-element label {
	margin-left: 14px;
	color: #1F507F;
}

.sortable-block .sortable-actions img,
.sortable-block .sortable-element:hover label,
.sortable-block .sortable-element .fa:hover {
	cursor: pointer;
}

.dragged {
	position: absolute;
	z-index: 200;
	opacity: 0.9;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) !important;
}

body.dragging, body.dragging * {
	cursor: move !important;
}

.dropzone {
	margin: 10px 0;
	padding-top: 5px;
	height: 30px;
	opacity: 0.6;
	border: 1px dashed #AAAAAA;
	border-radius: 5px;
	text-align: center;
	color: #AAAAAA;
}

.preview img {
	overflow: hidden;
}


/* --- Page d'accueil ========================================================== */
.welcome {
	display: table;
	margin: auto;
	padding:5px;
	overflow: hidden;
}

div.index-logo {
	float: left;
	width: 90px;
	height: 90px;
	background-image: url('images/logo.png');
	background-repeat: no-repeat;
	background-position: center ; 
	background-size: cover;
}

.welcome img {
	margin-right: 5px;
}

.welcome-desc {
	padding-top: 10px;
}

.welcome-desc p {
	padding: 10px;
	clear: both;
}

.quick-acces ul {
	margin:0 0 20px 30px;
}

@media (min-width: 980px) {
	.welcome {
		padding:10px;
	}
	
	.welcome-desc{
		float: left;
		margin-left: 20px;
	}
}

.system-report {
	font-family: monospace;
}

.quick-access {
	display: none;
}

.admin-index-comments .form-element{
	max-height: 400px;
	overflow: auto;
}

.admin-index-comments p.smaller {
	margin-top: 15px;
}

div[class*="admin-index"] {
	margin: 20px 5px 0;
}

div[class*="admin-index"] h2 {
	padding: 0 0 8px;
	border-bottom: 1px solid #647689;
	color: #647689
}

@media (min-width: 769px) {
	.quick-access {
		display: block;
	}

	.quick-access ul li {
		padding: 5px 0;
	}

	div[class*="admin-index"] {
		margin: 20px 20px 0;
	}
}

/* --- configuration generale --- */
.admin-theme-img {
	max-height: 180px;
	max-width: 180px;
	margin-bottom: 5px;
}

/* --- updates --- */
.update-desc {
	padding: 10px 5px 5px 5px;
	text-align: justify;
}

/* --- database =============================================================== */
.db-restore {
	padding: 5px;
}

.db-operator-color 	{ color:#FF00FF; }
.db-keywords-color 	{ color:#990099; }
.db-text-color		{ color:#008000; }
.db-number-color 	{ color:#008080; }

.block-contents1 {
	margin-bottom: 5px;
	padding: 5px 5px 7px 5px;
}

.db-executed-query {
	background-color: #b8c1cb;
	margin: 0;
}

.db-executed-query p {
	color: #000000;
	font-size: 1em;
}

.db-query-result {
	margin: auto;
	padding: 18px 2px;
	width: 99%;
	overflow: auto;
}

.cssmenu.cssmenu-group .menu-button	{
	color: #676A74;
}

.cssmenu.cssmenu-group .menu-button:before,
.cssmenu.cssmenu-group .menu-button.menu-opened:before,
.cssmenu.cssmenu-group .menu-button.menu-opened:after	{
	background-color: #676A74;
}

.cssmenu.cssmenu-group .menu-button:after {
	border-color: #676A74;
}

/* --- statistiques =============================================================== */
@media (max-width: 768px) {
	#menustats a.js-menu-button {
		display: block;
		color: #555555;
	}
}

.bargraph img {
	width: 100%;
}

@media (min-width: 641px) {
	.bargraph img {
		width:auto;
	}
}

.fieldset-img {
	width: 100%;
}

@media (min-width: 641px) {
	.fieldset-img {
		width: auto;
	}
}

/* --- Gestion des Menus ==================================================== */
.menu-link-list {
	margin-left: 20px;
	padding: 10px 0;
	list-style-type: none;
	list-style-position: outside;
}

.menu-link-element {
	margin-top: 10px;
	padding: 5px;
	background-color: #E5E5E5;
	border: 1px solid #8F8F8F;
}

.menu-link-menu {
	margin-top: 15px;
	background-color: #EFEFEF;
	border: 1px solid #8F8F8F;
}

.menu-link-element:hover {
	border-color: #AAAAAA;
	cursor: move;
}

.menu-link-element label {
	color: #1F507F;
}

.menu-link-element:hover label 	{ cursor: move; }
.menu-link-element:hover img 	{ cursor: pointer; }
.menu-link-element:hover label	{ cursor: pointer; }

/* --- Choix des themes --- */
.themesmanagement {
	padding: 8px 12px;
	overflow: hidden;
}

@media (min-width: 769px) {
	.themesmanagement {
		padding: 12px 12px 13px;
	}
}

.themesmanagement > div {
	float: right;
}

.themesmanagement select {
	margin-right: 20px;
	padding: 0;
	width: auto;
	min-width: 200px;
}

/* --- colonnes des menus --- */
.menusmanagement {
	padding: 10px;
}

.menusmanagement a,
.menusmanagement i{
	color: #4372AA !important;
}

.menusmanagement a:hover {
	color: #2D4D73 !important;
}

.menumanagement hr {
	margin: 10px 0;
}

#valid-position-menus {
	position: fixed;
	z-index: 2;
	bottom: 10%;
	left: 0;
	right: 0;
	text-align: center;
	padding: 6px;
}

@media (min-width: 481px) {
	#valid-position-menus {
		left: auto;
		right: 0;
		margin-right: 5px;
		bottom: 5%;
		padding: 6px;
	}
}

div.container-block {
	margin: auto;
	width: 165px;
}

div.container-block > div {
	float: left;
	position: relative;
	z-index: 2;
}

div.container-block-absolute {
	position: absolute;
	float: left;
	display: none;
	margin-top: 38px;
	margin-left: 0;
}

div.container-block-absolute > div {
	position: absolute;
	z-index: 100;
}

.menu-block-libelle {
	margin: 0;
	width: 165px;
	min-height: 20px;
	background-color: #BDE9F2;
	border: 1px solid #0E2134;
	border-bottom: none;
	border-radius: 5px 5px 0 0;
	text-align: center;
	font-weight: bold;
	color: #0E2A48;
}

.menus-block-add {
	margin: 0;
	width: 165px;
	line-height: 20px;
	background-color: #BDE9F2;
	border: 1px solid #0E2134;
	border-top: none;
	border-radius: 0 0 5px 5px;
	cursor: pointer;
	text-align: center;
	color: #0E2A48;
}

.menus-block-add-links {
	margin: -1px 0 0;
	padding: 2px 0;
	border-radius: 0;
	border-bottom: none;
}

.menus-block-add-links:last-child {
	border-bottom: 1px solid #8F8F8F;
	border-radius: 0 0 5px 5px;
}

@media (max-width: 769px) {
	.menus-block-add {
		padding-bottom: 5px;
	}
}

.menus-block-container {
	margin: 0 0 6px 0;
	padding: 5px 5px 7px 5px;
	background-color: #1D3248;
	border: 1px solid #647689;
	border-radius: 3px;
	overflow: auto;
}

.menus-block-container .module-mini-container {
	display: none;
}

.menus-block-container:hover .module-mini-container {
	display: block;
}

.menus-block-top {
	margin-bottom: 5px;
}

.menus-block-title {
	font-size: 1.1em;
}

.menus-block-move-cursor {
	cursor: move;
}

.menus-block-container .module-mini-bottom {
	padding-bottom: 5px;
}

.menus-block-move {
	height: 16px;
}

.menus-block-move a {
	position: relative;
	display: block;
	height: 16px;
	width: 100%;
}

.menus-block-move-top a:after,
.menus-block-move-bot a:after {
	position: absolute;
	font-family: fontawesome;
	font-size: 2em;
}

.menus-block-move-top a:after {
	top: -10px;
	right: 0;
	content: '\f106';
}

.menus-block-move-bot a:after {
	bottom: 0;
	right: 0;
	content: '\f107';
}

@media (min-width: 769px) {
	.menus-block-container > div.menus-block-move-top a			{ opacity: 0; }	
	.menus-block-container > div.menus-block-move-bot a			{ opacity: 0; }
	.menus-block-container:hover > div.menus-block-move-top a	{ opacity: 1; }	
	.menus-block-container:hover > div.menus-block-move-bot a	{ opacity: 1; }	
}

.menu-spacer {
	margin: 0;
	padding: 0 5px;
	width: 99%;
	height: 15px;
}

/* --- Conteneur des menus --- */
#mod_header, #mod_subheader, #mod_left,
#mod_right, #mod_topcentral,
#mod_central, #mod_bottomcentral,
#mod_topfooter, #mod_footer {
	margin-top: 20px;
	padding: 30px 10px 10px 10px;
	min-height: 75px;
	border: 2px dashed #647689;
	border-radius: 3px;
	text-align: center;
}

/* --- Contenaires --- */
#container-header, #container-subheader, #container-leftmenu,
#container-rightmenu, #container-topcentral, #container-central,
#container-bottomcentral, #container-topfooter, #container-footer {
	padding: 5px;
	vertical-align: top;
}

#container-header {
	padding-top: 10px;
}

#container-central .menus-block-container {
	float: left;
	margin: 0 5px 5px 5px;
}

.menus-management-column {
	overflow: hidden;
}

#container-leftmenu,
#container-rightmenu,
.menusmanagementcentral {
	width: 100%;
}

#container-topfooter {
	clear: both;
}

.menusmanagement .fa-arrows {
	display: none;
}
.menusmanagement a.fa,
.menusmanagement a i{
	padding: 0 8px;
}

@media (min-width: 769px) and (min-height: 601px) {
	.menusmanagement .fa-arrows {
		display: inline-block;
	}
	.menusmanagement a.fa,
	.menusmanagement a i{
		padding: 0 ;
	}
}

@media (min-width: 981px) {
	.menus-management-column > div:nth-child(1) {
		float: left;
		width: 220px;
	}
	
	.menus-management-column > div:nth-child(3)  {
		float: right;
		width: 220px;
	}
	
	.menus-management-central {
		float: left;
		width: calc(100% - 440px);
	}
}


/* -- Systeme d'Upload ========================================== */
.upload-address-bar {
	margin: 0 25px;
	padding: 6px;
	background-color: #1D3248;
}

.upload-address-bar-links {
	margin: 0 25px 25px 25px;
}

.upload-address-bar-links a {
	margin-left: 10px;
}

#empty-folder {
	width: 70%;
}

.upload-elements-file,
.upload-elements-repertory {
	float: left;
	margin: 10px;
}

.upload-elements-repertory {
	height: 60px;
}

a.upload-recent-file {
	color: #E6481D;
}

#new-file .form-field {
	width: auto;
}

.file-move-container {
	margin: 5px 0;
	text-align: center;
}

.file-move-container img {
	width: 100px;
	height: auto;
}

@media (min-width: 769px) {
	.file-move-container{
		float: left;
		width: calc(100% / 3);
	}
}

/* --- Deplacement des fichiers --- */
.upload-selected-cat {
	background-color: #1D3248;
}
