 #mini-search-form {
	display: inline-block;
	float: right;
	margin: 12px 20px 0 0;
	white-space: nowrap;
	vertical-align: middle;
}

@media (max-width: 768px) {
	#mini-search-form {
		margin: 0 20px 0 0;
	}
}

#mini-search-form button,
#mini-search-form .button {
	margin-top: 0;
}

#mini-search-form .input-element-button input {
	width: 130px;
	height: 25px;
	padding-right: 25px;
	background: transparent;
	border-style: solid;
	border-width: 1px;
	border-color: #444444 #666666 #555555 #444444;
	border-radius: 4px 4px 4px 4px;
}

#mini-search-form .input-element-button input:hover {
	background: rgba(0, 0, 0, 0.05);
	border-color: #333333 #666666 #666666 #555555;
}

#mini-search-form .input-element-button button {
	margin-left: -30px;
	background: transparent;
	padding: 0px 5px 0px 5px;
	border: none;
}

#mini-search-form .input-element-button button i {
	color: #999999;
}