#module-calendar section > header h2 {
	background-color:rgba(189, 233, 242, 0.2);
	border: none;
	padding: 10px 0;
}

#module-calendar .options {
	margin: 0 0 5px 5px;
}

/* Affichage du mois en cours */
div.calendar-top-container {
	padding: 4px;
	background-color: rgba(189, 233, 242, 0.2);
}

div.calendar-top-content {
	text-align: center;
}

div.calendar-top-container a,
div.calendar-top-container a:hover {
	cursor: pointer;
}

div.calendar-top-l {
	float: left;
	padding: 1px 0 0 25px;
}

div.calendar-top-r {
	float: right;
	padding: 1px 25px 0 0;
}

/* Affichage des evenements */
div.event-display-author {
	float: left;
	padding-top: 4px;
	padding-bottom: 4px;
	font-size: 0.8em;
}

div.event-display-dates {
	overflow: hidden;
	padding: 4px;
	font-size: 0.8em;
	font-weight: normal;
	background-color: rgba(189, 233, 242, 0.2);
	margin-bottom: 5px;
}

.event-display-dates + hr {
	margin: 0 auto 40px auto;
	width: 70%;
	clear: both;
}

/* Particularite du tableau du calendrier */

#module-calendar table.calendar-table tbody tr td,
#calendar table.mini td {
	padding: 0;
}

#module-calendar table.calendar-table tbody tr td a,
#calendar table.mini td a {
	display: block;
}

#module-calendar table.calendar-table tbody tr td a{
	padding: 12px 8px;
}

#calendar table.mini td a {
	padding: 8px;
}

#module-calendar table.calendar-table tbody tr td a:hover,
#calendar table.mini td a:hover {
	background-color: #647689;
}

/* Couleur des differents evenements */
table tbody tr td.calendar-none    {  }
table tbody tr td.calendar-today   { background-color: #2F4154; }
table tbody tr td.calendar-today a { color: #BDE9F2; }
table tbody tr td.calendar-today a:hover { color: #F2F2F2; }
table tbody tr td.calendar-other   {  }
table tbody tr td.calendar-weekend { background-color: #BDE9F2; }

#module-calendar table tbody tr td.calendar-week {
	width: 8%;
}

/* Affichage de du titre de l'evenement dans le tableau de l'administration */
table tbody tr th.column-title {
	width: 28%;
}

/* Affichage du mini calendrier dans une colonne */
#module-mini-calendar .calendar-top-container {
	padding: 2px;
}

#module-mini-calendar .calendar-top-content h5 {
	padding-top: 1px;
	font-size: 0.9em;
	color: #3A4149;
}

#module-mini-calendar .calendar-top-l { padding: 0 0 0 7px; }
#module-mini-calendar .calendar-top-r { padding: 0 7px 0 0; }

#module-mini-calendar #date_select_form form.fieldset-content {
	margin-top: 0;
}

#module-mini-calendar #CalendarAjaxCalendarController_choose-date {
	margin: 5px 0 10px 0;
}

#module-mini-calendar #CalendarAjaxCalendarController_choose-date div.form-element {
	margin: 0;
}

#module-mini-calendar .form-field select {
	padding: 4px;
}

#CalendarAjaxCalendarController_month_field,
#CalendarAjaxCalendarController_year_field {
	display: inline-block;
}

.legend-line {
	padding: 0 0 8px 0;
}

.legend-color {
	font-size: 2em;
	vertical-align: -1px;
}

.legend {
	padding-right: 20px;
}
