#mini-search-form {
	float: right;
	margin: 12px 5px 5px 0;
	white-space: nowrap;
	vertical-align: middle;
}

@media (max-width: 768px) {
	#mini-search-form {
		margin: 20px 20px 20px 0;
	}
}

#mini-search-form button,
#mini-search-form .button {
	margin-top: 0;
}

#mini-search-form.input-element-button input {
	width: 150px;
	height: 32px;
	border-radius: 0 0 0 0;
}

#mini-search-form.input-element-button button {
	margin-left: -5px;
	padding: 4px 10px 4px 10px;
	height: 32px;
	border-radius: 0 0 0 0;
}

input[type=search]:hover,
input[type=search] {
	outline: none;
	color: #FFF;
}

#mini-search-form button {
	background: none;
	outline: none;
	color: #FFF;
	border: none;
    border-bottom: 2px solid rgb(210, 210, 210);
}

#mini-search-form button:hover {
	color: #2A7C7D;
	outline: none;
	border-bottom: 2px solid rgb(51, 159, 161);
}