/*---------------------------------------------------------
 * Theme    : Thème BlueMoon
 * Par      : EDN-Swan
 * Date     : 13/02/09
 * Site web :  http://easy-design.net/
 * Commentaire ou autre de l'auteur 
 # Merci de ne pas toucher au entête des fichiers CSS.
 * Contient les conteneurs de mise en page.
 * Le design.css permet de mettre en forme votre site web avec le design de votre choix
 *---------------------------------------------------------
 * Porté par : EDN | Swan
 * Date      : 05/03/2017
 *---------------------------------------------------------
 * Thème compatible avec un  menu (droite ou gauche)
					le choix reste possible sur un menu
 *----------------------------------------------------------*/


/* -------------------------------------
		global.css
 Contient les classes globales au site, peuvent etre utilisees partout.
 - Mise en forme du texte
 - Mise en forme du contenu
 - Les Icones specifiques PHPBoost de FontAwesome 
 - Systeme d upload
 - social connect
--------------------------------------*/


/* -- La mise en forme du texte -- */
/* ------------------------------- */

/* --- Les liens du site --- */
a {
	color: #00e5ff;
	text-decoration: none;
}

a:hover {
	color: #85b9bf;
	text-decoration: none;
}

/* --- Couleur des liens --- */
a.admin  { color: #FFA34F; }
a.modo   { color: #006699; }
a.member { color: #000000; }

/* --- Couleur de texte --- */
.color-alert 		{ color: #B22222; }
.color-notavailable { color: #B22222; }
.color-available 	{ color: #008000; }
.color-unknown 		{ color: #004b80; }

.bkgd-color-visible 		{ background-color: #CCFFCC; }
.bkgd-color-unvisible 		{ background-color: #FFEE99; }
.bkgd-color-unaprobed 		{ background-color: #FFCCCC; }

.bkgd-color-fixed 			{ background-color: #7FFF9C; }
tr td.bkgd-color-fixed 		{ background-color: #7FFF9C; }
.bkgd-color-processing 		{ background-color: #FFD86F; }
tr td.bkgd-color-processing { background-color: #FFD86F; }
.bkgd-color-unknown 		{ background-color: #FF796F; }
tr td.bkgd-color-unknown 	{ background-color: #FF796F; }

/* --- Tailles de polices --- */
.smaller { font-size: 0.7em; }
.small   { font-size: 0.9em; }
.normal  { font-size: 1.0em; }
.big     { font-size: 1.2em; }
.bigger  { font-size: 1.5em; }
.biggest { font-size: 2.0em; }

/* --- Les titres (balise h) --- */
h1 { font-size: 2.2rem; }
h2 { font-size: 2.0rem; }
h3 { font-size: 1.9rem; }
h4 { font-size: 1.8rem; }
h5 { font-size: 1.6rem; }
h6 { font-size: 1.4rem; }

h1, h2, h3, h4, h5, h6 {
	overflow: hidden;
}

/* --- Les Titres bbcode --- */
.formatter-title {
	display: inline-block;
	margin: 0.5rem 0;
}

h2.formatter-title { 
    border-bottom: 2px solid #00ffff;
	font-size: 1.4rem;	
    color: #ffffff;
    padding: 2px 5px;
	width:100%;
 }
 
h3.formatter-title { 
    background: #003869 none repeat scroll 0 0;
    border: 1px solid #00ffff;
    border-radius: 5px;
	font-size: 1.4rem;	
    color: #ffffff;
    padding: 2px 5px;
	width:100%;
}


h4.formatter-title {
    background: #003869 none repeat scroll 0 0;
    border: 1px solid #00ffff;
    border-radius: 12px;
	font-size: 1.4rem;	
    color: #ffffff;
    padding: 2px 5px;
}
h5.formatter-title {
    background: #c7d6ff none repeat scroll 0 0;
    border: 3px solid #18415b;
    border-radius: 12px;
    color: #000000;
    display: inline;
    font-size: 14px;
    margin-bottom: 45px;
	margin-left: 5rem;
    padding: 2px 5px;
}

/* -- Mise en forme du contenu -- */
/* ------------------------------ */

/* --- Affichage du mini calendrier --- */
.calendar-block-container {
	position: absolute;
	z-index: 100;
	left: 0;
	right: 0;
}

.form-field .calendar-container {
	display: inline-block;
	position: relative;
}

.calendar-block {
	position: absolute;
	border: 1px solid #999999;
	z-index: 10;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	border-radius: 3px;
}

.calendar-block {
	top: 25px;
	left: -104px;
}

.calendar-block .date-picker {
	margin: 0;
	width: 250px;
	table-layout: fixed;
}

.calendar-block .date-select-container {
	background-color: #F5F5F5;
	padding: 2px 0;
	border-radius: 3px 3px 0 0;
}

.calendar-block .date-select-previous {
	float: left;
	margin: 1px 4px 0 4px;
}

.calendar-block .date-select-next {
	float: right;
	margin: 1px 4px 0 4px;
}

.calendar-block .date-select-next i,
.calendar-block .date-select-previous i {
	color: #666666;
}

.calendar-block .date-select-content {
	margin: auto;
	width: 185px;
	text-align: center;
}

.calendar-block .date-select-content select,
.calendar-block .date-select-content select:focus {
	padding: 1px 1px;
	font-size: 0.9em;
	border: none;
	background: none;
	box-shadow: none;
}

.calendar-block .date-select-month {
	width: 92px;
	margin: 0 1px 0 5px;
}

.calendar-block .date-select-year {
	width: 55px;
	margin: 0;
}

.calendar-block .date-picker select,
.calendar-block .date-picker select:focus {
	box-shadow: none;
	max-width: 75px;
}

.calendar-block .date-picker thead tr th {
	border-top: 1px solid #CCCCCC;
	padding: 5px 0;
	border-radius: 0;
	background-color: #FFFFFF;
	font-weight: bold;
	color: #666666;
}

.calendar-block .date-picker tbody tr:last-child {
	border-bottom: none;
}

.calendar-block .date-picker tbody td {
	height: 23px;
	padding: 1px 2px;
}

.calendar-block .date-picker tbody td:first-child { border-left: none;  }
.calendar-block .date-picker tbody td:last-child  { border-right: none; }

.calendar-block .date-picker tbody td.calendar-none		{ background-color: #FFFFFF; }
.calendar-block .date-picker tbody td.calendar-today 	{ background-color: #B5E5B9; }
.calendar-block .date-picker tbody td.calendar-event 	{ background-color: #DBE5EE; }
.calendar-block .date-picker tbody td.calendar-weekend 	{ background-color: #FFE3B6; }

.calendar-block .date-picker tbody tr:last-child td {
	border-bottom: none;
}

.calendar-block .date-picker tbody tr:last-child td:first-child { border-radius: 0 0 0 2px; }
.calendar-block .date-picker tbody tr:last-child td:last-child	{ border-radius: 0 0 2px 0; }

td.calendar-week {
	border-right: 1px solid #BBBBBB;
}

/* --- Le selecteur de couleur --- */
.color-picker {
	position: absolute;
	z-index: 100;
}

.color-picker .bbcode-block table {
	margin: auto;
	border: none;
	border-collapse: collapse;
}

.color-picker td {
	padding: 0;
	border: 1px solid #F3F3F3;
}

.color-picker td a {
	display: block;
	width: 14px;
	height: 14px;
}

/* --- les blocs de quote, de code ou caches --- */
.formatter-container {
	position: relative;
	display: block;
	margin: auto;
	width: 93%;
	color: #444444;
}

.formatter-content-title {
	font-weight: bold;
}

.formatter-content {
	margin: 0;
	padding: 8px;
	background-color: #FAFAFA;
	border: 1px solid #DDDDDD;
}

.formatter-hide .formatter-content {
	height: 0;
	max-height: 0;
	padding: 0;
	overflow: hidden;
	visibility: hidden;
	transform: scaleY(0);
	transition: transform 0.15s linear;
	transform-origin: 50% 0;
}

.formatter-show .formatter-content,
.formatter-hide.no-js:hover .formatter-content {
	height: auto;
	max-height: 500px;
	padding: 8px;
	overflow: auto;
	visibility: visible;
	transform: scaleY(1);
}

.formatter-hide .formatter-hide-message {
	display: block;
	font-style: italic;
	font-weight: normal;
	font-size: 0.8em;
	color: #BBBBBB;
	padding: 4px 8px;
	width: 100%;
	margin: 0 auto 0 auto;
	background-color: #FDFDFD;
	border: 1px solid #EEEEEE;
	cursor: pointer;
}

.formatter-show .formatter-hide-message {
	display: none;
}

.formatter-hide-close-button {
	position: absolute;
	display: none;
	top: 1em;
	right: 0;
	color: #BBBBBB;
	font-size: 0.8em;
	font-style: italic;
	cursor: pointer;
	transition: all 0.3s linear;
}

.formatter-hide-close-button-txt {
	padding: 0 0 0 3px;
}

.formatter-show .formatter-hide-close-button {
	display: block;
}

.formatter-hide-close-button:hover {
	color: #444444;
	transition: all 0.3s linear;
}

.formatter-code .formatter-title {
	margin: 1rem 0 0.5rem 0;
}

.formatter-code .formatter-content {
	overflow: auto;
	max-height: 500px;
}

.copy-code {
	float: right;
	padding: 1.2rem 0.5rem 0 0;
	color: #BBBBBB;
	font-size: 0.8em;
	font-style: italic;
	cursor: copy;
	transition: all 0.3s linear;
}

.copy-code-txt {
	padding: 0 0 0 3px;
}

/* --- les autres element bbcode --- */
.indent {
	margin-left: 30px;
}

.formatter-acronym {
	cursor: help;
}

.formatter-block {
    background: #ace4fe none repeat scroll 0 0;
    border: 2px solid #090c57;
    color: #464646;
	display: block;
	margin: 5px 20px;
	padding: 5px;
	overflow: hidden;
}

.formatter-fieldset {
	margin: 10px;
}

.formatter-ul {
	text-align: left;
}

/* --- les listes numerotees --- */
.code ol {
	margin-left: 3em;
}

/* --- menu de flux --- */
.feed-list {
	margin: 5px 0;
	list-style-type: none;
	text-align: left;
}

@media (max-width: 768px) {
	.feed-list li a {
		margin: 1px 0;
		padding: 7px 0;
		display: inline-block;
	}
}
/* --- La recherche de membre (AJAX) --- */
.xmlhttprequest-result-search {
	margin: 2px 0 0 0;
	padding: 2px;
	min-height: 40px;
	width: 100px;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.01);
	overflow: auto;
}

/* --- La barre de progression --- */
.progressbar-container {
	position: relative;
	margin: 4px 0 10px;
	background-color: #000000;
	border-radius: 3px;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.progressbar-container .progressbar-infos {
	position: absolute;
	width: 100%;
	line-height: 13px;
	font-size: 11px;
	text-align: center;
}

.progressbar {
	border-radius: 3px 0 0 3px;
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.progressbar[style*="100"] {
	border-radius: 3px 3px 3px 3px;
}

.progressbar-container .progressbar {
    background-color: #00175d;
    height: 13px;
    transition: width 0.6s ease 0s;
}

/* --- Le systeme de notation --- */
.notation,
.static-notation {
	display: inline-block;
}

.notation .star,
.static-notation .star {
	padding-right: 5px;
	color: #E3CF7A;
	font-size: 14px;
	text-decoration: none;
}


/* -- Les Icones specifiques PHPBoost de FontAwesome -- */
/* ---------------------------------------------------- */

/* --- les couleurs d icones --- */
.fa-syndication:before { color: #F57900; }
.fa-success:before     { color: #478948; }
.fa-forbidden:before   { color: #BA4B49; }
.fa-error:before       { color: #BA4B49; }
.fa-warning:before     { color: #C19954; }
.fa-ban:before         { color: #BA4B49; }
.fa-unban:before       { color: #478948; }
.fa-male:before        { color: #8DC3E9; }
.fa-female:before      { color: #F49CC4; }
.fa-online:before      { color: #52D132; }
.fa-offline:before     { color: #E05759; }
.fa-trend-up:before    { color: #478948; }
.fa-trend-down:before  { color: #BA4B49; }

/* --- Les alertes --- */
li.small-block .fa-stack {
	height: 2.34em;
}

.fa-circle-alert {
	position: absolute;
	z-index: 1;
	top: -3px;
	left: 20px;
	font-size: 1.32em;
	color: #BA4B49;
}

.fa-circle-alert span {
	position: absolute;
	top: 4px;
	display: block;
	margin: 0 auto;
	width: 100%;
	color: #FFFFFF;
	font-size: 0.7em;
	text-align: center;
}

/* -- Les messages d erreurs -- */
/* ---------------------------- */
div.message-helper-small {
	width: 50%;
}

.error,
.notice,
.warning,
.success,
.question {
	position: relative;
	display: block;
	margin: 5px auto 15px auto;
	padding: 10px 10px 10px 40px;
	height: auto;
	border: 1px solid #FFFFFF;
	border-radius: 4px;
	line-height: 20px;
	text-align: left;
	overflow: hidden;
}

.error:before,
.notice:before,
.warning:before,
.success:before, 
.question:before {
	position: absolute;
	left: 6px;
	top: 7px;
	width: 28px;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	font-size: 2em;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.error:before    { content: "\f00d"; color:#A60202;}
.notice:before   { content: "\f12a"; color: #555555}
.warning:before	 { content: "\f071"; color: #FFD900;}
.success:before	 { content: "\f00c"; color: #478948;}
.question:before { content: "\f128"; color:#0039D6;}

.error, .notice, .warning, .success, .question{ color: #ffffff; box-shadow: 0 5px 6px rgba(0, 0, 0, 0.5);}

.error { background-color: #d92e00; border-color: #AA0000; }			
.notice { background-color: #ACA899; border-color: #444444; }		
.warning { background-color: #FF9900; border-color: #FF5500; }
.success { background-color: #8AC77F; border-color: #3C8500; }
.question { background-color: #5798F2; border-color: #000EAB; }

/* -- Systeme d Upload -- */
/* ---------------------- */
#module-user-upload {
	margin: 5px;
}

.upload-address-bar {
	margin: 0 25px;
	padding: 6px;
	background-color: #FAFAFA;
	border: 1px solid #DDDDDD;
	border-radius: 3px;
	color: #444444;
}

.upload-address-bar-links {
	float: right;
	margin: 0 25px 25px 25px;
}

.upload-address-bar-links a {
	margin-left: 10px;
}

#empty-folder {
	width: 70%;
}

.upload-elements-container {
	margin: 10px 0 0 20px;
	overflow: hidden;
}

.upload-elements-file,
.upload-elements-repertory {
	float: left;
	margin: 10px;
}

.upload-elements-repertory {
	height: 60px;
}

a.upload-recent-file {
	color: #BA4B49;
}

.upload-input-bbcode {
	margin-top: 2px;
	cursor: pointer;
}

.upload-cat-list,
.upload-cat-explorer {
	margin: 0;
	padding: 0;
	list-style-type: none;
	line-height: normal;
}

.upload-cat-explorer {
	padding-left: 30px;
}

.upload-no-sub-cat {
	padding-left: 17px;
}

/* --- Deplacement des fichiers --- */
.upload-selected-cat {
	background-color: #F5FBFF;
	border: 1px solid #2C5169;
}

.upload-elements-move-to,
.upload-elements-move-file,
.upload-elements-move-to-cat,
.upload-elements-move-folder {
	float: left;
	width: 33%;
	text-align: center;
}

.upload-elements-move-to {
	margin-top: 50px;
}

.upload-elements-move-file img {
	width: 100px;
	height: auto;
}

.upload-root-cat {
	padding: 0 0 0 17px;
}


/* -- social connect -- */
/* -------------------- */
a.social-connect {
	display: inline-block;
	margin: 10px 0;
	width: 30px;
	height: 30px;
	vertical-align: top;
	border-radius:4px;
	color: #DEDEDE;
	text-align: center;
}

.horizontal-fieldset a.social-connect {
	margin: 0;
	vertical-align: middle;
}

@media (max-width: 768px) {
	.horizontal-fieldset a.social-connect {
		display: block;
		width: 100%;
		margin: 5px auto;
	}

	.horizontal-fieldset a.social-connect i {
		margin-right: 5px;
	}
}

a.social-connect i:before {
	color: #DFDFDF;
	transition: 0.2s ease-out;
}

a.social-connect:hover i:before {
	color: #EFEFEF;
	transition: 0.2s ease-out;
}

a.fb i:before 		{ font-size: 1.9em; }
a.google i:before 	{ font-size: 1.7em; }

a.fb 		{ padding: 8px 0 0 4px; }
a.google 	{ padding: 6px 1px 0 0; }

@media (max-width: 768px) {
	a.fb {
		padding: 5px 0 0 3px;
	}
}

a.fb 		{ background: #3B5998; }
a.google 	{ background: #D8432E; }	
a.twitter 	{ background: #5EA9DD; }

a.social-connect span {
	display: none;
}
