/*---------------------------------------------------------
 * Theme    : Thème WindLight
 * Par      : EDN-Swan
 * Date     : 22/02/09
 * Site web :  http://easy-design.net/
 * Commentaire ou autre de l'auteur 
 # Merci de ne pas toucher au entête des fichiers CSS.
 * Contient les conteneurs de mise en page.
 * Le design.css permet de mettre en forme votre site web avec le design de votre choix
 *---------------------------------------------------------
 * Porté par : EDN | Swan
 * Date      : 15/03/2017
 *---------------------------------------------------------
 /* ---    News.css    --- */
 /*---------------------------------------------------------
 * Thème compatible avec un  menu (droite ou gauche)
					le choix reste possible sur un menu
 *----------------------------------------------------------*/
 
 /* Barre supérieur des news */
.news-top-l{
	background:url('../../theme/images/msg-top-l.png') no-repeat scroll  0 0 transparent;
	float:left;
	height:34px;	
	width:34px;
}
.news-top-r{
	background:url('../../theme/images/msg-top-r.png') no-repeat scroll  0 0 transparent;
	float:right;
	height:34px;	
	width:34px;
}
.news-top{
	background:url('../../theme/images/msg-top.png') repeat-x scroll  0 0 transparent;
	height:34px;
	margin-left: 15px;
	margin-right: 15px;
}

section header, article header {
    margin: 0 0 1em 0;
	border-radius-topleft:12px;
	border-radius-topright:12px;
}

.article-news header h2 {
	color: #745686;
	font-size:1.2em;
	padding-top: 7px;
	border-bottom:none;
}

.article-news header h2:hover { color: #FFFFFF;}

.article-news {
	margin-left: 5px;
}

.news-content {
	margin-right: 1px;
    padding: 8px;
    text-align: justify;
    background: url('../../theme/images/background.png') repeat-x;
    background-position: right bottom;
    border-right: 1px solid #BA6BBE;
    border-left: 1px solid #BA6BBE;
    border-bottom: 2px solid #BA6BBE;
}

#news-suggested-container { margin: 15px 15px 15px 30px; }

.news-separator { 
	width: 70%;
	margin:20px auto 20px auto;
}

.news-coms{
	border-top: 2px solid #ECDEEF;
	padding-top: 10px;
	text-align:right;	
}
@media (max-width:768px) {

	.news-content { margin-bottom: 15px;}
}

.news-tags-title,
.news-sources-title,
.news-suggested-title {
	font-weight: bold;
}

.news-separator { 
	margin: 20px auto 20px auto;
	width: 70%;
}

.news-picture {
	float: left;
	padding: 10px;
}

img.news-picture {
	max-width: 40%;
}

.navigation-link-previous 	{ float: left;  }
.navigation-link-next 		{ float: right; }

.navigation-link-previous i { margin-right: 5px; }
.navigation-link-next i 	{ margin-left: 5px;  }