#connect-menu {
	display: inline-block;
}

#connect-menu div.horizontal-fieldset {
	padding: 2px 8px 0px 2px;
}

#connect-menu div.vertical-fieldset,
#connect-menu div.horizontal-fieldset {
	margin: 0;
}

#connect-menu div.vertical-fieldset form {
	margin-bottom: 10px;
}
#connect-menu div.horizontal-fieldset form {
	display: inline-block;
}

.connect-container {
	position: relative;
}

.connect-container ul.connect-content {
	position: absolute;
	left: -9999px;
}

@media (min-width: 769px) {
	.connect-container {
		display: inline-block;
		padding: 3px 2px 0px 2px;
	}

	.active .connect-container {
		background-color: #EFEFEF;
	}

	.connect-container ul.connect-content {
		padding: 10px 10px 2px 10px;
		width: 350px;
		background-color: #EFEFEF;
	}
}


.connect-separator {
	display: inline-block;
	vertical-align: top;
    height: 27px;
    width: 1px;
    padding: 0;
    background-image: url(images/gnav-separator.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.connect-messages {
	display: inline-block;
}

.connect-alertes {
	display: inline-block;
}

.connect-optionslinks {
	display: none;
}

.connected + .connect-optionslinks {
	display: inline-block;
}

.connect-txt {
    padding: 5px 0 0 5px;
    color: #ACACAC;
    font-family: Georgia,serif;
    font-style: italic;
    font-weight: normal;
    text-shadow: 1px 1px 1px #000000;
}

.connect-optionslinks .connect-txt {
	padding: 5px 0 0 0px;
}

@media (max-width: 768px) {
	.connect-optionslinks {
		float: right;
	}
}

.connect-nbr {
	display: block;
    height: 27px;
    width: 32px;
    padding: 5px 0 0 10px; 
    background-image: url(images/gnav-msg.png);
    background-repeat: no-repeat;
    background-position: center center;
    vertical-align: top;
}

.connect-nbr.red {
	color: #FF3939;
	text-shadow: 0px 0px 2px #000000;
}

@media (min-width: 769px) {
	#connect-menu div.horizontal-fieldset ul.connect-content li.connect-signout {
		margin-top: 10px;
		border-top: 1px solid #2D2D2D;
		text-align: center;
	}
}

#connect-menu.active ul.connect-content {
	z-index: 200;
	left: 0;
}
	
@media (max-width: 768px) {
	#connect-menu.active ul.connect-content {
		position: relative;
	}
}

@media (min-width: 769px) {
	#connect-menu.active ul.connect-content {
		left: -20px;
	}
}

ul.connect-content {
	margin: auto;
	padding-top: 3px;
}

#connect-menu ul.connect-content li {
	list-style-type: none;
}

#connect-menu div.horizontal-fieldset ul.connect-content li {
	display: inline-block;
	margin-right: 10px;
}
#connect-menu div.horizontal-fieldset ul.connect-content li:last-child {
	margin-right: 0;
}

#connect-menu ul.connect-content li > i {
	width: 18px;
	text-align: center;
}

@media (min-width: 769px) {
	#connect-menu div.horizontal-fieldset ul li,
	#connect-menu div.horizontal-fieldset ul li a {
		color: #2D2D2D;
	}
}

@media (max-width: 768px) {
	#connect-menu div.horizontal-fieldset ul li,
	#connect-menu div.horizontal-fieldset ul li a {
		padding: 10px 0 10px 5px;
	}
}


#connect-menu div.horizontal-fieldset ul li > i {
	vertical-align: 0;
}

#connect-menu div.vertical-fieldset label {
	padding-right: 0;
	text-align: center;
}

#connect-menu div.horizontal-fieldset ul.connect-content {
	text-align: center;
}

@media (min-width: 769px) {
	#connect-menu div.horizontal-fieldset ul.connect-content {
		top: 27px;
		background-color: #EFEFEF;
	}
}


div.connect-register i {
	vertical-align: -1px;
}

#connect-menu input#login,
#connect-menu input#password {
	padding: 4px 6px;
}

#connect-menu div.horizontal-fieldset input#login,
#connect-menu div.horizontal-fieldset input#password {
	margin: 5px 0;
}

@media (min-width: 768px) {
	#connect-menu div.horizontal-fieldset input#login,
	#connect-menu div.horizontal-fieldset input#password {
	    padding: 1px 5px;
	    margin: 0px 0px 0px 5px;
	    width: 120px;
	    vertical-align: top;
	    background-color: #CCCCCC;
	    border-style: solid;
	    border-width: 1px;
	    border-color: #999999 #BBBBBB #AAAAAA #888888;
	}
}

#connect-menu div.vertical-fieldset input#login,
#connect-menu div.vertical-fieldset input#password {
	width: 120px;
}

.welcome-connect {
	display: inline-block;
    padding: 5px 5px 0 15px;
    color: #ACACAC;
    font-family: Georgia,serif;
    font-style: italic;
    font-weight: normal;
    text-shadow: 1px 1px 1px #000000;
}

.welcome-connect a {
	padding-left: 5px;
}

@media (max-width: 768px) {
	.welcome-connect {
		display: block;
		margin-bottom: 10px;
	}
}
@media (min-width: 769px) {
	.welcome-unknown {
		font-size: 11px;
	}
}
@media (min-width: 769px) {
	#connect-menu div.horizontal-fieldset button {
		background: none;
		border: none;
		color: #FEFEFE;
	}

	#connect-menu div.horizontal-fieldset button:hover {
		background-color: #CECECE;
		color: #2D2D2D;
	}
}

/* Mot de passe oublie */ 
#connect-menu .vertical-fieldset .forgot-pass {
	color: #999999;
}
#connect-menu .vertical-fieldset .forgot-pass:hover {
	color: #555555;
}

@media (min-width: 769px) {
	#connect-menu .forgot-pass {
		display: none;
	}
}

@media (max-width: 768px) {
	#connect-menu .forgot-pass {
		padding: 20px;
		display: block;
	}
	#connect-menu .forgot-pass:hover {
		text-decoration: underline;
	}
}

.js-menu-button {
	display: none;
}

@media (max-width: 768px) {
	.js-menu-button {
		display: inline-block;
		padding: 5px 10px 5px 10px;
	}
}	

#connect-menu div.horizontal-fieldset div.connect-content,
#connect-menu div.horizontal-fieldset form {
	width: auto;
	text-align: center;
}
#connect-menu .horizontal-fieldset li {
	padding: 4px 0 4px 2px;
}
#connect-menu .horizontal-fieldset a {
	color: #DEDEDE;
	text-decoration: none;
}
#connect-menu div.horizontal-fieldset span {
	display: inline-block;
}
#connect-menu div.horizontal-fieldset ul.connect-content li {
	display: block;
	text-align: left;
}

#connect-menu.active div.horizontal-fieldset div.connect-content input {
	display: block;
	margin-bottom: 10px;
	padding: 10px 20px;
	width: 100%;
}

#connect-menu.active div.horizontal-fieldset div.connect-content button.submit {
	display: inline-block;
	margin-bottom: 10px;
	padding: 10px 20px;
	width: 100%;
}

.profil-avatar .connect-avatar {
	width: 20px;
	vertical-align: top;
}

.profil-avatar {
	display: block;
	padding: 2px 4px 2px 4px;
}

.connect-content .avatar-container {
	float: left;
	height: 100%;
}


/* Partie Sociale */
#connect-menu .horizontal-fieldset a.fb {
	padding: 6px 0 0 4px;
}

@media (min-width: 769px) {
	#connect-menu a.fb {
		padding: 7px 0 0 4px;
	}
}


