#mini-search-form {
	float: right;
    margin: 0 20px 0 0;
	white-space: nowrap;
	vertical-align: middle;
	clear: both;
}

@media ( max-width: 768px ) {
	#mini-search-form {
	    margin: 0 10px 20px;
		clear: none;
		float: left;
	}
}

#mini-search-form.input-element-button input {
	width: 120px;
	border-radius: 4px 0px 0px 4px;
	height: 25px;
	margin-top: 0;
}

#mini-search-form.input-element-button button {
	border-radius: 0px 4px 4px 0px;
	margin-left: -5px;
	padding: 0 10px 4px 10px;
	height: 25px;
}