/*---------------------------------------------------------
 * Theme    : RiftNightMare 
 * Par      : EDN | Swan
 * Date     : 11/04/2016
 * Site web :  http://easy-design.net/
 * Commentaire ou autre de l'auteur 
 # Merci de ne pas toucher au entête des fichiers CSS.
  *---------------------------------------------------------
 * Porté par : EDN | Swan
 * Date V5.1 : 30/05/2017
/*--------------------------------------------------------
 * Théme non compatible avec deux menus (droite et gauche)
					le choix reste possible sur un menu
 *----------------------------------------------------------*/

/*--------------------------------------
		design.css
Contient les conteneurs de mise en page.
Le design.css permet de mettre en forme votre site web avec le design de votre choix
--------------------------------------*/


/* -- Elements HTML generiques specifique au theme --
--------------------------------------*/
/* afficher le texte sélectionné en jaune sur fond rouge */
::-moz-selection { color:#efefef;  background: none repeat scroll 0 0 rgba(186, 144, 222, 0.5); /* #BA90E8 */}
::selection     { color:#efefef;  background: none repeat scroll 0 0 rgba(186, 144, 222, 0.5); /* #BA90E8 */ }

/* afficher le texte sélectionné dans un paragraphe en blanc sur fond noir */
p::-moz-selection { color:#efefef;  background: none repeat scroll 0 0 rgba(186, 144, 222, 0.5); /* #BA90E8 */ }
p::selection      { color:#efefef;  background: none repeat scroll 0 0 rgba(186, 144, 222, 0.5); /* #BA90E8 */ }

html {
	font-size: 100%;
	font-size: 10px;
}

body {
    background:#000000 url(images/fond.jpg) no-repeat scroll center top;
    color: #c9c9c9;
    font-family: "verdana","Lucida Sans Unicode",Verdana,"Bitstream Vera Sans",Times,serif;
    font-size: 12px;
	position: relative;
	height: auto;
	min-height: 100%;
}


/* -- En-tete de page - Header --
--------------------------------------*/
header#header {
max-width: 1100px;
margin:auto;
}

/* --- Partie superieure du header --- */

div#top-header {
    margin: auto;
    max-width: 1100px;
    overflow: hidden;
}

div#top-header-content {
    float: right;
    position: relative;
    z-index: 100;
}

/* --- Partie inferieur du header --- */
div#sub-header {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    border-bottom: 2px solid #aa8dff;
    min-height: 35px;
    text-align: left;
    width: 100%;
}

div#sub-header-content{
	max-width: 1024px;
	margin: auto;
}


div#sub-header-menu{
	text-align:center;
	font-size:16px;
	margin-top:20px;
}
/* --- Logo et Nom du site web --- */
div#site-infos {
	max-width: 940px;
	margin: 1.5em 1.5em 0 1.5em;
	float: left;
}

div#site-logo {
    background: rgba(0, 0, 0, 0) url(images/logo.png) no-repeat scroll center center / cover ;
    float: left;
    height: 200px;
    margin: 10px 1em 0 0;
    position: absolute;
    width: 217px;
    z-index: 1000;
}

div#site-name-container {
    margin: 1em 0 0 20em;
	overflow: hidden;
	float: left;
}

a#site-name {
	color: #F9FCFF;
	font-size: 4em;
	font-weight: bold;
	line-height: 1em;
	letter-spacing: 0.02em;
	text-decoration: none;
	text-shadow: 0 0 0 rgb(0,0,0), 1px 0 0 rgb(-255,-255,-255), 2px 0 0.1px rgba(0,0,0,0.1), 2px 0 0.1px rgba(0,0,0,0.2), 0 0 1px rgba(0,0,0,.1);
}
@media (max-width:768px) {


}
span#site-slogan {
	display: block;
	padding: 0.1em 0 0 0.1em;
	color: #FFFFFF;
	font-size: 1em;
	letter-spacing: 0.1em;
}

@media (min-width:800px) {
	a#site-name {display:none;}
	div#site-infos {display:none;}
}


/* -- Conteneur global du site --
--------------------------------------*/
div#global {
    margin: auto;
    max-width: 1100px;
}
div#sous-global {
    background-color: rgba(0, 19, 40, 0.75);
    box-shadow: 0 0 10px black, 0 0 0 1px rgba(0, 255, 255, 0.2) inset;
    margin: 18px auto 0;
    padding-bottom: 42px;
	max-width: 1100px;
	margin: auto;
}
aside#menu-left,
aside#menu-right {
    width: auto;
}

#main {
   width: auto;
}

/* -- Contenu de la page --
--------------------------------------*/
/* --- Contenu central --- */
div#main-content {
	padding: 1.5em 1em;
}

/* --- Emplacement au dessus et en dessous du contenu de la page --- */
div#top-content {
	margin: 0 0 2% 0;
}

div#bottom-content {
	margin: 2% 0 0 0;
}

/* --- Emplacement au dessus du pied de page --- */
div#top-footer {
	clear: both;
	padding: 2% 0;
}

/* -- Pied de page - Footer --
--------------------------------------*/
footer#footer {
    background-color: rgba(0, 19, 40, 0.75);
    border-top: 2px solid rgba(0, 255, 255, 0.2);
    bottom: 0;
    clear: both;
    height: 115px;
    margin-top: 50px;
    text-align: center;
    width: 100%;
}

footer#footer .footer-content {
	margin: 0 auto 0 auto;
	max-width: 1024px;
	padding: 1.5em 0;
	border-bottom: 2px groove #444444;
}


footer#footer .footer-infos {
    min-height: 40px;
    padding-top: 20px;
    text-align: center;
}

footer#footer .footer-infos span {
	color: #8d8d8d;
	font-size: 0.8em;
}
.corp-logo {
    margin-left: 5px;
   float: right;
}
footer#footer .social img{
    margin: 0 1em;
}

#fb{
    background: url(images/facebook.png) no-repeat scroll center 0 transparent;
	height:50px;
	width:50px;
}
#twt{
    background: url(images/twitter.png) no-repeat scroll center 0 transparent;
	height:50px;
	width:50px;
	display:block;
}
#yt{
    background: url(images/youtube.png) no-repeat scroll center 0 transparent;
	height:50px;
	width:50px;
}
#twitch{
    background: url(images/twitch.png) no-repeat scroll center 0 transparent;
	height:50px;
	width:50px;
}
#trion{
    background: url(images/TRION.png) no-repeat scroll center 0 transparent;
	height:28px;
	width:101px;
	float:right
}


/* ##############################
		 Social buttons
#################################*/

#social {
    height: 55px;
    margin: auto;
    padding: 0;
    width: 355px;
}
#social ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#social ul li {
    float: left;
    margin: 0;
    padding: 0;
}
#social ul li a {
    color: #ffffff;
    display: block;
    float: left;
    font-size: 80%;
    height: 50px;
    padding-left: 35px;
    text-decoration: none;
    text-transform: uppercase;
}
#social ul li a span {
    cursor: pointer;
    display: block;
    float: left;
    height: 50px;
text-align:center;
}
#social ul li a:hover, #social ul li.active a {
}
#social ul li a:hover span, #social ul li.active a span {
}

.fade:hover {
  opacity: 0.5;
  }

/* -- Elements specifiques PHPboost --
--------------------------------------*/
/* --- Compteur de visite --- */
div#visit-counter {
	position: absolute;
	right: 0;
	bottom : 1em;
	margin-right: 10px;
	font-size: 0.9em;
	color: #F9FCFF;
	text-align: right;
}

/* --- Barre d'outils --- */
#actions-links-menu {
	float:right;
	margin: 0 5px 5px 5px;
}

/* --- Barre de lien rapide --- */
nav#breadcrumb{
    height: 33px;
    margin:10px;
    padding: 4px;
    text-indent: 10px;
}

nav#breadcrumb ol {
	list-style: none;
	margin: 0;
}

nav#breadcrumb ol li {
	display: inline;
}

nav#breadcrumb ol li:not(.current):after {

	content: '';
	background: url(images/breadcrumb.png) no-repeat scroll 0 0 transparent;
	width: 13px; height: 20px;
	color: #616161;
}

#menu-mess {
    height: 33px;
    padding: 5px;
}
/* ##############################
		 menus liens -buttons
#################################*/

#menus {
    height: 70px;
    margin: auto;
    padding: 0;
    width: 900px;
}
#menus ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#menus ul li {
    float: left;
    margin: 0;
    padding: 7px;
    width: 217px;
}
#menus ul li a {
	background: url(images/btn.png) no-repeat scroll 0 0 transparent;
	transition-property: color;
	transition-duration: 1s;	
    color: #fff;
    float: left;
    font-family: "Cinzel Decorative",Georgia,cursive;
    font-size: 24px;
    font-weight: 700;
    height: 55px;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 2px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    width: 215px;
}
#menus ul li a span {
    cursor: pointer;
    display: block;
    float: left;
    height: 50px;
text-align:center;
}
#menus ul li a:hover, #menus ul li.active a {
	background: url(images/btn-o.png) no-repeat scroll 0 0 transparent;
	transition-property: color;
	transition-duration: 1s;
    color: #2fe23c;
    font-family: "Cinzel Decorative",Georgia,cursive;
    font-size: 24px;
    font-weight: 700;
    margin: 0 auto;
    text-align: center;
	text-decoration: none;
    text-shadow: 0 2px rgba(0, 0, 0, 0.5);
	width:250px
}
#menus ul li a:hover span, #menus ul li.active a span {    
}
.actu {
    padding-left: 19px;
    padding-top: 10px;
}
.frum , .vids, .galr {
    padding-left: 49px;
    padding-top: 10px;
}

/*======================================
		Todd Motto Labs -
		Flaunt JS Navigation
		Adapté pour phpboost 5.0
		URL: www.toddmotto.com
========================================*/

section#Motto{
	background: #3d3d3b;
    margin: auto;
    padding: 0px;
    vertical-align: top;
    width: 100%;
	height:auto;
	z-index:100;
}
#menu-title{
    color: #ffffff;
    float: left;
    font-weight: bold;
    padding: 18px 0 0 87px;
    text-align: center;
    text-transform: uppercase;
	}
.nav {
	position:relative;
	/*display:inline-block;*/
	font-size:14px;
	font-weight:900;
}
.nav-list {
	text-align:left;
}
.nav-item {
	float:left;
	*display:inline;
	zoom:1;
	position:relative;
}
.nav-item a {
	background:#103054 none repeat scroll 0 0;
	border-bottom:1px solid #18746C;
	display:block;
	color:#aa8dff;
	padding:15px 20px;

}
.nav-item > a:hover {
	background:#405976 none repeat scroll 0 0;
}
.nav-item:hover .nav-submenu {
	display:block;
}
/* Navigation submenu */
.nav-submenu {
	display:none;
	position:absolute;
	left:0;
	width:180px;
}
.nav-submenu-item a {
	background:#405976;
	border-bottom:1px solid #18746c;
	display:block;
	padding:15px;
}
.nav-submenu-item a:hover {
	background:#0D2643;
}
/* Mobile navigation */
.nav-mobile {
	display:none; /* Hide from browsers that don't support media queries */
    background: #3d3d3b url(images/nav.svg) no-repeat scroll center center / 22px auto;
    border-left: 1px solid #222222;
    cursor: pointer;
    height: 50px;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
}

/* Mobile navigation, clickable area for revealing <ul> */
.nav-click {
	position:absolute;
	top:0;
	right:0;
	display:none;
	border-left: 1px solid #18746c;
	height:49px;
	width:50px;
	cursor:pointer;
}
.nav-click i {
	display:block;
	height:48px;
	width:48px;
	background: url(images/drop.svg) no-repeat center center;
	background-size:20px;
}
.nav-click:hover {
	background-color:#405976;
}
.nav-rotate {
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	transform:rotate(180deg);
}
/*======================================
		  Navigation latérale
		 "gadget de navigation"
========================================*/
div#gotop {
    position: fixed;
    right: 120px;
    top: 150px;
    z-index: 150;
}
div#gotop a {
	background-color: rgba(0, 19, 40, 0.75);
	box-shadow: 0 0 10px black, 0 0 0 1px rgba(0, 255, 255, 0.2) inset;
    border-radius: 3px;
    color: #2fe2d3;
    float: left;
	font-size:12px;
	padding:12px 6px;
    opacity: 0.8;
}
div#gobottom {
    display: block;
    position: fixed;
    right: 120px;
    top: 200px;
    z-index: 150;
}
div#gobottom a {
	background-color: rgba(0, 19, 40, 0.75);
	box-shadow: 0 0 10px black, 0 0 0 1px rgba(0, 255, 255, 0.2) inset;
    border-radius: 3px;
    color: #2fe2d3;
    float: left;
	font-size:12px;
	padding:12px 6px;
    opacity: 0.8;
}
div#gotop a:hover, div#gobottom a:hover {box-shadow:0 1px 1px rgba(0, 96, 255, 0.4) inset, 0 0 10px rgba(0, 96, 255, 0.9);}
/*################################
		Paramètres slideshow
#################################*/

#slideshow {
    height: 255px;
    margin: auto;
    width: 1024px;
}
.fadein { position:relative; width:1100px; height:255px; }
.fadein img { position:absolute; left:0; top:0; }

/*################################
		Paramètres divers
#################################*/

aside#menu-left span.bt-content > a, aside#menu-right span.bt-content > a {
    color: #efefef;
}
aside#menu-left span.bt-content > a:hover, aside#menu-right span.bt-content > a:hover {
    color: #2fe23c;
}

/*======================
 ---   Cookie Bar    ---
=======================*/
.cookiebar-container {
	z-index: 100;
	left: 0;
	right: 0;
	top: 0;
	padding: 7px 20px;
	background-color: rgba(0, 19, 40, 0.75);
	border-bottom: 2px solid #005D70;
	color:#efefef;
	font-size: 1em;
	text-align: center;
}

.cookiebar-container.fixed {
	position: fixed;
}

.cookiebar-content {
	text-align: justify;
}

@media (min-width: 769px) {
	.cookiebar-content {
		display: inline-block;
		max-width: calc(100% - 300px);
		vertical-align: middle;
	}

	.cookiebar-actions {
		display: inline-block;
		width: 300px;
	}
}

@media (max-width: 768px) {
	.cookiebar-content {
		margin-bottom: 5px;
	}

	.cookiebar-actions {
		margin: 15px 0 5px 0;
	}
}

.cookiebar-button {
	margin: 0 5px 0 5px;
	border-radius: 4px;
	color: #FEFEFE;
}

@media (max-width: 768px) {
	.cookiebar-button {
		margin: 0 10px 0 10px;
	}
}

.cookiebar-button-understand 		{ background:linear-gradient(to top, #58317d, #aa8dff) repeat scroll 0 0 rgba(0, 0, 0, 0); border:1px solid #58317d;}
.cookiebar-button-understand:hover 	{ background: linear-gradient(to bottom, #d8ccff 0%,#5e3f7c 100%); border: 1px solid #5c569e; color: #efefef; }

.cookiebar-button-allowed 			{ background: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%); border-color: #000000;}
.cookiebar-button-allowed:hover 		{ background: #000000; }

.cookiebar-button-declined 			{ background: linear-gradient(to bottom, #a90329 0%,#8f0222 44%,#6d0019 100%); border-color: #6d0019;}
.cookiebar-button-declined:hover 	{ background: #AA0000; }



@media (max-width: 468px) {
	.cookiebar-more {
		display: block;
		margin: 10px 0 5px 0;
	}
}

.aboutcookie-title {
	font-size: 1.3em;
	line-height: 1.3em;
	font-weight: bold
}

.aboutcookie-title + p {
	margin: 0px 0 20px 0px;
}

footer#cookiebar-change-choice {
	margin-top: 10px;
	text-align: center;
}

.cookiebar-change-choice-link {
	text-align: center;
} 


/*======================================
			Alls Media Queries
		 CSS applique aux écrans PC 
========================================*/

@media ( min-width: 769px ) {

	/* --- Menu gauche --- */
	aside#menu-left {
		float: left;
		width: 23%;
		margin-right: 1%;
	}

	/* --- Menu droit --- */
	aside#menu-right {
		float: right;
		width: 23%;
		margin-left: 1%;
	}

	/* --- Menu central : main --- */
	div#main {
		float: left;
		width: 100%;
		overflow: hidden;
	}

	div#main.main-with-left,
	div#main.main-with-right {
		width: 76%;
	}

	div#main.main-with-left.main-with-right {
		width: 52%;
	}

}

@media (max-width:768px) {

	body {font-size: 1.4em;}
	header#header {margin: auto;}
	
	div#top-header, div#top-header-content,
	#menus, nav#breadcrumb {display: none;}
	
	div#header-gsm {background-color:#222222; height:50px; padding-top: 10px; text-align:center;}
	div#sub-header { border: none;background-color:#000000;}
	a#site-name {
    color: #f9fcff;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 0.02em;
    line-height: 1em;
	}
	div#global {
		background-color: #000;
		border-top: 1px solid #000;
		margin: auto;
		max-width: 1250px;
		-webkit-box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.75);
		box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.75);	
	}
	div#sous-global {
		background-color: # faf6ee;
		margin: auto;
		padding: 0 10px;
	}
	#nav, #slideshow , .fadein {display: none;}
	
	footer#footer {
		background: #3b3b3b; 
		border-top: 1px solid #222222;
		clear: both;
		margin: auto;
		width: 1250px;
   height: auto;		
	}
	footer#footer .footer-infos {
		min-height: 40px;
		text-align: center;
		padding-top: 10px;
	}
	footer#footer {width:100%}
	
	.footer-infos span {
    display: block;
    padding: 0 0 5px;
	}
	footer#footer .footer-infos {
    min-height: 40px;
    padding-top: 5px;
    text-align: center;
}
	footer#footer .footer-infos span {
	color: #eeeeee;
	font-size: 0.8em;
}
	span.footer-infos-separator {
		display: none;
	}
	
   #social, .corp-logo{display: none;}
}

@media (min-width:769px) {
	section#Motto {display: none;}
}

@media only screen and (min-width: 320px) and (max-width: 768px) {

	.nav-mobile {
		display:block;
	}
	.nav {
		width:100%;
		padding:50px 0 0;
	}
	.nav-list {
		display:none;
	}
	.nav-item {
		width:100%;
		float:none;
		list-style: none outside none;		
	}
	.nav-item > a {
		padding:15px;
	}
	.nav-click {
		display:block;
	}
	.nav-mobile-open {
		border-radius:5px 5px 0 0;
		-webkit-border-radius:5px 5px 0 0;
		-moz-border-radius:5px 5px 0 0;
	}
	.nav-item:hover .nav-submenu {
		display:none;
	}
	.nav-submenu {
		position:static;
		width:100%;
	}
	ul{margin-left:0px;}
	.nav-submenu{margin-bottom:0px}
}
@media (max-width:768px) {
	div#menugo {display: none;}
}
