/*---------------------------------------------------------
 * Theme    : TSW_Illuminati
 * Par      : EDN | Swan
 * Date     : 27/01/2014
 * Site web :  http://easy-design.net/
 * Commentaire ou autre de l'auteur 
 # Merci de ne pas toucher au entête des fichiers CSS.
  *---------------------------------------------------------
 * Porté par : EDN | Swan
 * Date V5.0 : 13/04/2016
 * Date V5.1 : 30/05/2017
/*--------------------------------------------------------
 * Théme compatible avec deux menus (droite et gauche)
 * le choix reste possible sur une seule colonne de menus.
 *----------------------------------------------------------*/

/* --------------------------------------
		content.css
Contient les formulaires, les modules (et modules minis), messages.
--------------------------------------*/

/* CSS applique aux écrans PC */
@media ( min-width: 769px ) {

}

/* CSS applique aux tablettes */
@media ( max-width: 768px ) {

}

/* CSS applique aux smartphones */
@media ( max-width: 480px ) {

}


/* -- Conteneurs, éléments de module, ... --
--------------------------------------*/

section,
article {
    margin: 1em auto;
    padding: 5px;
    width: 100%;
	vertical-align: top;
}

article{

    margin: auto auto 20px;
}
article.message {
    background: none;
    border: none;
}
.explorer {
    background: #000000 none repeat scroll 0 0;
    border: 2px solid #3b3b3b;
}
article#article-news, article#article-media, article#article-wiki {
background:none;
border: none;
}

section#module-calendar, section#module-contact,section#module-download,  
section#module-faq, section#module-gallery, section#module-guestbook, section#module-media , 
section#module-search,  section#module-shoutbox, section#module-user-contrib, section#module-user-error, section#module-user-list, 
section#module-user-moderation, section#module-user-profile, section#module-user-pm, section#module-user-upload, section#module-user-upload-move,
section#module-web, section#module-wiki{
	background:none;
	border: none;
}
	
/* CSS applique aux tablettes */
@media ( min-width: 769px ) {
	section,
	article {
		width: 100%;
		/*margin: 1em auto;*/
	}
	
	
	section#module-calendar, section#module-contact,section#module-download,  
	section#module-faq, section#module-gallery, section#module-guestbook, section#module-media , 
	section#module-search,  section#module-shoutbox, section#module-user-contrib, section#module-user-error, section#module-user-list, 
	section#module-user-moderation, section#module-user-profile, section#module-user-pm, section#module-user-upload, section#module-user-upload-move,
	section#module-web, section#module-wiki{
		background:none;
		border: none;
	}
	
	div#main.main-with-left.main-with-right section .content {
		padding: 0 5px;
	}

	div#main.main-with-left.main-with-right section .form-element,
	div#main.main-with-left.main-with-right section .form-element-textarea {
		margin: 5px 0;
	}

	section header,
	article header {
		margin: 0 0 1em 0;
	}
}


/* --- Titre d'une page ou d'un element d'un module --- */
section header h1, article header h1 {
    background: rgba(255, 255, 255, 0.2) none repeat scroll 0 0;
    color: #ffffff;
    text-shadow: 1px 1px 0 #000;
    font-size: 14px;
    line-height: 24px;
	text-indent:5px;
}

section header h2, article header h2 {
    background: rgba(255, 255, 255, 0.2) none repeat scroll 0 0;
    color: #ffffff;
    text-shadow: 1px 1px 0 #000;
    font-size: 14px;
    line-height: 24px;
	text-indent:5px;
}

section header h3,
article header h3 {
    border-bottom: 1px solid #74C5F2;
    margin-left: 15px;
    margin-left: 15px;
    margin-top: 10px;
}

/* --- Icones avec les actions (edition, suppression, etc) --- */
span.actions {
	float: right;
}


header span.actions a, header span.actions a:hover {
	font-size: 1.2rem;
}

.more {
	font-size: 11px;
	font-size: 1.1rem;
	font-style: italic;
}

/* CSS applique aux écrans PC */
@media ( min-width: 769px ) {
	.more {
		 margin: 1.5em 0.2em 2em;
	}
}

a.read-more {
}

/* --- Contenu --- */

.content {
	padding: 0 0.5em;
	overflow: hidden;
	text-align: justify;
}

section footer,
article footer {
	margin-bottom: 1.5em;
}


/* CSS applique aux tablettes */
@media ( max-width: 768px ) {
	.content {
		padding: 1em 0;
	}

	section footer,
	article footer {
		margin-bottom: 0;
	}
}


/* --- Block --- */

.block, .medium-block, .small-block {
	background-color: #000000;
	box-shadow: 0 0 10px black, 0 0 0 1px rgba(0, 255, 255, 0.2) inset;
    border-color: #74C5F2 #222222 #222222 #222222;
    border-style: solid;
    border-width: 2px 1px 1px;
    padding: 0.8em;
}


.block .content,
.medium-block .content,
.small-block .content {
	margin: 0;
}

.block h1,
.medium-block h1,
.small-block h1 {
	border: none;
}

.block {
	width: auto;
}

.block header {
	margin: 0 0 1% 0;
}

.block footer {
	margin: 0;
}

.medium-block,
.small-block {
	float: left;
	margin: 1% 0.5%;
}

/* Affiche 2 blocs côte à côte */
.medium-block {
	width: 49.00%;
}

/* Affiche 3 blocs côte à côte */
.small-block {
	width: 32.33%;
}

/* CSS applique aux smartphones */
@media ( max-width: 480px ) {
	/* Affiche des blocs en vertical */
	.small-block,
	.medium-block {
		width: 100%;
		margin: 1% 0%;
	}
}

.no-style .block {
	background-color: transparent!important;
	border: none!important;
}

.elements-container {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	flex-direction: column;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	flex-wrap: wrap;
	align-content: flex-start;
}

.elements-container > .block {
	flex: 0 1 auto;
	-ms-flex: 0 1 auto;
	-webkit-flex: 0 1 auto;
}

/* Gestion en colonnes pour ecran large*/
@media (min-width: 769px) {
	.elements-container {
		flex-direction: row;
		-ms-flex-direction: row;
		-webkit-flex-direction: row;
		margin-left: -5px; /* @{gutter} */ 
	}

	.block { 
		margin-left: 5px; /* @{gutter} */ 
		width: 100%;
	} 
	
	.columns-2 .block { width: calc(100% / 2 - 5px); } /* calc(100% / @{number} - @{gutter}); */ 
	.columns-3 .block { width: calc(100% / 3 - 5px); }
	.columns-4 .block { width: calc(100% / 4 - 5px); }
	.columns-5 .block { width: calc(100% / 5 - 5px); }
	.columns-6 .block { width: calc(100% / 6 - 5px); }
	.columns-7 .block { width: calc(100% / 7 - 5px); }
	
	.block-xlarge { width: 100%!important; } /* Extension du bloc sur une ligne complète */
}

/* ---- Friends content ---- */
.content-friends {
	border-width: 7px 1px 1px 1px;
	border-top-color: #103B67;
}

.content-privileged-friends {
	border-width: 7px 1px 1px 1px;
	border-top-color: #E2BE47;
}

/* Gestion en ligne pour petit ecran */
@media (max-width: 768px) {
	.block {
		margin-bottom: 5px;
		width: 100%;
	}	
}

/* --- Pagination des pages --- */
section footer ul.pagination {
	text-align: center;
}

ul.pagination {
	margin: 0px;
}

ul.pagination .fa:before {
	font-size: 12px;
}

ul.pagination-block {
	margin: 5px 0px;
}

ul.pagination-block li {
	padding: 2px 2px;
}

ul.pagination-block li a {
	display: inline-block;
	padding: 2px 7px;
	text-align: center;
	text-decoration: none;
	outline: none;
	font-weight: bold;
	font-size: 12px;
}

ul.pagination-block li a {
	color: #333333;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
	background-image: linear-gradient(to bottom,  rgba(255,255,255,0.18) 0%, rgba(56,56,56,0.10) 100%);
	background-color: #F9F9F9;
	border: 1px solid #CCCCCC;
	border-color: #E1E1E1 #E1E1E1 #BFBFBF #CFCFCF;
	border-radius: 4px;
	box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.2), 0 0px 2px rgba(0, 0, 0, 0.05);
}
ul.pagination-block li a:hover {
	background-color: #FDFDFD;
	box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.2), 0 0px 2px rgba(0, 0, 0, 0.1);
	transition: all 0.1s linear;
}
ul.pagination-block li a:active {
	background-color: #F1F1F1;
	border: 1px solid #DDDDDD;
	box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.2), 0 0px 2px rgba(0, 0, 0, 0.05);
}

ul.pagination-block li a.current-page {
	color: #FEFEFE;
	background-color: #3B6B9F;
	border-color: #366393;
	text-decoration: none;
}
ul.pagination-block li a.current-page:hover {
	background-color: #366393;
	border-color: #315A86;
}

ul.pagination-block-bis li a.prev-page,
ul.pagination-block-bis li a.next-page {
	border: none;
	background: none;
	box-shadow: none;
	text-shadow: none;
}

ul.pagination-block-bis li a.prev-page:hover,
ul.pagination-block-bis li a.next-page:hover {
	text-decoration: underline;
}

/* -- Exploreur des catégories --
--------------------------------------*/
.explorer .cats,
.explorer .files {
	display: inline-block;
	width: 62%;
	margin: 5px 0.33%;
	vertical-align: top;
}

.explorer .cats {
	width: 35.6%;
	min-width: 200px;
}

.explorer h1 {
	color: #666666;
	font-size: 13px;
	margin: 5px 0;
}

.explorer .content {
	border: 1px solid #3b3b3b;
	padding: 5px 0;
	border-radius: 3px;
	min-height: 120px;
}

.explorer .content ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.explorer .content ul ul {
	margin-left: 22px;
}

.explorer .content ul a.parent {
	float: left;
}

.explorer .content ul a {
	color: #efefef;
	padding: 3px 0px;
	display: block;
	text-decoration: none;
}

.explorer .content > ul > li > a {
	padding: 3px 5px;
}

.explorer .content ul .fa {
	width: 20px;
	vertical-align: top;
}
.explorer .content ul .fa:before {
	vertical-align: middle;
}

.explorer .content ul a.parent .fa:first-child {
	width: 14px;
}
.explorer .content ul a.parent .fa:first-child:before {
	width: 14px;
	font-size: 11px;
}

.explorer .content ul a:hover,
.explorer .content ul a:hover+a {
	background-color: #3d6880;
}

.explorer .content ul .sub a.parent {
	padding-left: 4px;
}

.explorer .selected {
	background: #3b3b3b none repeat scroll 0 0;
}

.options {
    background:#3D6880 none repeat scroll 0 0;
	color:#FFF;
	border-radius: 3px;
	float: right;
	margin: 5px;
	padding: 6px 12px;
}


.options h6 {
	color:#FFF;
	margin: 10px 3px;
	font-size: 14px;
}

.infos {
    color: #fff;
	margin-left: 20px;
}

/* -- Affichage des tableaux HTML --
--------------------------------------*/
table {
    background-color: rgba(0, 19, 40, 0.75);
    border-spacing: 1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 0 10px black, 0 0 0 1px rgba(0, 255, 255, 0.2) inset;
	width: 100%;
	padding: 0px;
	margin: 8px 0px;
	border-spacing: 0;
}

/* --- Entete du tableau --- */
table caption {
	color: #757679;
	font-size: 13px;
	text-align: left;
	margin: 5px 0 5px 20px;
	border-bottom: 1px solid #D1D2D5;
}

table thead th {
    background:#3D6880 none repeat scroll 0 0;
    color: #efefef;
    font-size: 1.1em;
    font-weight: normal;
    padding: 5px;
    text-align: center;
}

table thead th:first-child {
	border-top-left-radius: 3px;
}
table thead th:last-child {
	border-top-right-radius: 3px;
}

table thead th a {
	color: #E5E6E6;
}
table thead th a:hover {
	color: #FFFFFF;
}

/* --- Contenu du tableau --- */
table tbody td {
	background: rgba(34, 34, 34, 0.7) none repeat scroll 0 0;
    border-left: 1px solid #000000;
    border-top: 1px solid #000000;
    color: #efefef;
    padding: 8px;
    text-align: center;
}
table tbody td:hover, table tbody tr:nth-child(even) td:hover {
    background: rgba(60, 60, 60, 0.7) none repeat scroll 0 0;
}

table tbody tr:nth-child(even) td {
 background: rgba(34, 34, 34, 0.7) none repeat scroll 0 0;
}
table tbody tr:last-child td {
	border-bottom: 1px solid #000000;
}
table tbody tr td:last-child {
	border-right: 1px solid #000000;
}

table tbody tr.no-separator td {
	border-top: none;
}

table tbody tr td.no-separator {
	border-left: none;
}
table tbody tr td.no-separator:first-child {
	border-left: 1px solid #D1D2D4;
}
.forum-poll-table td {
    text-align: left;
}
/* --- Pied de tableau --- */
table tfoot tr th {
	background-color: #000000;
    color: #efefef;
    font-family: Tahoma,Verdana,Arial,sans-serif;
    font-size: 14px;
    font-weight: normal;
	padding: 8px;
	border-bottom: 1px solid #000;
}

table tfoot tr th:first-child {
	border-left:1px solid #000;
	border-bottom-left-radius: 3px;
}
table tfoot tr th:last-child {
	border-right: 1px solid #000;
	border-bottom-right-radius: 3px;
}
table tfoot tr th:only-child {
	text-align: right;
}

table tfoot tr th * {
	vertical-align: middle;
}

table tfoot tr th a {
	color: #efefef;
}
table tfoot tr th select {
	padding: 2px 5px;
}

/* --- Patch thead tableaux formates --- */
table.formatter-table th.formatter-table-head {
	padding: 8px;
	background-color: #4D4C50;
	color: #E5E6E6;
	font-size: 1.4em;
	text-align: center;
	font-weight: normal;
}
table.formatter-table th.formatter-table-head:first-child {
	border-top-left-radius: 3px;
}
table.formatter-table th.formatter-table-head:last-child {
	border-top-right-radius: 3px;
}

table.formatter-table th.formatter-table-head a {
	color: #E5E6E6;
}
table.formatter-table th.formatter-table-head a:hover {
	color: #FFFFFF;
}

table.formatter-table th.formatter-table-head p {
	margin-bottom: 0px;
}

.col-smaller { width: 3em;  }
.col-small   { width: 6em;  }
.col-large   { width: 9em;  }
.col-larger  { width: 12em; }
.col-xlarge  { width: 15em; }

/* --- mini tableaux --- */
table.mini th,
table.mini td {
	padding: 3px 1px;
	font-size: 11px;
}

table.mini th a,
table.mini td a {
	font-size: 11px;
}

/* --- Pagination footer tableaux --- */
table tfoot nav.pagination a {
	color: #8B8D90;
	text-decoration: none;
	padding: 3px 3px;

}

table tfoot nav.pagination a span.current-page {
	color: #CED0D0;
	text-decoration: none;
}

/* --- Affichage des tableaux responsive sur les petits écrans --- */

@media ( max-width: 768px ) {
	table thead th,
	table tbody td,
	table tfoot tr th {
		padding: 4px;
		font-size: .9em;
	}
}

/* -- Boutons et class boutons --
------------------------------------ */

/* --- Normal --- */
button,.button {
    background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
	border: 1px solid #000000;
    color: #ffffff;
    height: auto;
    padding: 0.3em 1em;
    text-align: center;
	text-shadow: 1px 1px 0 #000000;
    transition-duration: 1s;
    transition-property: color;
}

button:hover,.button-hover, button.submit:hover {
    background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
	border: 1px solid #000000;
	color: #74C5F2;
	text-shadow: 1px 1px 0 #000000;
	transition-property: color;
	transition-duration: 1s;

}

button:active,.button-active {
    background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
	border: 1px solid #000000;
	box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.2), 0 0px 2px rgba(0, 0, 0, 0.05);
}

	
/* --- Petit bouton --- */

button.small,.button-small {
	font-size: 1.1rem;
	padding: 0.2em 0.5em;
}

/* --- Bouton de formulaire --- */

button.submit {
	color: #e8e8e8;
    background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
	border: 1px solid #000000;
}
 

/* --- Bouton basic --- */

.basic-button {
    background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
    border-radius: 2px;
    color: #ffffff;
    display: inline-block;
    font-weight: normal;
    margin: 1px;
    padding: 1px 6px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
    transition-duration: 1s;
    transition-property: background, color, box-shadow;
}
.basic-button:hover {
	background:rgba(123, 162, 99, 0.5) none repeat scroll 0 0;
	color: #FEFEFE;
    box-shadow: 0 0 0 rgba(255, 255, 255, 0.2) inset, 0 0 2px rgba(0, 0, 0, 0.05);
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
	transition: all 0.2s linear;
	text-decoration: none;
}

/* --- Bouton basic avec couleur alternative --- */

.basic-button.alt {
	background-color: #AAAAAA;
}
.basic-button.alt:hover {
	background-color: #BBBBBB;
}


/* -- Formulaires --
--------------------------------------*/
.fieldset-mini {
	width: 540px;
	margin: auto;
	margin-top: 20px;
}

fieldset {
	border: none;
	background: none;
	margin: 1.5em 0;
}

fieldset.fieldset-submit {
	width: 100%;
	text-align: center;
	background: none;
	border: none;
}

fieldset.fieldset-submit legend {
	display: none;
}

optgroup {
	font-weight: bold;
	border: none;
	border-bottom: 1px solid #5B5A5A;
}

option {
	padding: 0px 3px;
}
option:checked{
    background:rgb(255, 255, 255);
    color:#fff;
    text-shadow:0 1px 0 rgba(0,0,0,0.4);
}
/* --- Previsualisation --- */
.xmlhttprequest-preview {
	border: 1px solid #CCCCCC;
	background-color: #FFFFFF;
	color: #2E3B5F;
	padding: 0px 2px;
}

.xmlhttprequest-preview img {
	max-width: 600px;
}

legend {
    border-bottom: 1px solid #74C5F2;
    color: #74C5F2;
    display: block;
    font-size: 1.5em;
    font-weight: normal;
    margin: 0 0 0.6em;
    outline: medium none;
    text-decoration: none;
    text-transform: none;
    width: 100%;
}

/* --- Elements de saisie --- */
input[type=text],
input[type=email],
input[type=url],
input[type=number],
input[type=color],
input[type=tel],
input[type=search],
input[type=password],
input[type=file],
textarea,
select {
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    border: 1px solid #333333;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.01) inset;
    color: #fff;
	padding: 4px 18px 4px 6px;
}
input[type=text]:hover,
input[type=email]:hover,
input[type=url]:hover,
input[type=number]:hover,
input[type=color]:hover,
input[type=tel]:hover,
input[type=search]:hover,
input[type=password]:hover,
input[type=file]:hover,
textarea:hover,
select:hover {
	color: #74c5f2;
	border: 1px solid #333333;
	background: rgba(0,0,0, 0.9);
	box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.4), 0 0 6px rgba(255, 255, 255, 0.8);
}
input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=number]:focus,
input[type=color]:focus,
input[type=tel]:focus,
input[type=search]:focus,
input[type=password]:focus,
input[type=file]:focus,
textarea:focus,
select:focus {
	color: #ffffff;
	border: 1px solid #74C5F2;
	background: rgba(0,0,0, 0.9); none repeat scroll 0 0;
	outline: 0;
	box-shadow: inset 0 1px 1px rgba(116, 197, 242, 0.4), 0 0 10px rgba(27, 193, 196, 0.8);
}

input[type=color] {
	padding: 0px 2px 0px 2px;
	width: 25px;
}

form input:focus:invalid,
form textarea:focus:invalid,
form .constraint-status-right input,
form .constraint-status-right textarea {
	/*border-color: 1px solid #5c569e;
    box-shadow: 0 1px 1px rgba(0, 96, 255, 0.4) inset, 0 0 10px rgba(0, 96, 255, 0.8);*/
}

form input:focus:valid,
form textarea:focus:valid,
form .constraint-status-right input,
form .constraint-status-right textarea {
border-color: 1px solid #5c569e;
	box-shadow: inset 0 1px 1px rgba(116, 197, 242, 0.4), 0 0 10px rgba(27, 193, 196, 0.8);
}

input.field-smaller { width: 29px;  }
input.field-small   { width: 77px;  }
input.field-large   { width: 200px; }
input.field-xlarge  { width: 250px; }

input.input-date 		{ width: 100px; }
input.input-hours 		{ width: 50px;  }
input.input-minutes 	{ width: 50px;  }

input[name$="_hours"] 	{ width: 50px;  }
input[name$="_minutes"] { width: 50px;  }

/* Cache le generateur de mot de passe sur chrome */
.cip-icon-key-small {
	display: none !important;
}

/* --- Element du formulaire (englobe le label et l'input d'un champ) --- */
.form-element,
.form-element-textarea {
	margin: 0px 1em 1em 1em;
	position: relative;
}

.fieldset-description {
	margin: 0px 1em 1.5em 1em;
}

/* CSS applique aux tablettes */
@media ( max-width: 768px ) {
	.form-element,
	.form-element-textarea {
		margin: 0px 0.6em 1em 0.6em;
	}

	.fieldset-description {
		margin: 0px 0.6em 1.3em 0.6em;
	}
}

/* CSS applique aux smartphones */
@media ( max-width: 480px ) {
	.form-element,
	.form-element-textarea {
		margin: 0px 0.6em 0.5em 0.6em;
	}

	.fieldset-description {
		margin: 0px 0.6em 0.9em 0.6em;
	}
}

.form-field {
	display: inline-block;
	max-width: 600px;
	position: relative;
}

.form-field-free-large {
	width: 100%;
	max-width: none;
}

/* --- Label pour les checkbox et radio --- */
.form-field label {
	margin: 0 10px 0 0;
	display: block;
}

/* --- Label pour les inputs [for] et pour les elements sans associations --- */
.form-element > label {
	display: inline-block;
	width: 40%;
	text-align: left;
	padding-right: 10px;
	vertical-align: top;
}

.field-description {
	font-size: 0.8em;
	display: block;
	line-height: 12px;
}

/* CSS applique aux tablettes */
@media ( max-width: 768px ) {

	.form-element > label {
		width: 100%;
	}

	span.field-description {
		display: inline-block;
		font-size: 0.7em;
		font-style: italic;
	}
}

input[disabled=disabled],
input[disabled=disabled]:hover,
input[disabled=disabled]:focus,
textarea[disabled=disabled],
textarea[disabled=disabled]:hover,
textarea[disabled=disabled]:focus,
select[disabled=disabled],
select[disabled=disabled]:hover,
select[disabled=disabled]:focus {
	cursor: not-allowed;
	background: #F1F1F1;
	color: #AAAAAA;
	border: 1px solid #CCCCCC;
}

input[readonly=readonly],
input[readonly=readonly]:hover,
input[readonly=readonly]:focus,
textarea[readonly=readonly],
textarea[readonly=readonly]:hover,
textarea[readonly=readonly]:focus,
select[readonly=readonly],
select[readonly=readonly]:hover,
select[readonly=readonly]:focus {
	background: #FAFAFA;
	color: #888888;
	border: 1px solid #CCCCCC;
}

/* --- Textarea --- */
.form-field-textarea {
	display: inline;
	width: 99%;
	position: relative;
	margin: 5px auto;
}

textarea {
	overflow: auto;
	resize: vertical;
}

.form-element-textarea { width: 98%; }
.form-element-textarea textarea { width: 100%; }
.form-element-textarea .form-field-textarea { display: block; }
.form-element-textarea .form-field-textarea div { float: left; }

.form-element-preview, .form-element-reset {
	margin: 5px auto 0 auto;
	text-align: center;
	display: inline;
}

.form-element-auth .form-field {
	display: inline-block;
	margin: 2px 0px 0px 0px;
}

.form-element-auth .form-field div[class^="advanced-auth"] {
	float:left;
}

.form-element-auth .field-description {
	display: inline;
	font-style: italic;
}

.advanced-auth-group select {
	max-width: 153px;
	overflow-x: auto;
	padding-right: 5px;
}

.advanced-auth-select select {
	max-width: 132px;
	word-wrap: normal;
	overflow-x: auto;
	padding-right: 5px;
}

.advanced-auth-select {
	margin-left:5px;
}

.advanced-auth-input {
	margin-left: 5px;
	width: auto;
}

.advanced-auth-input input {
	padding: 4px 24px 4px 6px;
}

.advanced-auth-input button {
	margin-left: -29px;
	padding: 5px 5px 6px 5px;
	border-width: 0px 0px 0px 1px;
	border-radius: 0px 4px 4px 0px;
}

.advanced-auth-input-result {
	width: 138px;
	height: 100px;
	margin: 2px 0px 0px 0px;
}

.bbcode ~ .form-field-textarea textarea {
	border-radius: 4px 4px;
	border-width: 1px 1px 1px 1px;
}

/* CSS applique aux écrans PC */
@media ( min-width: 769px ) {
	.form-element-textarea-small {
		width: 49%;
	}
}

/* CSS applique aux smartphones */
@media ( max-width: 480px ) {
	.form-element-auth .form-field .advanced-auth-input {
		float: none;
		margin: 5px 0px 0px 0px;
	}
}

/* --- Verification des contraintes de formulaire --- */
.constraint-status-error input,
.constraint-status-error textarea {
	border-color: rgba(196, 60, 43, 0.3);
	box-shadow: inset 0 0 3px rgba(196, 60, 43, 0.1);
	color: #C43C35;
}

.constraint-status-error input:hover,
.constraint-status-error input:focus,
.constraint-status-error textarea:hover,
.constraint-status-error textarea:focus {
	border-color: rgba(196, 60, 43, 0.5);
	box-shadow: inset 0 0 6px rgba(196, 60, 43, 0.3);
	color: #C43C35;
}

.text-status-constraint {
	position:absolute;
	display: block;
	z-index: 1;
	padding: 6px 5px;
	left: 5px;
	min-width: 20em;
	background: #222222;
    box-shadow: 0 0 10px black, 0 0 0 1px rgba(255, 255, 255, 0.5) inset;
	border-radius: 3px;

	font-size: 0.8em;
	font-weight: bold;
	text-shadow: 1px 1px 0px rgba(0, 0, 0,0.5);
}

input + .text-status-constraint {
	top: 25px;
}

.text-status-constraint:before {
	content: " ";
	position: absolute;
	border-bottom: 9px solid rgba(255, 255, 255, 0.2);
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	left: 8px;
	top: -9px;
}

.text-status-constraint:after {
	content: " ";
	position: absolute;
	border-bottom: 8px solid rgba(255, 255, 255, 0.2);
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	left: 9px;
	top: -8px;
}

div.field-required:after,
div.picture-status-constraint:after {
	display: inline-block;
	position: absolute;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	right: 4px;
}

div.field-required:after {
	content: "\f069";
	color: #C43C35;
	opacity: 0.6;
	font-size: 0.8rem;
	top: 8px;
}

.form-field-date.field-required:after {
	right: 24px;
}

.form-field-select.field-required:after,
.form-field-number.field-required:after,
.form-field-decimal.field-required:after {
	right: -10px;
}

.form-field-datetime.field-required:after {
	right: -15px;
}

.form-field-checkbox.field-required:after {
	right: -20px;
	top: 0;
}

.form-field-upload-file.field-required:after {
	right: 45px;
	top: 10px;
}

.constraint-status-right .form-field-color:after,
.constraint-status-right .form-field-select:after,
.constraint-status-right .form-field-number:after,
.constraint-status-right .form-field-decimal:after {
	right: -20px;
}

.constraint-statuts-right .form-field-checkbox:after {
	top: 4px;
}

.constraint-statuts-right .form-field-datetime:after {
	right: -22px;
}

.form-field-number input,
.form-field-decimal input,
.form-field-datetime input {
	padding-right: 2px;
}

.form-element-date .constraint-status-error div.field-required:after,
.form-element-date .constraint-status-right div.field-required:after {
	right: 10px;
}

.form-field-textarea.field-required:after,
.constraint-status-right .form-field-textarea.field-required:after,
.constraint-status-right .form-field-textarea.field-required:after {
	top: 45%;
}

.constraint-status-right div.field-required:after {
	content: " ";
}

.constraint-status-right div.form-field-checkbox.picture-status-constraint:after {
	top: 0;
}

.constraint-status-right div.picture-status-constraint:after {
	opacity: 1;
	font-size: 1.5rem;
	top: 4px;
}

.constraint-status-error .form-field-textarea .picture-status-constraint:after,
.constraint-status-right .form-field-textarea .picture-status-constraint:after {
	top: 40%;
}

.constraint-status-right div.picture-status-constraint:after {
	content: "\f00c";
	color: #57A957;
}

.constraint-status-error i.picture-status-constraint {
	content: "\f056";
	color: #C43C35;
}

.form-field-multi-select.field-required:after {
	display: none;
}

.constraint-status-right .form-field-multi-select select {
	border-color: rgba(71, 137, 72, 0.3);
	box-shadow: 0 0 5px rgba(71, 137, 72, 0.1);
}

.form-field-radio.field-required:after,
.form-field-multiple-checkbox.field-required:after {
	top: 3px;
	right: -6px;
}

/* --- HTML Table--- */
.html-table-header-sortable {
	float: right;
}

@media (max-width: 768px) {
	.html-table-header-sortable {
		display: none;
	}
}

.html-table-header-sortable .fa-caret-up 	{ margin-bottom: -4px; }
.html-table-header-sortable .fa-caret-down 	{ margin-top: -12px; }

.html-table-header-sortable .sort-active {
	color: #AAAAAA;
}

/* --- Auto-completion --- */
.autocomplete-suggestions {
	border: 1px solid #999;
	background: #FFF;
	overflow: auto;
}

.autocomplete-suggestions strong {
	font-weight: normal;
	color: #3399FF;
}

.autocomplete-suggestion {
	padding: 2px 5px;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
}

.autocomplete-selected { background: #F0F0F0; }
.autocomplete-no-suggestion { text-align: center; }


.field-button {
	display: inline-block;
	font-size: 0;
	white-space: nowrap;
}

.field-button input {
	border-radius: 4px 0 0 4px;
}

.field-button button {
	font-size: 11px;
	margin-left: -1px;
	border-radius: 0 4px 4px 0;
	padding: 4px 8px;
}

/* Gestion des Categories */

/* Sur le site */

.cat-description {
	margin: 20px 5px;
}

.subcat-container {
	margin: 10px 0px 5px 0px;
}

.subcat-element {
	float: left;
	text-align: center;
	margin-bottom: 20px;
}

.subcat-content {
    display: inline-block;
    margin: 20px auto auto;
}


/* --- Systeme de drag&Drop --- */
.sortable-block .sortable-element > .sortable-block {
	margin-left: 30px;
}

.sortable-block {
	margin: 0;
	padding: 0;
	min-height: 24px;
	list-style-type: none;
	list-style-position: outside;
	color: #777777;
}

.sortable-block .sortable-element {
	display: table;
	margin-bottom: 6px;
	padding: 0;
	width: 100%;
	border-color: #517BA6;
	border-style: solid;
	border-width: 0 0 0 3px;
	transition: all 0.2s;	
}

.sortable-block .sortable-element:hover {
	border-color: #366493;
	transition: all 0.2s;
}

@media (min-width:769px){ 
	.sortable-block .sortable-element .sortable-selector {
		display: table-cell;
		position: relative;
		width: 20px;
		opacity: 0.2;
		transition: opacity 0.3s;
		cursor: move;
	}
	
	.sortable-selector:after {
		position: absolute;
		content: "\f047";
		top: 34%;
		left: 4px;
		color: #517BA6;
		font-family: fontawesome;
	}
}

.sortable-block .sortable-element:hover .sortable-actions {
	opacity: 1;
	transition: opacity 0.3s;
}

.sortable-block .sortable-element:hover .sortable-selector {
	opacity: 1;
	transition: opacity 0.3s;
}

.sortable-block .sortable-title {
	padding: 8px 5px 5px 10px;
}

.sortable-block .sortable-title:hover {
	background-color: #FAFAFA;
	transition: all 0.2s linear;
}

.sortable-block .sortable-title > span {
	font-size: 1.5em;
	font-weight: bold;
}

.sortable-block .sortable-title a {
	color: #555555;
}

.sortable-block .sortable-title span.cat-desc {
	font-size: 0.8em;
	font-weight: normal;
	font-style: italic;
}

.sortable-block fieldset {
	padding: 0 30px;
}

.sortable-block .sortable-actions {
	float: right;
	padding: 3px 3px;
	opacity: 0.2;
	transition: opacity 0.2s;
}

.sortable-block .sortable-element hr {
	margin-top: 5px;
	background-color: #999999;
}

.sortable-block .sortable-element label {
	margin-left: 14px;
	color: #1F507F;
}

.sortable-block .sortable-actions img,
.sortable-block .sortable-element:hover label,
.sortable-block .sortable-element .fa:hover {
	cursor: pointer;
}

.dragged {
	position: absolute;
	opacity: 0.9;
	z-index: 2000;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) !important;
}

body.dragging,
body.dragging * {
	cursor: move !important;
}

.dropzone {
	margin: 10px 0;
	padding-top: 5px;
	height: 30px;
	opacity: 0.6;
	border: 1px dashed #AAAAAA;
	text-align: center;
	color: #AAAAAA;
}

.preview img {
	overflow: hidden;
}


/* -- Modules minis --
--------------------------------------*/
.module-mini-container {
    border-spacing: 1px;
	margin:0px 11px 10px;
	border-spacing: 1px;
	clear: both;
    padding: 5px;	
}

.module-mini-top {
    background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
	min-height: 20px;
	text-align: center;
}

aside#menu-right .module-mini-container h5,
aside#menu-right .module-mini-container h3 a,
aside#menu-left .module-mini-container h5,
aside#menu-left .module-mini-container h3 a  {
    color: #ffffff;
    font-size: 12px;
    line-height: 30px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #000000;
}


	
@media (max-width:768px) {
	aside#menu-right .module-mini-container h5,
	aside#menu-right .module-mini-container h3 a,
	aside#menu-left .module-mini-container h5,
	aside#menu-left .module-mini-container h3 a  {
		/*margin-top: -10px;*/
		 line-height: 5px;

	}

	.module-mini-top {
		border-bottom:1px solid #444444;
		min-height: 37px;
		text-align: center;
		padding: 1em 0;
	}
}
.module-mini-container h5,
.module-mini-container h3 a {

	color: #ff0000;
}

.module-mini-contents {
	border-top: none;
	border-bottom: none;
	text-align: center;
	padding: 5px 4px 0px 4px;
}

.module-mini-bottom {

}


/* -- Messages postes par les membres (messages prives & commentaires) --
--------------------------------------*/
#comments-list {
	clear: both;
}

.message {
	width: 98%;
	margin-bottom: 20px;
	overflow: auto;
}

.view-topic {
	margin-top: 10px;
}

/* --- infos du message --- */
.message-date {
	margin-left: 150px;
}

.message-user-infos {
	text-align: center;
	width: 120px;
	float: left;
}

.message-container {
}

.message-message {
	position: relative;
	padding: 15px;
	margin: 5px 0 0 140px;
	background-color: #3d6880 ;
	box-shadow: 0 0 10px black, 0 0 0 1px rgba(27, 193, 196, 0.2) inset;
	min-height: 80px;
	border-radius: 4px;
}

.message-message::before {
	content: "";
	top: 15px;
	bottom: auto;
	left: -25px;
	position: absolute;
	border-width: 15px 25px 15px 0;
	border-color: transparent rgba(27, 193, 196, 0.2);
	border-style: solid;
	display: block;
	width: 0;
}

.message-message::after {
	content: "";
	top: 16px;
	bottom: auto;
	left: -24px;
	position: absolute;
	border-width: 14px 24px 14px 0;
	border-color: transparent #74c5f2;
	border-style: solid;
	display: block;
	width: 0;
}

.message-avatar {
	width: 80px;
}

.message-content {
}

.message-pseudo a {
}

.message-user-infos img {
	padding: 10px 0px;
}
/* --- Moderation des messages --- */
.message-moderate {
	margin-bottom: 10px;
	padding: 4px 0 4px 0;
	width: 98%;
	background-color: #ECEFFA;
	border: 1px solid #D6DEE7;
	border-radius: 4px;
	text-align: center;
	vertical-align: middle;
}

.message-moderate a {
	vertical-align: top;
}

i.message-announce,
i.message-announce-new,
i.message-announce-track {
	font-size: 1.6em;
}

i.message-announce {
	color: #D1D2D4;
}

i.message-announce-new {
	color: #4372AA;
}


/* -- Le maintenance -- */ 
/* -------------------- */
#maintain {
	margin: 10px 0;
}

div.delay {
	margin: 20px 0;
}

#global.global-maintain {
	flex-direction: column;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
}

div#message-maintain {
	position: absolute;
	z-index: 20;
	top: 5px;
	width: 100%;
	opacity: 0.98;
	text-align: center;
}

div#message-maintain > div {
	margin: 0 auto;
}

div#release {
	margin-top: 20px;
}

div[id*='keyword'] .form-autocompleter-container input {
	max-width: calc(100% - 20px);
}

/* --- Lined textarea --- */
.linedwrap {
	max-width: 100%;
}

.linedtextarea {
	display: inline-block;
	margin: 0;
	padding: 0 0 0 10px;
	width: calc(100% - 60px);
	height: 100%;
	background-color: #FFFFFF;
}

.linedtextarea textarea,
.linedwrap .codelines .lineno {
	font-size: 10pt;
	font-family: monospace;
	line-height: normal !important;
}

.linedtextarea textarea {
	margin: 0;
	padding: 5px 0 0 0;
	width: 100% !important;
	height: 100%;
	border: 0;
}

.linedwrap .lines {
	display: inline-block;
	overflow: hidden;
	margin-top: 0;
	padding: 5px 0 0 0;
	width: 50px;
	height: 100%;
	background-color: #FFFFFF;
	border-right: 1px solid #C0C0C0;
}

.linedwrap .codelines .lineno {
	padding: 0.0em 0.5em 0 0;
	text-align: right;
	color: #AAAAAA;
	white-space: nowrap;
}

.linedwrap .codelines .lineselect {
	color: red;
}
