/*---------------------------------------------------------
 * Theme    : Thème BlueMoon
 * Par      : EDN-Swan
 * Date     : 13/02/09
 * Site web :  http://easy-design.net/
 * Commentaire ou autre de l'auteur 
 # Merci de ne pas toucher au entête des fichiers CSS.
 * Contient les conteneurs de mise en page.
 * Le design.css permet de mettre en forme votre site web avec le design de votre choix
 *---------------------------------------------------------
 * Porté par : EDN | Swan
 * Date      : 05/03/2017
 *---------------------------------------------------------
 * Thème compatible avec un  menu (droite ou gauche)
					le choix reste possible sur un menu
 *----------------------------------------------------------*/

.title > a {
    color: #ffffff;
}

.news_bottom {
    font-size: 10px;
    height: 18px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 5px;
    text-align: right;
}

#news-tags-container,
#news-sources-container,
#news-suggested-container {
	margin: 15px 15px 15px 30px;
}

.news-tags-title,
.news-sources-title,
.news-suggested-title {
	font-weight: bold;
}

.news-separator { 
	margin: 20px auto 20px auto;
	width: 70%;
}

.news-picture {
	float: left;
	padding: 10px;
	max-width: 40%;
}

.navigation-link-previous 	{ float: left;  }
.navigation-link-next 		{ float: right; }

.navigation-link-previous i { margin-right: 5px; }
.navigation-link-next i 	{ margin-left: 5px;  }


@media (max-width:768px) {
	section, section#module-news{
		position: relative;
		margin: 0 auto;
		width: 100%;
		vertical-align: top;
		padding-bottom:15px;
	}

	article {
		background-color: transparent;
		box-shadow: none;
		position: relative;
		margin: 0 auto;
		width: 98%;
		vertical-align: top;
		padding-bottom:15px;		
		}

}