#news-tags-container,
#news-sources-container,
#news-suggested-container {
	margin: 15px 15px 15px 30px;
}

.news-tags-title,
.news-sources-title,
.news-suggested-title {
	font-weight: bold;
}

.news-separator { 
	margin: 20px auto 20px auto;
	width: 70%;
}

.news-picture {
	float: left;
	padding: 10px;
	max-width: 40%;
}

.navigation-link-previous 	{ float: left;  }
.navigation-link-next 		{ float: right; }

.navigation-link-previous i { margin-right: 5px; }
.navigation-link-next i 	{ margin-left: 5px;  }

#module-news article > .content {
	margin: 0 10px 0 10px;
	padding: 1.5em;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
}

#module-news article header h1,
#module-news article header h2 {
	margin: 0 10px 0 10px;
	padding: 8px;
	background: #444444;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
	border: none;
	font-size: 1.1em;
	font-weight: normal;
	color: #FFFFFF;
}

#module-news article header h1 a ,
#module-news article header h2 a {
	color: #FFFFFF;
}

#module-news article header h1 a:hover ,
#module-news article header h2 a:hover {
	color: #4BA9A1;
}