/*---------------------------------------------------------
 * Theme    : Multi_Theme
 * Par      : Sakura
 * Porté en V5.0.XX : 01/04/2016
 * Porté en V5.1.XX : 30/05/2017
 * Site web :  http://news-manga.com | http://easy-design.net/
 * Commentaire ou autre de l'auteur 
 # Merci de ne pas toucher au entête des fichiers CSS.
 *---------------------------------------------------------
 * Théme non compatible avec deux menus (droite et gauche)
					le choix reste possible sur un menu
 *----------------------------------------------------------*/


#mini-search-form {
    float: right;
    margin: 3px 0 0;
    vertical-align: middle;
    white-space: nowrap;
}
@media (max-width: 768px) {
#mini-search-form {
    margin: 20px 20px 20px 0;
}
}
#mini-search-form button, #mini-search-form .button {
    margin-top: 0;
}
#mini-search-form.input-element-button input {
    border-radius: 4px 0 0 4px;
    height: 25px;
    width: 120px;
}
#mini-search-form.input-element-button button {
    border-radius: 0 4px 4px 0;
    height: 25px;
    margin-left: -5px;
    padding: 4px 10px;
}
