/*---------------------------------------------------------
 * Theme    : Thème WindLight
 * Par      : EDN-Swan
 * Date     : 22/02/09
 * Site web :  http://easy-design.net/
 * Commentaire ou autre de l'auteur 
 # Merci de ne pas toucher au entête des fichiers CSS.
 * Contient les conteneurs de mise en page.
 * Le design.css permet de mettre en forme votre site web avec le design de votre choix
 *---------------------------------------------------------
 * Porté par : EDN | Swan
 * Date      : 15/03/2017
 *---------------------------------------------------------
 * Thème compatible avec un  menu (droite ou gauche)
					le choix reste possible sur un menu
 *----------------------------------------------------------*/
 /* ---    Content.css    --- */
/* --------------------------------------
Contient les elements : 
 - conteneurs generaux, elements de module,
 - pagination des pages,
 - exploreur de categorie,
 - gestion des categories,
 - mini-module,
 - message postes,
 - maintenance,
-----------------------------------------*/


/* -- Conteneurs, elements de module -- */
/* ------------------------------------ */
section,
article {
	position: relative;
	margin: 0 auto;	
	width: 100%;
	vertical-align: top;
}

@media (min-width: 769px) {
	section,
	article {
		margin: 1em auto;
		width: 98%;
	}
}

/* --- Titre d'une page ou d'un element d'un module --- */
section header h1,
article header h1 {
	font-size:1.2em;
	color: #745686;
	border-bottom: 2px solid #ECDEEF;
}
section header a:hover {
	text-decoration: none;
}

section header h2,
article header h2 {
	color: #745686;
	margin-left: 15px;
	padding-top:5px;
	border-bottom: 2px solid #ECDEEF;
	font-size:1.2em;
}

section header h3,
article header h3 {
	font-size:1.2em;
	color: #745686;
	margin-left: 15px;
	border-bottom: 2px solid #ECDEEF;
}

@media (min-width: 769px) {
	section header,
	article header {
		margin: 0 0 1em 0;
	}	
}

section#module-articles header h1 {display: none;}

/* --- Titre d'un bas de page --- */
@media (min-width: 769px) {
	section footer,
	article footer {
		margin-bottom: 1.5em;
	}
}

section footer,
article footer {
	clear: both;
}

/* --- Icones actions (edition, suppression, etc) --- */
span.actions {
	float: right;
}

header span.actions a {
	font-size: 1.2em;
}

header span.actions a {
	font-size: 1.2rem;
}

.more {
	padding: 10px 5px 0;
	font-size: 11px;
	font-size: 1.1rem;
	font-style: italic;
}

@media (min-width: 769px) {
	.more {
		margin: 0 0.2em 2em 1.2em;
		padding: 0;
	}
}

/* --- Contenu --- */
.content {
	padding: 0 1em;
	text-align: justify;
}

@media (min-width: 769px) {
	div#main.main-with-left.main-with-right section .content {
		padding: 0 5px;
	}
}

@media (max-width: 768px) {
	.content {
		padding: 1em 0;
	}
}

.content + aside {
	clear: both;
}

/* --- Block --- */
.block {
    padding: 0.8em;
    background-color: #FBFDFF;
    border-style: solid;
    border-width: 2px 1px 1px 1px;
    border-color: #366493 #F1F1F1 #F1F1F1 #F1F1F1;
}

.no-style .block {
    background-color: transparent!important;
    border: none!important;
}

.block .content {
    margin: 0;
}

.block h1 {
    border: none;
}

.block header {
    margin: 0 0 1% 0;
}

.block footer {
    margin: 0;
}

.elements-container {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
}

.elements-container > .block {
    flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    -webkit-flex: 0 1 auto;
}

/* Gestion en colonnes pour ecran large*/
@media (min-width: 769px) {
    .elements-container {
        flex-direction: row;
        -ms-flex-direction: row;
        -webkit-flex-direction: row;
        margin-left: -5px; /* @{gutter} */ 
    }
    .block { 
        margin-left: 5px; /* @{gutter} */ 
        width: 100%;
    } 
 
    .columns-2 .block { width: calc(100% / 2 - 5px); } /* calc(100% / @{number} - @{gutter}); */ 
    .columns-3 .block { width: calc(100% / 3 - 5px); }
    .columns-4 .block { width: calc(100% / 4 - 5px); }
    .columns-5 .block { width: calc(100% / 5 - 5px); }
    .columns-6 .block { width: calc(100% / 6 - 5px); }
    .columns-7 .block { width: calc(100% / 7 - 5px); }
 
    .block-xlarge { width: 100%!important; } /* Extension du bloc sur une ligne complète */
}

/* Gestion en ligne pour petit ecran */
@media (max-width: 768px) {
    .block {
        margin-bottom: 5px;
        width: 100%;
    }    
}

/* ---- Friends content ---- */
.content-friends {
    border-width: 7px 1px 1px 1px;
    border-top-color: #103B67;
}
.content-privileged-friends {
    border-width: 7px 1px 1px 1px;
    border-top-color: #E2BE47;
}

/* -- Pagination des pages -- */
/* -------------------------- */
section footer ul.pagination {
	text-align: center;
}

ul.pagination {
	margin: 0;
}

ul.pagination .fa:before {
	font-size: 0.8em;
}

ul.pagination-block {
	margin: 5px 0;
}

ul.pagination-block li {
	padding: 2px 2px;
}

ul.pagination-block li a {
	display: inline-block;
	padding: 2px 7px;
	outline: none;
	font-weight: bold;
	font-size: 0.8em;
	text-align: center;
	text-decoration: none;
}

ul.pagination-block li a {
	background-image: linear-gradient(to bottom,  rgba(255, 255, 255, 0.18) 0%, rgba(56, 56, 56, 0.10) 100%);
	background-color: #F9F9F9;
	border: 1px solid #CCCCCC;
	border-color: #E1E1E1 #E1E1E1 #BFBFBF #CFCFCF;
	border-radius: 4px;
	box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.2), 0 0 2px rgba(0, 0, 0, 0.05);
	color: #333333;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
}

ul.pagination-block li a:hover {
	background-color: #e9d2eb;
	background: linear-gradient(to top, #e9d2eb 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	border-color: #cccccc;
	color: #745686;
	box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.2), 0 0 2px rgba(0, 0, 0, 0.1);
	transition: all 0.1s linear;
}

ul.pagination-block li a:active {
	background-color: #F1F1F1;
	border: 1px solid #DDDDDD;
	box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.2), 0 0 2px rgba(0, 0, 0, 0.05);
}

ul.pagination-block li a.current-page {
	background-color: #e9d2eb;
	background: linear-gradient(to top, #e9d2eb 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	border-color: #cccccc;
	color: #745686;
	text-decoration: none;
}

ul.pagination-block li a.current-page:hover {
	background-color: #e9d2eb;
	background: linear-gradient(to top, #e9d2eb 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	border-color:#e9d2eb;
	color:  #747474;
	box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.2), 0 0 2px rgba(0, 0, 0, 0.1);
	transition: all 0.1s linear;
}

ul.pagination-block-bis li a.prev-page,
ul.pagination-block-bis li a.next-page {
	border: none;
	background: none;
	box-shadow: none;
	text-shadow: none;
}

ul.pagination-block-bis li a.prev-page:hover,
ul.pagination-block-bis li a.next-page:hover {
	text-decoration: underline;
}

.pages-pagination a {
	text-decoration: none;
}


/* -- Exploreur des categories -- */
/* ------------------------------ */
.explorer .cats,
.explorer .files {
	display: inline-block;
	margin: 5px 0.33%;
	width: 48%;
	vertical-align: top;
}

@media (max-width: 480px) {
	.explorer .cats,
	.explorer .files {
		width: 100%;
	}
}

.explorer .cats {
	min-width: 200px;
}

.explorer h1 {
	margin: 5px 0;
	color: #666666;
	font-size: 13px;
}

.explorer .content {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e9d2eb+100 */
	background: #e9d2eb; /* Old browsers */
	background: linear-gradient(to right,  #ffffff 0%,#e9d2eb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	padding: 5px 0;
	min-height: 120px;
	border: 1px solid #DDDDDD;
	border-radius: 3px;
}

.explorer .content ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.explorer .content ul ul {
	margin-left: 22px;
}

.explorer .content ul a.parent {
	float: left;
	height: 0;
}

.explorer .content ul a.parent i[id^="img2_"] {
	margin-left: -18px;
}

.explorer .content ul a {
	display: block;
	padding: 3px 0;
	color: #666666;
	text-decoration: none;
	text-align: left;
}

.explorer .content > ul > li > a {
	padding: 3px 5px;
}

.explorer .content ul .fa {
	width: 20px;
	vertical-align: top;
}

.explorer .content ul .fa:before {
	vertical-align: middle;
}

.explorer .content ul a.parent .fa:first-child {
	width: 14px;
}

.explorer .content ul a.parent .fa:first-child:before {
	width: 14px;
	font-size: 11px;
}

.explorer .content ul a:hover,
.explorer .content ul a:hover + a {
	background-color: #EEEEEE;
}

.explorer .content ul .sub a.parent {
	padding-left: 4px;
}

.explorer .selected {
	background-color: #DDDDDD;
}

.options {
	float: right;
	margin: 5px;
	padding: 6px 12px;
	max-width: 100%;
	background-color: #EEEEEE;
	border: 1px solid #DDDDDD;
	border-radius: 3px;	
}

.options h6 {
	margin: 10px 3px;
	font-size: 14px;
}

.options > h6,
.options > a ,
.options > span > a.small {
	color: #333333;
}

.infos {
	margin-left: 20px;
}

@media (max-width: 480px) {
	.infos {
		float: none;
		width: 100%;
		margin: 0 0 10px;
	}
}


/* -- Gestion des categories -- */
/* ---------------------------- */
.cat-description {
    margin: 10px 5px;
}
.subcat-container {
    margin: 10px 0 5px 0;
    font-size: 0;
}
.subcat-element {
    margin-bottom: 20px;
    font-size: 13px;
    text-align: center;
    border: none;
    background-color: transparent;
}
.subcat-content {
    margin: auto;
    padding: 0 5px;
}
.subcat-content img {
    margin-bottom: 10px;
}


/* --- Systeme de drag&Drop --- */
.sortable-block .sortable-element > .sortable-block {
    margin-left: 30px;
}

.sortable-block {
    margin: 0;
    padding: 0;
    min-height: 24px;
    list-style-type: none;
    list-style-position: outside;
    color: #777777;
}

.sortable-block .sortable-element {
    display: table;
    margin-bottom: 6px;
    padding: 0;
    width: 100%;
    border-color: #517BA6;
    border-style: solid;
    border-width: 0 0 0 3px;
    transition: all 0.2s;    
}

.sortable-block .sortable-element:hover {
    border-color: #366493;
    transition: all 0.2s;
}

@media (min-width:769px){ 
    .sortable-block .sortable-element .sortable-selector {
        display: table-cell;
        position: relative;
        width: 20px;
        opacity: 0.2;
        transition: opacity 0.3s;
        cursor: move;
    }
 
    .sortable-selector:after {
        position: absolute;
        content: "\f047";
        top: 34%;
        left: 4px;
        color: #517BA6;
        font-family: fontawesome;
    }
}

.sortable-block .sortable-element:hover .sortable-actions {
    opacity: 1;
    transition: opacity 0.3s;
}

.sortable-block .sortable-element:hover .sortable-selector {
    opacity: 1;
    transition: opacity 0.3s;
}

.sortable-block .sortable-title {
    padding: 8px 5px 5px 10px;
}

.sortable-block .sortable-title:hover {
    background-color: #FAFAFA;
    transition: all 0.2s linear;
}

.sortable-block .sortable-title > span {
    font-size: 1.5em;
    font-weight: bold;
}

.sortable-block .sortable-title a {
    color: #555555;
}

.sortable-block .sortable-title span.cat-desc {
    font-size: 0.8em;
    font-weight: normal;
    font-style: italic;
}

.sortable-block .sortable-title img {
    cursor: move;
}

.sortable-block fieldset {
    padding: 0 30px;
}

.sortable-block .sortable-actions {
    float: right;
    padding: 3px 3px;
    opacity: 0.2;
    transition: opacity 0.2s;
}

.sortable-block .sortable-element hr {
    margin-top: 5px;
    background-color: #999999;
}

.sortable-block .sortable-element label {
    margin-left: 14px;
    color: #1F507F;
}

.sortable-block .sortable-actions img,
.sortable-block .sortable-element:hover label,
.sortable-block .sortable-element .fa:hover {
    cursor: pointer;
}

.dragged {
    position: absolute;
    opacity: 0.9;
    z-index: 2000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) !important;
}

body.dragging,
body.dragging * {
    cursor: move !important;
}

.dropzone {
    margin: 10px 0;
    padding-top: 5px;
    height: 30px;
    opacity: 0.6;
    border: 1px dashed #AAAAAA;
    text-align: center;
    color: #AAAAAA;
}

.preview img {
    overflow: hidden;
}


/* -- Modules minis -- */
/* ------------------- */
.module-mini-container {
	background:#FFFFFF url('images/small-bg.png') repeat-x scroll 0 0;
	border: 1px solid #CCCCCC;
	border-bottom: 2px solid #EAD4EB;
	border-spacing: 1px;
	margin: 0 0 10px 0;
	padding: 5px;
    border-radius:12px;	
	clear: both;
}

.module-mini-top {
	background:rgba(0, 0, 0, 0.0) url('images/left.png') no-repeat scroll right center;
	padding: 0.2em 0 0.2em 0;
	min-height: 24px;
	text-align: center;
}

.module-mini-container .sub-title {
	display: block;
	font-weight: bold;
	color: #A27CB8;
	text-decoration: none;
	font-size: 12px;
}

.module-mini-contents {
	padding: 5px 4px 0 4px;
	border-top: none;
	border-bottom: none;
	text-align: center;
}

.module-mini-bottom {
	height: 15px;
}


/* -- Messages postes par les membres -- */
/*          (mp & commentaires)          */
/* ------------------------------------- */
#comments-list {
	clear: both;
}

#comments-list > header { 
	display: none;
}

.message {
	width: 98%;
	margin-bottom: 20px;
	overflow: auto;
}

#comments-list .message > header {
	display:none;
}

.message > footer {
	clear: both;
}

.view-topic {
	margin-top: 10px;
}

.view-topic i {
	margin: 0 0 1px 5px;
}

/* --- infos du message --- */
.message-date {
	margin-left: 150px;
}

.message-date i {
	vertical-align: top;
}

.message-user-infos {
	float: left;	
	width: 120px;
	text-align: center;
}

.message-message {
	position: relative;
	margin: 5px 0 0 140px;
	padding: 15px;
	min-height: 80px;
	background-color: #e9d2eb;
	border: 1px solid #CCCCCC;
	border-radius: 4px;
	color: #333333;
}

.message-message::before {
	position: absolute;
	top: 15px;
	bottom: auto;
	left: -25px;
	display: block;
	width: 0;
	border-width: 15px 25px 15px 0;
	border-color: transparent #CCCCCC;
	border-style: solid;
	content: "";
}

.message-message::after {
	position: absolute;
	content: "";
	top: 16px;
	bottom: auto;
	left: -24px;
	display: block;
	width: 0;
	border-width: 14px 24px 14px 0;
	border-color: transparent #e9d2eb;
	border-style: solid;	
}

.message-avatar {
	width: 80px;
}

.message-user-infos img.message-avatar {
	padding: 10px 0;
}

article .message-user-infos .message-user-group {
	display: none;
}

@media (max-width: 480px) {
	.message-user-infos img.message-avatar {
		float: left;
		margin: 5px 5px 0 15px;
		padding: 4px;
		max-height: 54px;
		width: auto;
	}

	.message-message {
		border-top: 1px solid #CAD1EB;
	}

	.message-pseudo {
		float: right;
		padding: 20px 10px 0 0px;
	}

	.message-level {
		display: none;
	}

	.message-date {
		float: right;
		margin: 0 15px 0 0;
		padding: 20px 0 0 0;
		max-width: 120px;
		text-align: right;
	}

}

@media (min-width: 481px) and (max-width: 768px) {
	.message-container {
		padding-left: 70px;
	}

	.message-pseudo {
		padding: 20px 10px 0 15px;
	}
	
	.message-user-infos img {
		position: absolute;
		top: 20px;
		left: 15px;
		max-width: 54px;
	}

	.message-date {
		margin: 0;
		padding: 23px 0 0 0;
		text-align: left;
	}

}

@media (max-width: 768px) {
	.message-container {
		position: relative;
		min-height: 80px;
		background-color: #ECEFFA;
		border: 1px solid #D6DEE7;
		border-radius: 4px;
		color: #333333;
	}

	.message-message {
		background-color: none;
		border: none;
		border-radius: 0;
	}

	.message-message::after,
	.message-message::before {
		display: none;
	}

	.message-user-infos {
		display: inline-block;
	}

	.message-pseudo {
		text-align: left;
	}

	.message-pseudo a {
		color: #555555;
		font-size: 1.2em;
		font-weight: bold;
	}
	.message-pseudo a:hover {
		color: #222222;
		text-decoration: none;
	}
	
	.message-user-infos {
		width: auto;
	}

	.message-user-infos img {
		padding: 3px;
		background-color: #fff;
		box-shadow: 0 1px 9px #e0e0e0,inset 0 0 2px rgba(215,215,215,0.75);
	}

	.message-date {
		display: inline-block;
		font-size: 0.8em;
	}

	.message-date span.actions {
		position: absolute;
		bottom: 0;
		right: 6px;
		z-index: 1;
		display: block;
		text-align: right;
		font-size: 1.2em;
	}
	.message-date span.actions a {
		display: inline-block;
		padding: 5px 2px 5px 2px;
	}

	.message-message {
		margin: 0 auto 10px auto;
		clear: both;
	}

	.message-message::before {
		top: auto;
		bottom: 100%;
		left: 204px;
		border-width: 15px;
		border-color: transparent;
		border-bottom-color: #D6DEE7;
		border-style: solid;
	}
	
	.message-message::after {
		top: auto;
		bottom: 100%;
		left: 205px;
		border-width: 14px;
		border-color: transparent;
		border-bottom-color: #ECEFFA;
		border-style: solid;
	}
}

/* --- Moderation des messages --- */
.message-moderate {
	margin-bottom: 10px;
	padding: 4px 0 4px 0;
	width: 98%;
	background-color: #ECEFFA;
	border: 1px solid #D6DEE7;
	border-radius: 4px;
	text-align: center;
	vertical-align: middle;
}

.message-moderate a {
	vertical-align: top;
}

i.message-announce,
i.message-announce-new,
i.message-announce-track {
	font-size: 1.6em;
}

i.message-announce {
	color: #D1D2D4;
}

i.message-announce-new {
	color: #4372AA;
}


/* -- Le maintenance -- */ 
/* -------------------- */
#maintain {
	margin: 10px 0;
}

div.delay {
	margin: 20px 0;
}

#global.global-maintain {
	flex-direction: column;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
}

div#message-maintain {
	position: absolute;
	top: 5px;
	width: 100%;
	opacity: 0.98;
	text-align: center;
}

div#message-maintain > div {
	margin: 0 auto;
}

div#release {
	margin-top: 20px;
}
