/*---------------------------------------------------------
 * Theme    : RiftNightMare 
 * Par      : EDN | Swan
 * Date     : 11/04/2016
 * Site web :  http://easy-design.net/
 * Commentaire ou autre de l'auteur 
 # Merci de ne pas toucher au entête des fichiers CSS.
  *---------------------------------------------------------
 * Porté par : EDN | Swan
 * Date V5.1 : 30/05/2017
/*--------------------------------------------------------
 * Théme non compatible avec deux menus (droite et gauche)
					le choix reste possible sur un menu
 *----------------------------------------------------------*/



#shoutbox-messages-container {
    height: 150px;
    margin: auto;
    overflow: auto;
    text-align: left;
    word-wrap: break-word;
}
.shout-horizontal {
    padding-left: 1.5em;
}
.shout-spacing {
    margin: 10px 0;
}
#module-mini-shoutbox textarea, #module-mini-shoutbox textarea:valid {
    border-spacing: 1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 0 10px black, 0 0 0 1px rgba(0, 255, 255, 0.2) inset;
    width: 90%;
}
#shoutbox-bbcode-container ul {
    margin: 0;
    padding: 0;
}
#shoutbox-bbcode-container ul li {
    border: medium none;
    display: inline-block;
}
