/*---------------------------------------------------------
 * Theme    : RiftNightMare 
 * Par      : EDN | Swan
 * Date     : 11/04/2016
 * Site web :  http://easy-design.net/
 * Commentaire ou autre de l'auteur 
 # Merci de ne pas toucher au entête des fichiers CSS.
  *---------------------------------------------------------
 * Porté par : EDN | Swan
 * Date V5.1 : 30/05/2017
/*--------------------------------------------------------
 * Théme non compatible avec deux menus (droite et gauche)
					le choix reste possible sur un menu
 *----------------------------------------------------------*/


/*#mini-search-form {
	float: right;

	white-space: nowrap;
	vertical-align: middle;
}*/

#mini-search-form {
    background-color: rgba(0, 19, 40, 0.75);
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 255, 255, 0.2), 0 0 0 1px rgba(0, 255, 255, 0.2) inset;
    float: right;
    margin: 26px 20px 0 0;
    vertical-align: middle;
    white-space: nowrap;
    z-index: 20;
}

@media (max-width: 768px) {
	#mini-search-form {
		margin: 20px 20px 20px 0;
	}
}

#mini-search-form button,
#mini-search-form .button {
	margin-top: 0;
}

#mini-search-form.input-element-button input {
	width: 120px;
	height: 25px;
	border-radius: 4px 0 0 4px;
}

#mini-search-form.input-element-button button {
	margin-left: -5px;
	padding: 4px 10px 4px 10px;
	height: 25px;
	border-radius: 0 4px 4px 0;
}