/*---------------------------------------------------------
 * Theme     : GSN-Gaming
 * Par       : Pegasetkc
 * Adapté    : 02/03/2017
 * Porté par : EDN |Swan
 * Site web :  http://easy-design.net/
 * Commentaire ou autre de l'auteur 
 # Merci de ne pas toucher au entête des fichiers CSS.
 * Contient les conteneurs de mise en page.
 * Le design.css permet de mettre en forme votre site web avec le design de votre choix
 *---------------------------------------------------------
 * Théme compatible avec deux menus (droite et gauche)
					le choix reste possible sur un menu
 *----------------------------------------------------------*/

#module-articles hr {
	margin-top: 10px;
}

.pages-pagination {
	float: right;
	width: 33%;
	margin-bottom: 10px;
}

#module-articles .small-block {
	min-height: 420px;
}

.article-articles.article-several.small-block {
	padding: 1.2em;
}

.article-articles.article-several h2,
.article-articles.article-several .more {
	margin: 0;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: -moz-use-text-color -moz-use-text-color #000000;
    border-image: none;
    border-radius: 0;
    border-style: none none solid;
    border-width: medium medium 2px;
    color: #ffffff;
    font-size: 12px;
    margin-top: 15px;
    min-height: 42px;	
}

.article-articles.article-several .content {
	padding: 0 0.5em 0 0.5em;
}

.article-articles.article-several img {
	padding: 0 0 0.5em 0;
}

span.contents + hr {
	margin: 35px 0 20px 0;
	clear: both;
}

.form-field-action-link ul {
	margin: 0;
    list-style-type: none;
}

.form-field-action-link i {
	font-size: 2.3rem;
}

#module-articles .small-block.one-article {
	width: 99%;
}

@media (min-width: 769px) {
	#module-articles .small-block.two-articles {
		width: 49%;
	}
}

.fa-pagebreak:before { content: "\f0f6"; }
