#connect-menu div.horizontal-fieldset {
	float: left;
	padding-top: 7px;
}

#connect-menu div.horizontal-fieldset-top {
	padding-top: 13px !important;
}

#connect-menu div.vertical-fieldset,
#connect-menu div.horizontal-fieldset {
	margin: 0;
}

#connect-menu div.vertical-fieldset form {
	margin-bottom: 10px;
}
#connect-menu div.horizontal-fieldset form {
	display: inline-block;
}

#connect-menu div.horizontal-fieldset span {
	display: none;
}

ul.connect-content {
	margin: auto;
	padding-top: 3px;
}

#connect-menu ul.connect-content li {
	list-style-type: none;
}

#connect-menu div.horizontal-fieldset ul.connect-content li {
	display: inline-block;
	width: 40px;
}

@media (max-width: 768px) {
#connect-menu div.horizontal-fieldset ul.connect-content li {
		width: 44px;
	}
}

#connect-menu div.horizontal-fieldset ul.connect-content li:last-child {
	margin-right: 0;
}

#connect-menu ul.connect-content li > i {
	width: 18px;
	text-align: center;
}

#connect-menu div.horizontal-fieldset ul li,
#connect-menu div.horizontal-fieldset ul li a {
	color: #FFFFFF;
}

#connect-menu div.horizontal-fieldset ul li a {
    border: 2px solid #A22828;
    padding: 8px;
    border-radius: 50%;
}

#connect-menu div.horizontal-fieldset ul li a:hover {
    border: 2px solid #B74242;
}

#connect-menu div.horizontal-fieldset ul li > i {
	vertical-align: 0;
}

#connect-menu div.vertical-fieldset label {
	padding-right: 0;
	text-align: center;
}

#connect-menu div.vertical-fieldset ul.connect-content {
	text-align: left;
}

#connect-menu div.vertical-fieldset ul.connect-content li {
    font-size: 14px;
    height: 34px;
    padding: 10px;
    margin-top: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

#connect-menu div.vertical-fieldset ul.connect-content li:hover {
    border-bottom: 2px solid #A22828;
}

#connect-menu div.vertical-fieldset ul.connect-content li a {
	color: #DDD ;
}

#connect-menu div.vertical-fieldset ul.connect-content li a:hover {
    color: #FFF;
}

#connect-menu div.horizontal-fieldset ul.connect-content {
	text-align: center;
}

div.connect-register i {
	vertical-align: -1px;
}

#connect-menu input#login,
#connect-menu input#password {
	padding: 4px 6px;
}

#connect-menu div.horizontal-fieldset input#login,
#connect-menu div.horizontal-fieldset input#password {
	margin: 0;
}

@media (max-width: 768px) {
	#connect-menu div.horizontal-fieldset input#login,
	#connect-menu div.horizontal-fieldset input#password {
		margin: 5px 0;
	}
}

#connect-menu div.vertical-fieldset input#login,
#connect-menu div.vertical-fieldset input#password {
	width: 120px;
}

#connect-menu div.vertical-fieldset button {
	margin: 5px 0;
}

#connect-menu div.horizontal-fieldset button {
	margin: 0;
}

/* Mot de passe oublie */ 
#connect-menu .vertical-fieldset .forgot-pass {
	color: #999999;
}
#connect-menu .vertical-fieldset .forgot-pass:hover {
	color: #555555;
}

@media (min-width: 769px) {
	#connect-menu .forgot-pass {
		display: inline-block;
		padding: 0 0 0 5px;
		vertical-align: middle;
		color: #E0F3FF;
	}
	#connect-menu .forgot-pass:hover {
		color: #F1F1F1;
	}
}

@media (max-width: 768px) {
	#connect-menu .forgot-pass {
		padding: 20px;
		display: block;
	}
	#connect-menu .forgot-pass:hover {
		text-decoration: underline;
	}
}

.js-menu-button {
	display: none;
}

@media (max-width: 768px) {
	.js-menu-button {
		display: inline-block;
		padding: 5px 10px 5px 10px;
	}
	
	#connect-menu div.horizontal-fieldset div.connect-content,
	#connect-menu div.horizontal-fieldset form {
		width: 100%;
		text-align: center;
	}

	#connect-menu .horizontal-fieldset li {
		padding: 8px 0 8px 2px;
	}

	#connect-menu .horizontal-fieldset a {
		color: #DEDEDE;
		text-decoration: none;
	}

	#connect-menu div.horizontal-fieldset span {
		display: inline-block;
	}

	.horizontal-fieldset ul.connect-content, 
	.horizontal-fieldset div.connect-content {
		position: absolute;
		padding: 10px;
		left: -100%;
		background-color: #222629;
		transition: left 0.5s;
	}

	#connect-menu.active ul.connect-content,
	#connect-menu.active div.connect-content {
		z-index: 200;
		left: 0%;
		width: auto;
		transition: left 0.5s;
	}

	#connect-menu div.horizontal-fieldset ul.connect-content li {
		display: block;
		text-align: left;
	}
	
	#connect-menu.active div.horizontal-fieldset div.connect-content input {
		display: block;
		margin-bottom: 10px;
		padding: 10px 20px;
		width: 100%;
	}
	
	#connect-menu.active div.horizontal-fieldset div.connect-content button.submit {
		display: inline-block;
		margin-bottom: 10px;
		padding: 10px 20px;
		width: 100%;
	}
}


/* Partie Sociale */
#connect-menu .horizontal-fieldset a.fb {
	padding: 6px 0 0 4px;
}

@media (min-width: 769px) {
	#connect-menu a.fb {
		padding: 7px 0 0 4px;
	}
}

#connect-menu .connect_button {

}

.connect_button {
	background: none;
	border: 2px solid #A22828;
	border-radius: 4px;
	color: #DDDDC6;
	font-size: 16px;
	text-decoration: none;
	padding: 6px;
}

.connect_button:hover {
	background: none;
	border: 2px solid #B74242;
	color: #DDDDC6;
	text-decoration: none;
}

article.web-partner {
	border-top-color: #A22828 !important;
}