/*--------------------------------------
		design.css
Contient les conteneurs de mise en page.
Le design.css permet de mettre en forme votre site web avec le design de votre choix
--------------------------------------*/


/* -- Elements HTML generiques specifique au theme -- */
/* -------------------------------------------------- */
html {
	font-size: 100%;
	font-size: 10px;
}

body {
	position: relative;
	height: auto;
	min-height: 100%;
	background: #000000 url(images/body.jpg) no-repeat fixed top center;
	color: #555555;
	font-size: 1.3em;
	font-family: "Trebuchet MS", Verdana, 'Bitstream Vera Sans', Times, serif;
}

@media (max-width: 768px) {
	body {
		font-size: 1.4em;
	}
}

/* -- En-tete de page - Header -- */
/* ------------------------------ */
header#header {}

/* --- Partie superieure du header --- */
div#top-header {
	position: relative;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	flex-direction: row;
	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	margin: auto;
	min-height: 139px;
	max-width: 1024px;
}

div#top-header-content {
	flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	-webkit-flex: 1 1 auto;
}

@media (max-width: 768px) {
	div#top-header {
		flex-direction: column;
		-ms-flex-direction: column;
		-webkit-flex-direction: column;
	}
	
	div#top-header-content {
		align-self: flex-end;
		-ms-align-self: flex-end;
		-webkit-align-self: flex-end;
	}
}

/* --- Partie inferieur du header --- */
div#sub-header {
	min-height: 48px;
	max-width: 1024px;
	margin: 10px auto;
	background: #333333;
	background: linear-gradient(top, #333333 0%,#222222 100%);
	border: 1px solid #222222;
}

div#sub-header a {
	color: #FFFFFF;
}

@media (min-width: 769px) {
	div#sub-header {
		border-radius: 5px;
	}
}

div#sub-header-content{
	margin: auto;
	max-width: 1024px;
}

/* --- Logo et Nom du site web --- */
div#site-infos {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	margin: 1.5em 0 0 1.5em;
	max-width: 940px;
	flex: 1 1 auto;
}

div#site-logo {
	margin: 0 1em 0 0;
	width: 60px;
	height: 60px;
	background-image: url(images/logo.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	-webkit-flex: 0 0 auto;
}

div#site-name-container {
	margin: 0.4em 0 0 0;
}

a#site-name {
	color: #F9FCFF;
	font-size: 3em;
	font-weight: bold;
	line-height: 1em;
	letter-spacing: 0.02em;
	text-decoration: none;
	text-shadow: 0 0 0 rgb(0, 0, 0), 1px 0 0 rgb(0, 0, 0), 2px 0 0.1px rgba(0, 0, 0, 0.1), 2px 0 0.1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0, 0, 0, .1);
}

span#site-slogan {
	display: block;
	padding: 0.1em 0 0 0.1em;
	color: #FFFFFF;
	font-size: 1em;
	letter-spacing: 0.1em;
}

@media (min-width: 769px) {
	div#site-logo {
		width: 90px;
		height: 90px;
	}

	div#site-name-container {
		margin: 1em 0 0 0;
	}

	a#site-name {
		font-size: 4em;
	}
	
}

/* -- Conteneur global du site -- */
/* ------------------------------ */
div#global {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	flex-direction: column;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	flex-wrap: wrap;
	margin: 18px auto 20px auto;
	padding: 0 10px;
	max-width: 1024px;
	background: #FAFAFA;
	border-radius: 8px;
}

div#main {
	padding: 0 0 10px 0;
	max-width: 100%;
	order : 1;
	-ms-flex-order: 1;
	-webkit-flex-order: 1;
}

aside#menu-left,
aside#menu-right {
	width: 100%;
	background: #FFFFFF;
	border: 1px solid #DFDFDF;
	border-radius: 4px;
}

aside#menu-left  {
	order : 2;
	-ms-flex-order: 2;
	-webkit-flex-order: 2;
}

aside#menu-right {
	order : 3;
	-ms-flex-order: 3;
	-webkit-flex-order: 3;
	margin: 10px 0 10px 0;
}

@media (min-width: 769px) {
	div#global {
		min-height: 100vh;
		flex-direction: row;
		-ms-flex-direction: row;
		-webkit-flex-direction: row;
	}

	div#main {
		padding: 0 10px;
		order : 2;
		-ms-flex-order: 2;
		-webkit-flex-order: 2;
		flex: 0 1 auto;
		-ms-flex: 1 0 100%;
	}

	aside#menu-left,
	aside#menu-right {
    	width: 200px;
	}

	aside#menu-left  { 
		order : 1;
		-ms-flex-order: 1;
		-webkit-flex-order: 1;
	}
	aside#menu-right { 
		order : 3;
		-ms-flex-order: 3;
		-webkit-flex-order: 3;
	}
	
	#main.main-with-left,
	#main.main-with-right {
		width: calc(100% - 200px);
		-ms-flex: 1 0 auto; /*Tricks IE*/
	}
	
	#main.main-with-left.main-with-right {
		width: calc(100% - 400px);
		-ms-flex: 1 0 auto; /*Tricks IE*/
	}
}

div#top-footer {
	order : 4;
	-ms-flex-order: 4;
	-webkit-flex-order: 4;
	flex: 0 1 100%;
	margin: 10px 0 10px 0;
}


/* -- Contenu de la page -- */
/* ------------------------ */

/* --- Contenu central --- */
div#main-content {
	padding: 1.5em 0.8em;
}

div.block-container {
	margin-top: 15px;
}

/* --- Emplacement au dessus et en dessous du contenu de la page --- */
div#top-content {
	margin: 10px 0 2% 0;
}

/* --- Emplacement au dessus du pied de page --- */
div#bottom-content {
	margin: 2% 0 0 0;
}


/* -- Pied de page - Footer -- */
/* --------------------------- */
footer#footer {
	max-width: 1024px;
	clear: both;
	margin: 20px auto;
	background:#333333; 
	background:linear-gradient(top, #333333 0%,#222222 100%);
	border:1px solid #000000; 
	border-radius:5px;
}

footer#footer .footer-content {
	margin: 0 auto 0 auto;
	padding: 1.5em 0;
	max-width: 1024px;
	border-bottom: 2px groove #444444;
}

footer#footer .footer-infos {
	padding: 10px 10px 0 10px;
	min-height: 40px;
	text-align: center;
}

footer#footer .footer-infos a,
footer#footer .footer-infos span { 
	color: #AAAAAA;
	font-size: 10px;
}

footer#footer .footer-infos a:hover,
footer#footer .footer-infos span { 
	color: #EEEEEE;
}


/* -- Elements specifiques PHPboost -- */
/* ----------------------------------- */

/* --- Compteur de visite --- */
div#visit-counter {
	position: absolute;
	right: 0;
	bottom : 1em;
	margin-right: 10px;
	font-size: 0.9em;
	color: #F9FCFF;
	text-align: right;
}

/* --- Barre de lien rapide --- */
nav#breadcrumb {
	margin: 0 0 20px 10px;
	text-indent: 10px;
}

nav#breadcrumb ol {
	margin: 0;
	list-style: none;
}

nav#breadcrumb ol li {
	display: inline;
}

nav#breadcrumb ol li:not(.current):after {
	content: '/';
	color: #616161;
}

/* --- Scroll to Top --- */
.scroll-to {
	position: fixed;
	z-index: 10;
	display: none;
	background-color: rgba(15, 15, 16, 0.8);
}

#scroll-to-top {
	right: 25px;
	bottom: 0;
	padding: 2px 11px 3px 10px;
	transition: 0.2s;
}

.scroll-to i {
	color: rgba(255, 255, 255, 0.8);
	transition: 0.2s;
}

.scroll-to:hover i {
	color: rgba(255, 255, 255, 1);
	transition: 0.3s;
}

@media (min-width: 769px) {
	#scroll-to-top {
		bottom: 25px;
		padding: 9px 11px 11px 10px;
	}

	.scroll-to i {
		font-size: 2em;
	}
}

@media (max-width: 768px) {
	#scroll-to-top:hover {
		padding: 9px 11px 11px 10px;
		transition: 0.3s;
	}
}

/* --   Cookie Bar  -- */ 
/* ------------------- */
.cookiebar-container {
	z-index: 100;
	left: 0;
	right: 0;
	top: 0;
	padding: 7px 20px;
	background-color: #F2F2F2;
	border-bottom: 1px solid #E2E2E2;
	font-size: 0.9em;
	text-align: center;
}

.cookiebar-container.fixed {
	position: fixed;
}

.cookiebar-content {
	text-align: justify;
}

@media (min-width: 769px) {
	.cookiebar-content {
		display: inline-block;
		max-width: calc(100% - 250px);
		vertical-align: middle;
	}

	.cookiebar-actions {
		display: inline-block;
		width: 250px;
	}
}

@media (max-width: 768px) {
	.cookiebar-content {
		margin-bottom: 5px;
	}

	.cookiebar-actions {
		margin: 15px 0 5px 0;
	}
}

.cookiebar-button {
	margin: 0 5px 0 5px;
	border-radius: 4px;
	color: #FEFEFE;
}

@media (max-width: 768px) {
	.cookiebar-button {
		margin: 0 10px 0 10px;
	}
}

.cookiebar-button-understand 		{ background-color: #337AB7; border-color: #2E6DA4; }
.cookiebar-button-understand:hover 	{ background-color: #2E6DA4; }

.cookiebar-button-allowed 			{ background-color: #5CB85C; border-color: #4CAE4C; }
.cookiebar-button-allowed:hover 	{ background-color: #4CAE4C; }

.cookiebar-button-declined 			{ background-color: #E84E40; border-color: #CE271A; }
.cookiebar-button-declined:hover 	{ background-color: #CE271A; }

@media (max-width: 468px) {
	.cookiebar-more {
		display: block;
		margin: 10px 0 5px 0;
	}
}

.aboutcookie-title {
	font-size: 1.3em;
	line-height: 1.3em;
	font-weight: bold
}

.aboutcookie-title + p {
	margin: 0px 0 20px 0px;
}

footer#cookiebar-change-choice {
	margin-top: 10px;
	text-align: center;
}

.cookiebar-change-choice-link {
	text-align: center;
} 

