 /*---------------------------------------------------------
 * Theme    : Thème Universal-PBT
 * Par      : EDN | Swan
 * Date     : 02/02/10
 * Site web :  http://easy-design.net/
 * Commentaire ou autre de l'auteur 
 # Merci de ne pas toucher au entête des fichiers CSS.
  *---------------------------------------------------------
 * Porté par : EDN | Swan
 * Date V3.0 : 02/02/2010 
 * Date V4.0 : 22/12/2012
 * Date V5.0 : 06/02/2017
 * Date V5.1 : 30/05/2017
/*--------------------------------------------------------
 * Théme compatible avec deux menus (droite et gauche)
 * le choix reste possible sur une seule colonne de menus.
 *----------------------------------------------------------*/

/* --- Newsletter--- */
/* ------------------------ */


.newsletter-form {
	background: rgba(255,255,255, 0.5);
    margin: 20px 25px 10px 0;
    vertical-align: middle;
    white-space: nowrap;
    border-radius: 5px;	
}

.newsletter-title {
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    margin-left: 5px;
    padding: 2px 4px 0 0;
    vertical-align: middle;
}
div#newsletter {
    float: right;
    margin: 10px;
}
div#newsletter button, div#newsletter .button {
    margin-top: 0;
}

.newsletter-link {
    margin: 10px 0 0;
}
div#newsletter .input-element-button input {
    border-radius: 4px 0 0 4px;
    font-size: 12px;
    width: 120px;
}
div#newsletter .input-element-button button {
	background-image:none;
	background-color:rgba(0,0,0, 0);
	border:  rgba(255,255,255, 0.7);
    border-color: none;
    border-radius: 0 4px 4px 0;
	color: #000000;
    font-size: 12px;
    margin-left: -5px;

}


