/*---------------------------------------------------------
 * Theme    :  Thème TravelToThePast
 * Par      : EDN | Swan
 * Date v5.0: 10/09/2016
 * Site web :  http://easy-design.net/
 * Commentaire ou autre de l'auteur 
 # Merci de ne pas toucher au entête des fichiers CSS.
 * Contient les conteneurs de mise en page.
 * Le design.css permet de mettre en forme votre site web avec le design de votre choix
  *---------------------------------------------------------
 * Porté par : EDN | Swan
 * Date V5.1 : 30/05/2017
/*--------------------------------------------------------
 * Théme compatible avec deux menus (droite et gauche)
					le choix reste possible sur un menu
 *----------------------------------------------------------*/

/* -- Elements HTML generiques specifique au theme -- */
/* -------------------------------------------------- */
/* afficher le texte sélectionné en blanc sur fond gris */
::-moz-selection { color:#efefef;  background: #404040 none repeat scroll 0 0;}
::selection     { color:#efefef;  background:#404040 none repeat scroll 0 0;}

/* afficher le texte sélectionné dans un paragraphe en blanc sur fond gris */
p::-moz-selection { color:#efefef;  background: #222222 none repeat scroll 0 0; }
p::selection      { color:#efefef;  background: #222222 none repeat scroll 0 0;}

html {
	font-size: 100%;
	font-size: 10px;
}

body {
	background: url(images/bg.jpg) repeat scroll center top rgba(255, 255, 255, 0.5);
	color:#404040;
    font-family:Verdana,Arial,Helvetica,sans-serif;
    font-size:12px;
	position: relative;
	height: auto;
	min-height: 100%;
}

.sbody {
    background: rgba(250, 235, 215, 0.5) none repeat scroll 0 0;
}
/* -- En-tete de page - Header -- */
/* ------------------------------ */
header#header {
    background: url(images/header.png) no-repeat scroll center 0 transparent;
    min-height: 450px;
}

/* --- Partie superieure du header --- */
div#top-header {
    background: transparent url(images/surheader.png) no-repeat scroll center 0;

	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	flex-direction: row;
	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	margin: auto;
	min-height: 410px;
	max-width: 1024px;
}

div#top-header-content {
	flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	-webkit-flex: 1 1 auto;
}

@media (max-width: 768px) {
	div#top-header {
		flex-direction: column;
		-ms-flex-direction: column;
		-webkit-flex-direction: column;
	}
	
	div#top-header-content {
		align-self: flex-end;
		-ms-align-self: flex-end;
		-webkit-align-self: flex-end;
	}
}

/* --- Partie inferieur du header --- */
div#sub-header {
	min-height: 35px;
}

div#sub-header-content{
	margin: auto;
	max-width: 1024px;
}

/* --- Logo et Nom du site web --- */
div#site-infos {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	margin: 1.5em 0 0 1.5em;
	max-width: 940px;
	flex: 1 1 auto;
}

div#site-logo {
	margin: 0 1em 0 0;
	width: 60px;
	height: 60px;
	background-image: url(images/logo.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	-webkit-flex: 0 0 auto;
}

div#site-name-container {
	margin: 0.4em 0 0 0;
}

a#site-name {
	color: #F9FCFF;
	font-size: 3em;
	font-weight: bold;
	line-height: 1em;
	letter-spacing: 0.02em;
	text-decoration: none;
	text-shadow: 0 0 0 rgb(0, 0, 0), 1px 0 0 rgb(0, 0, 0), 2px 0 0.1px rgba(0, 0, 0, 0.1), 2px 0 0.1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0, 0, 0, .1);
}

span#site-slogan {
	display: block;
	padding: 0.1em 0 0 0.1em;
	color: #FFFFFF;
	font-size: 1em;
	letter-spacing: 0.1em;
}


/* -- Conteneur global du site -- */
/* ------------------------------ */
div#SuperGlobal {
    margin: auto;
    width: 1030px;
}

div#global {
    background: transparent url(images/global.png) repeat-y scroll 9px 0;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	flex-direction: column;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	margin: auto auto 0;
	padding: 0 10px;
	max-width: 1024px;
}

div#main {
	padding: 0 0 10px 0;
	max-width: 100%;
	order : 1;
	-ms-flex-order: 1;
	-webkit-flex-order: 1;
}

aside#menu-left,
aside#menu-right {
	width: 100%;
}

aside#menu-left  {
	order : 2;
	-ms-flex-order: 2;
	-webkit-flex-order: 2;
}
aside#menu-right {
	order : 3;
	-ms-flex-order: 3;
	-webkit-flex-order: 3;
}

@media (min-width: 769px) {
	div#global {
		min-height: 100vh;
		flex-direction: row;
		-ms-flex-direction: row;
		-webkit-flex-direction: row;
	}

	div#main {
		padding: 0 10px;
		order : 2;
		-ms-flex-order: 2;
		-webkit-flex-order: 2;
		flex: 1 0 auto;
		-ms-flex: 1 0 100%;
	}

	aside#menu-left,
	aside#menu-right {
    	width: 200px;
	}

	aside#menu-left  { 
    margin-left: 15px;
		order : 1;
		-ms-flex-order: 1;
		-webkit-flex-order: 1;
	}
	aside#menu-right { 
	margin-right: 15px;
		order : 3;
		-ms-flex-order: 3;
		-webkit-flex-order: 3;
	}
	
	#main.main-with-left,
	#main.main-with-right {
		width: calc(100% - 200px);
		-ms-flex: 1 0 auto; /*Tricks IE*/
	}
	
	#main.main-with-left.main-with-right {
		width: calc(100% - 425px);
		-ms-flex: 1 0 auto; /*Tricks IE*/
	}
}

div#top-footer {
    background: transparent url(images/global.png) repeat-y scroll 9px 0;
    margin: auto;
    max-width: 1024px;
    padding: 2% 0;
}


/* -- Contenu de la page -- */
/* ------------------------ */

/* --- Contenu central --- */
div#main-content {
	padding: 1.5em 0.8em;
}

div.block-container {
	margin-top: 15px;
}

/* --- Emplacement au dessus et en dessous du contenu de la page --- */
div#top-content {
	margin: 0 0 2% 0;
	padding: 0.1em 0.8em;
	background-color: #FFFFFF;
	border: 1px solid #BEBEBE;
}

/* --- Emplacement au dessus du pied de page --- */
div#bottom-content {
	margin: 2% 0 0 0;
	padding: 0.1em 0.8em;
	background-color: #FFFFFF;
	border: 1px solid #BEBEBE;
}


/* -- Pied de page - Footer -- */
/* --------------------------- */
footer#footer {
	background: transparent url(images/footer.png) no-repeat scroll 11px 0;
	width: 100%;
	clear: both;
    margin: 0 auto auto;
	min-height:126px;
	max-width: 1024px;
    text-align: center;
}

footer#footer .footer-content {
	margin: 0 auto 0 auto;
	padding: 1.5em 0;
	max-width: 1024px;
	border-bottom: 2px groove #444444;
}

footer#footer .footer-infos {
	min-height: 40px;
	padding-top: 43px;
	text-align: center;
}

footer#footer .footer-infos span {

    color: #404040;
    font-size: 10px;
}
footer#footer .footer-infos span a {
    color: #404040;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
}



/* -- Elements specifiques PHPboost -- */
/* ----------------------------------- */

/* --- Compteur --- */
div#visit-counter {
	position: absolute;
	right: 0;
	bottom : 1em;
	margin-right: 10px;
	font-size: 0.9em;
	color: #F9FCFF;
	text-align: right;
}

/* --- Barre de lien rapide --- */
nav#breadcrumb {
	margin: 0 0 20px 10px;
	text-indent: 10px;
}

nav#breadcrumb ol {
	margin: 0;
	list-style: none;
}

nav#breadcrumb ol li {
	display: inline;
}

nav#breadcrumb ol li:not(.current):after {
	content: '';
	color: #616161;
}

/*======================
 --- Scroll to Top ---
=======================*/
.scroll-to {
	position: fixed;
	z-index: 10;
	display: none;
	background-color: rgba(241, 238, 229, 0.8);
	border-radius: 5px;
}

#scroll-to-top {
	right: 25px;
	bottom: 25px;
	padding: 9px 11px 11px 10px;
}

.scroll-to i {
	font-size: 2em;
	color: rgba(104, 85, 53, 0.8);
	transition: 0.2s;
}

.scroll-to:hover i {
	color: rgba(104, 85, 53, 1);
	transition: 0.5s;
}

@media (min-width: 769px) {
	#scroll-to-top {
		bottom: 40px;
		padding: 9px 11px 11px 10px;
	}

	.scroll-to i {
		font-size: 1em;
	}
}

@media (max-width: 768px) {
	#scroll-to-top:hover {
		padding: 9px 11px 11px 10px;
		transition: 0.3s;
	}
}
/*======================
 ---   Cookie Bar    ---
=======================*/
.cookiebar-container {
	z-index: 100;
	left: 0;
	right: 0;
	top: 0;
	padding: 7px 20px;
	background-color: rgba(255, 255, 255, 0.75);
	border-bottom: 2px solid #685535;
	font-size: 1em;
	text-align: center;
}

.cookiebar-container.fixed {
	position: fixed;
}

.cookiebar-content {
	text-align: justify;
}

@media (min-width: 769px) {
	.cookiebar-content {
		display: inline-block;
		max-width: calc(100% - 300px);
		vertical-align: middle;
	}

	.cookiebar-actions {
		display: inline-block;
		width: 300px;
	}
}


@media (max-width: 768px) {
	.cookiebar-content {
		margin-bottom: 5px;
	}

	.cookiebar-actions {
		margin: 15px 0 5px 0;
	}
}

.cookiebar-button {
	margin: 0 5px 0 5px;
	border-radius: 4px;
	color: #FEFEFE;
}

@media (max-width: 768px) {
	.cookiebar-button {
		margin: 0 10px 0 10px;
	}
}

.cookiebar-button-understand 		{ background-color: #685535; border-color: #c6bea7; }
.cookiebar-button-understand:hover 	{ background-color: #c6bea7; border-color: #685535;}

.cookiebar-button-allowed 			{ background: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%); border-color: #000000;}
.cookiebar-button-allowed:hover 		{ background: #000000; }

.cookiebar-button-declined 			{ background: linear-gradient(to bottom, #a90329 0%,#8f0222 44%,#6d0019 100%); border-color: #6d0019;}
.cookiebar-button-declined:hover 	{ background: #AA0000; }


@media (max-width: 468px) {
	.cookiebar-more {
		display: block;
		margin: 10px 0 5px 0;
	}
}

.aboutcookie-title {
	font-size: 1.3em;
	line-height: 1.3em;
	font-weight: bold
}

.aboutcookie-title + p {
	margin: 0px 0 20px 0px;
}

footer#cookiebar-change-choice {
	margin-top: 10px;
	text-align: center;
}

.cookiebar-change-choice-link {
	text-align: center;
}
/*======================================
			Alls Media Queries
		 CSS applique aux écrans PC 
========================================*/

@media (max-width:768px) {

	body {font-size: 1.4em;}
	
	div#SuperGlobal {width: auto;}	
	header#header {margin: auto; background:none; height:35px; min-height:0px; margin: auto;width: auto;}
	div#top-header, div#titre, div#footer_left{display: none;}
	div#header-gsm {background-color:#685535; border-bottom:2px solid #222222; min-height:50px; text-align:center;}
	div#sub-header {
		float: none;
		margin-right: 0px;
		margin-top: 0px;
	background: #000000; /* Old browsers */
	border-bottom: 1px solid #103480;
    min-height: 35px;
    text-align: center;
	box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.8);
	}
	.sub-container{display: none;}
	a#site-name {
    color: #f5f5f5;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 3.5em;
    text-shadow: none;
	}
	div#global{    background: transparent url(images/global.png) repeat-y scroll center 0;}
	aside#menu-left {border-right: none;}
	aside#menu-right{border-left: none;}	
	
	div#top-footer {background:rgba(255, 255, 255, 0.7) none repeat scroll 0 0;}	

	footer#footer {
	background: #685535 none repeat scroll 0 0;
	border-top: 1px solid #222222;
	clear: both;
	margin: auto;
	width: 1250px;
    height: auto;		
	}
	div#footer-bis {  height: 1px;}	
	footer#footer .footer-infos {
		min-height: 40px;
		text-align: center;
		padding-top: 10px;
	}
	footer#footer {width:100%}
	footer#footer .footer-infos span a{color:#fefefe;}
	footer#footer .footer-infos span a:hover {color:#5f3f12;}
	.footer-infos span {
    display: block;
    padding: 0 0 5px;
	}
	footer#footer .footer-infos {
    min-height: 40px;
    padding-top: 5px;
    text-align: center;
}
	footer#footer .footer-infos span {
	color: #eeeeee;
	font-size: 0.8em;
}
	span.footer-infos-separator {
		display: none;
	}
	#prim-nav{display: none;}
}

@media (min-width:769px) {
	div#header-gsm{display: none;}
}
