.newsletter-form {
	margin: 20px 25px 10px 0;
	white-space: nowrap;
	vertical-align: middle;
}

.newsletter-title {
	padding: 5px 10px 0 0;
	font-size: 12px;
	vertical-align: middle;
}
 
div#newsletter { 
	float: right;
	margin: 10px;
}

div#newsletter button,
div#newsletter .button {
	margin-top: 0;
}
 
.newsletter-link { 
	margin: 10px 0 0 0;
}

div#newsletter  .input-element-button input {
	width: 120px;
	border-radius: 4px 0 0 4px;
	font-size: 12px;
}

div#newsletter  .input-element-button button {
	margin-left: -5px;
	border-radius: 0 4px 4px 0;
	font-size: 14px;
	padding: 7px 10px 8px 10px;
}