/*---------------------------------------------------------
 * Theme    :  ValentineSDay
 * Par      : EDN | Swan
 * Date     : 08/05/2016
 * Site web :  http://easy-design.net/
 * Commentaire ou autre de l'auteur 
 # Merci de ne pas toucher au entête des fichiers CSS.
 *---------------------------------------------------------
 * Porté par : EDN | Swan
 * Date V5.0 : 08/05/2016
 * Date V5.1 : 30/05/2017
/*--------------------------------------------------------
 * Théme non compatible avec deux menus (droite et gauche)
					le choix reste possible sur un menu
 *----------------------------------------------------------*/

/* -- Conteneur des messages de la shoutbox.*/
#shoutbox-messages-container {
	margin: auto;
	height: 150px;
	overflow: auto;
	text-align: left;
	word-wrap: break-word;
}

.shout-horizontal {
	padding-left: 1.5em;
}

.shout-spacing {
	margin: 10px 0 10px 0;
}

#module-mini-shoutbox textarea, 
#module-mini-shoutbox textarea:valid {
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    border: 1px solid #333333;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.01) inset;
    width: 90%;
}
#module-mini-shoutbox textarea:hover, 
#module-mini-shoutbox textarea:valid:hover{
	color: #efefef;
	border: 1px solid #BBBBBB;
	background:#222222;
}
#module-mini-shoutbox textarea:focus, 
#module-mini-shoutbox textarea:valid:focus{
	color: #efefef;
	border: 1px solid #ab019d;
	background:#222222;
	outline: 0;
	box-shadow: inset 0 1px 1px rgba(214, 0, 0, 0.4), 0 0 10px rgba(214, 0, 0, 0.5);
}

#shoutbox-bbcode-container ul {
	margin: 0;
	padding: 0;
}

#shoutbox-bbcode-container ul li {
	display: inline-block;
	border: none;
}

