.pages-button {
	margin-left: 10px;
	padding: 4px 2px;
	width: 145px;	
	height: 20px;
	background-color: #788EA0;
	border: 1px solid #6D93B4;
	color: #EDFFF0;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}

ol {
	margin-left: 25px;
}

.futur-cat-pages {
	padding-left: 17px;
}

.article-pages .options {
	float: left;
	width: auto;
}

.article-pages .content {
	padding-bottom: 85px;
}

.article-pages footer {
	height: 30px;
	padding: 5px 10px 0 40px;
	margin: 0px auto;
	background: #EFEFEF url(images/post_bg.png) repeat-x bottom left;
	font-size: 12px;
	font-family: Georgia, serif;
	font-style: italic;
	color: #AFAFAF;
	text-shadow: 1px 1px 1px white;
}