#module-articles hr {
	margin-top: 10px;
}

.pages-pagination {
	float: right;
	width: 33%;
	margin-bottom: 10px;
}

#module-articles .small-block {
	min-height: 420px;
}

.article-articles.article-several.small-block {
	padding: 1.2em;
}

.article-articles.article-several h2,
.article-articles.article-several .more {
	margin: 0;
}

.article-articles.article-several .content {
	padding: 0 0.5em 0 0.5em;
}

.article-articles.article-several img {
	padding: 0 0 0.5em 0;
}

span.contents + hr {
	margin: 35px 0 20px 0;
	clear: both;
}

.form-field-action-link ul {
	margin: 0;
    list-style-type: none;
}

.form-field-action-link i {
	font-size: 2.3rem;
}

#module-articles .small-block.one-article {
	width: 99%;
}

@media (min-width: 769px) {
	#module-articles .small-block.two-articles {
		width: 49%;
	}
}

.fa-pagebreak:before { content: "\f0f6"; }

#module-articles article > .content {
	margin: 0 10px 0 10px;
	padding: 1.5em;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
}

#module-articles article header h1,
#module-articles article header h2 {
	margin: 0 10px 0 10px;
	padding: 8px;
	background: #444444;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
	border: none;
	font-size: 1.1em;
	font-weight: normal;
	color: #FFFFFF;
}

#module-articles article header {
	margin: 0;
}

#module-articles article footer {
	margin: 5px 15px;
}