.newsletter-form {
	margin: 20px 25px 10px 0;
	white-space: nowrap;
	vertical-align: middle;
}

.newsletter-title {
	font-size: 12px;
	padding: 5px 10px 0px 0px;
	vertical-align: middle;
}
 
div#newsletter { 
	float: right;
	margin: 10px;
}
 
.newsletter-link { 
	margin: 0;
	margin-top: 10px;
}

div#newsletter .input-element-button input {
	width: 120px;
	font-size: 12px;
	border-radius: 4px 0px 0px 4px;
	margin-top: 0;
	padding: 11px;
}

div#newsletter .input-element-button button {
	font-size: 12px;
	border-radius: 0px 4px 4px 0px;
	margin-left: -5px;
}