.download-picture {
	display: block;
	padding-bottom: 10px;
	text-align: center;
}

.options {
	max-width: 280px;
}

@media (min-width: 480px) {
	.download-picture {
		float: right;
		padding-left: 10px;
	}
}

.article-download.article-several .more {
	background: #D8D8D8;
	padding: 5px 4px;
	margin: 0;
}

.article-download.article-several h2 {
	margin-top: 5px;
}

.article-download.article-several h2 .actions {
	margin-right: 3px;
}
