/*---------------------------------------------------------
 * Theme    : DayZ
 * Par      : EDN | Swan
 * Date     : 31/03/2016
 * Site web :  http://easy-design.net/
 * Commentaire ou autre de l'auteur 
 # Merci de ne pas toucher au entête des fichiers CSS.
 *---------------------------------------------------------
 * Théme non compatible avec deux menus (droite et gauche)
					le choix reste possible sur un menu
 *----------------------------------------------------------*/

/* --------------------------------------
		global.css
 Contient les classes globales au site, peuvent etre utilisees partout.
--------------------------------------*/


/* -- La mise en forme du texte --
--------------------------------------*/

/* --- Les liens du site --- */
a {
    color: #c9c9c9;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
    outline: medium none;
    text-decoration: none;
}

a:hover {
    color: #aa0000;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-weight: bold;
    text-decoration: underline;
}
aside#menu-right a, aside#menu-left a {
    color: #ffffff;
    font-family: monospace;
    font-size: 15px;
    font-weight: normal;
    outline: medium none;
    text-decoration: none;
}
aside#menu-right a:hover, aside#menu-left a:hover{
    color: #ff0000;
    font-family: monospace;
    font-size: 15px;
    font-weight: normal;
    text-decoration: underline;
}
/* --- Les liens des utilisateurs --- */
a.admin  { color: #ED2326; }
a.modo   { color: #408EC9; }
a.member { color: #efefef; }

/* --- Couleur de texte --- */
.color-alert 		{ color: #B22222; }
.color-notavailable { color: #B22222; }
.color-available 	{ color: #008000; }
.color-unknown 		{ color: #004b80; }

.bkgd-color-visible 		{ background-color: #8ac77f; }
.bkgd-color-unvisible 		{ background-color: #edb600; }
.bkgd-color-unaprobed 		{ background-color: #ad022a; }

.bkgd-color-fixed 			{ background-color: #7FFF9C; }
tr td.bkgd-color-fixed 		{ background-color: #7FFF9C; }
.bkgd-color-processing 		{ background-color: #FFD86F; }
tr td.bkgd-color-processing { background-color: #FFD86F; }
.bkgd-color-unknown 		{ background-color: #FF796F; }
tr td.bkgd-color-unknown 	{ background-color: #FF796F; }

/* --- Les differentes tailles de polices --- */
.smaller { font-size: 10px; }
.small   { font-size: 0.9em; }
.normal  { font-size: 1.0em; }
.big     { font-size: 1.2em; }
.bigger  { font-size: 1.5em; }
.biggest { font-size: 2.0em; }

/* --- Les titres (balise h) --- */
h1 {     
font-family: monospace; 
font-size: 2.2rem;     
font-weight: normal;
text-shadow: 1px 1px 0 #000; }
h2 { font-size: 2.0rem; }
h3 { font-size: 1.9rem; }
h4 { font-size: 1.8rem; }
h5 { font-size: 1.3rem; }
h6 { font-size: 1.4rem; }

h1 a{ 
    color: #ffffff;
	line-height:2;
    display: inline;
    font-family: monospace;
    font-size: 12px;
    font-weight: normal;
    text-shadow: 1px 1px 0 #000; 
}
h1 a:hover {
color: #ff0000;
    display: inline;
    font-family: monospace;
    font-size: 12px;
    font-weight: normal;
    text-shadow: 1px 1px 0 #000; 
	text-decoration: underline;
}
section header a:hover {
	color: #ff0000;
	text-decoration: underline;
    display: inline;
    font-family: monospace;
   /* font-size: 30px;*/
    font-weight: normal;
    text-shadow: 1px 1px 0 #000; 
}
.cats h2 , .files h2 { font-size: 1.4rem; }
.message-moderate a:hover{ color:#000000; text-decoration:none;}
	
@media (max-width:768px) {

	h5 { font-size: 2rem;}
	h2 a, h2 a:hover, section header h2 a:hover, .submenu-button a, .submenu-button a:hover{ font-size: 1.3rem; }

}


/* --- Les Titres bbcode --- */
.formatter-title {
	display: inline-block;
	margin: 0.5rem 0;
}

h2.formatter-title {    
	border-bottom: 2px solid #aa0000;
    color: #ff0000;  
}
	
h3.formatter-title {
    background: #000000 none repeat scroll 0 0;
    border: 1px solid #aa0000;
    color: #ff0000;
    display: inline;
    font-family: monospace;
    font-size: 16px;
    font-weight: bold;
    margin-left: 1.5rem;
    padding: 2px 5px;
 }
h2.formatter-title { margin-left: 3rem; }
h3.formatter-title { margin-left: 5rem; }

h4.formatter-title {
    background: #000000 none repeat scroll 0 0;
    color: #ff0000;
    display: inline;
    font-family: monospace;
    border-color: #aa0000;
    border-image: none;
    border-style: solid;
    border-width: 1px 3px;
}
h5.formatter-title {
    background: #000000 none repeat scroll 0 0;
    color: #ff0000;
    display: inline;
    font-family: monospace;
    border-color: #aa0000;
    border-image: none;
    border-style: solid;
    border-width: 3px 1px 1px;
}
#sub-header-menu a { color:#333333; text-decoration:none; }
#sub-header-menu a:hover { color:#999999; text-decoration:none; }


hr { background: #222222 none repeat scroll 0 0;}

/* -- Mise en forme du contenu --
--------------------------------------*/
/* --- Affichage du mini calendrier --- */
.calendar-block {
	position: absolute;
	border: 1px solid #999999;
	top: 2px;
	left: 17px;
	z-index: 10;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	border-radius: 3px;
}

.form-field .calendar-container {
	display: inline-block;
	position: relative;
}

.calendar-block .date-picker {
	margin: 0;
	width: 178px;
	table-layout: fixed;
}

.calendar-block .date-select-container {
	background: #F5F5F5;
	padding: 2px 0px;
	border-radius: 3px 3px 0px 0px;
}

.calendar-block .date-select-previous {
	float: left;
	margin: 1px 4px 0px 4px;
}

.calendar-block .date-select-next {
	float: right;
	margin: 1px 4px 0px 4px;
}

.calendar-block .date-select-next i,
.calendar-block .date-select-previous i {
	color: #666666;
}

.calendar-block .date-select-content {
	margin: auto;
	width: 150px;
}

.calendar-block .date-select-content select,
.calendar-block .date-select-content select:focus {
	padding: 1px 1px;
	font-size: 0.9em;
	border: none;
	background: none;
	box-shadow: none;
}

.calendar-block .date-select-month {
	width: 87px;
	margin: 0 1px 0 5px;
}

.calendar-block .date-select-year {
	width: 53px;
	margin: 0;
}

.calendar-block .date-picker select,
.calendar-block .date-picker select:focus {
	box-shadow: none;
	max-width: 75px;
}

.calendar-block .date-picker thead tr th {
	border-top: 1px solid #CCCCCC;
	padding: 5px 0px;
	border-radius: 0px;
	background: #FFFFFF;
	font-weight: bold;
	color: #666666;
}

.calendar-block .date-picker tbody tr:last-child {
	border-bottom: none;
}

.calendar-block .date-picker tbody td {
	height: 23px;
	padding: 1px 2px;
}

.calendar-block .date-picker tbody td:first-child { border-left: none; }
.calendar-block .date-picker tbody td:last-child  { border-right: none; }

.calendar-block .date-picker tbody td.calendar-none    { background: #FFFFFF; }
.calendar-block .date-picker tbody td.calendar-today   { background: #B5E5B9; }
.calendar-block .date-picker tbody td.calendar-event   { background: #DBE5EE; }
.calendar-block .date-picker tbody td.calendar-weekend { background: #FFE3B6; }

.calendar-block .date-picker tbody tr:last-child td {
	border-bottom: none;
}

.calendar-block .date-picker tbody tr:last-child td:first-child { border-radius: 0px 0px 0px 2px; }
.calendar-block .date-picker tbody tr:last-child td:last-child	{ border-radius: 0px 0px 2px 0px; }

/* --- les blocs bbcode --- */

.bbcode-block-container {
	position: absolute;
	text-align: center;
	margin: 0;
	padding: 0;
	z-index: 20;
	top: 26px;
	left: -4px;
}

.bbcode-block {
	background: #F3F3F3;
	border-radius: 3px;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
	border: 1px solid #AAAAAA;
	margin: 0;
}

/* --- Le selecteur de couleur --- */
.color-picker {
	position: absolute;
	z-index: 100;
}

.color-picker .bbcode-block table {
	border-collapse: collapse;
	margin: auto;
	border: none;
}

.color-picker td {
	padding: 0px;
	border: 1px solid #F3F3F3;
}

.color-picker td a {
	display: block;
	width: 14px;
	height: 14px;
}

/* --- les blocs de quote, de code ou caches --- */
.formatter-container {
	position: relative;
	display: block;
	margin: auto;
	width: 93%;
	color: #444444;
}

.formatter-content-title {
	font-weight: bold;
}

.formatter-content {
	margin: 0;
	padding: 8px;
	background-color: #FAFAFA;
	border: 1px solid #DDDDDD;
}

.formatter-hide .formatter-content {
	height: 0;
	max-height: 0;
	padding: 0;
	overflow: hidden;
	visibility: hidden;
	transform: scaleY(0);
	transition: transform 0.15s linear;
	transform-origin: 50% 0;
}

.formatter-show .formatter-content,
.formatter-hide.no-js:hover .formatter-content {
	height: auto;
	max-height: 500px;
	padding: 8px;
	overflow: auto;
	visibility: visible;
	transform: scaleY(1);
}

.formatter-hide .formatter-hide-message {
	display: block;
	font-style: italic;
	font-weight: normal;
	font-size: 0.8em;
	color: #BBBBBB;
	padding: 4px 8px;
	width: 100%;
	margin: 0 auto 0 auto;
	background-color: #FDFDFD;
	border: 1px solid #EEEEEE;
	cursor: pointer;
}

.formatter-show .formatter-hide-message {
	display: none;
}

.formatter-hide-close-button {
	position: absolute;
	display: none;
	top: 1em;
	right: 0;
	color: #BBBBBB;
	font-size: 0.8em;
	font-style: italic;
	cursor: pointer;
	transition: all 0.3s linear;
}

.formatter-hide-close-button-txt {
	padding: 0 0 0 3px;
}

.formatter-show .formatter-hide-close-button {
	display: block;
}

.formatter-hide-close-button:hover {
	color: #444444;
	transition: all 0.3s linear;
}

.formatter-code .formatter-title {
	margin: 1rem 0 0.5rem 0;
}

.formatter-code .formatter-content {
	overflow: auto;
	max-height: 500px;
}

.copy-code {
	float: right;
	padding: 1rem 0 0 0;
	color: #BBBBBB;
	font-size: 0.8em;
	font-style: italic;
	cursor: copy;
	transition: all 0.3s linear;
}

.copy-code-txt {
	padding: 0 0 0 3px;
}

/* --- les autres element bbcode --- */
.indent {
	margin-left: 30px;
}

.formatter-acronym {
	cursor: help;
}

.formatter-block {
    background-color: #000000;
    border: 2px solid #3b3b3b;
    display: block;
    margin: 5px 20px;
    overflow: hidden;
    padding: 5px;
    font-family: monospace;
    font-size: 14px;
    font-weight: normal;	

}
}

.formatter-fieldset {
	margin: 10px;
}

.formatter-ul {
	text-align: left;
	list-style-position: inside;
}

/* --- les listes numerotees --- */
.code ol {
	margin-left: 3em;
}

/* --- La recherche de membre (AJAX) --- */
.xmlhttprequest-result-search {
	overflow: auto;
	min-height: 40px;
	width: 100px;
	overflow: auto;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	padding: 2px;
	margin: 2px 0px 0px 0px;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.01);
}

/* --- La barre de progression --- */
.progressbar-container {
	background: #F5F5F5;
	margin: 4px 0px 10px;
	border-radius: 3px;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	position: relative;
}

.progressbar-container .progressbar-infos {
	line-height: 13px;
	font-size: 11px;
	text-align: center;
	width: 100%;
	position: absolute;
}

.progressbar {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.progressbar[style*="100"] {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.progressbar-container .progressbar {
	height: 13px;
	background-color: #8ECF67;
	transition: width .6s ease;
}

/* --- Le systeme de notation --- */
.notation,
.static-notation {
	display: inline-block;
}

.notation .star,
.static-notation .star {
    color: #000000;
    font-size: 14px;
    padding-right: 5px;
    text-decoration: none;
}


/* -- Les Icones specifiques PHPBoost de FontAwesome --
-------------------------------------------*/
/* --- les couleurs d icones --- */
.fa-syndication:before { color: #AA0000;font-size: 2em; }
.fa-success:before     { color: #478948; }
.fa-forbidden:before   { color: #BA4B49; }
.fa-error:before       { color: #BA4B49; }
.fa-warning:before     { color: #F0B400; }
.fa-ban:before         { color: #BA4B49; }
.fa-unban:before       { color: #478948; }
.fa-male:before        { color: #8DC3E9; }
.fa-female:before      { color: #F49CC4; }
.fa-online:before      { color: #52D132; }
.fa-offline:before     { color: #E05759; }
.fa-trend-up:before    { color: #478948; }
.fa-trend-down:before  { color: #BA4B49; }

/* --- Les alertes --- */
li.small-block .fa-stack {
	height: 2.34em;
}

.fa-circle-alert {
	z-index: 1;
	position: absolute;
	top: -3px;
	left: 20px;
	font-size: 1.32em;
	color: #BA4B49;
}

.fa-circle-alert span {
	display: block;
	position: absolute;
	top: 4px;
	width: 100%;
	margin: 0 auto;
	color: white;
	font-size: 0.7em;
	text-align: center;
}

/* --- Menus groupes --- */
.dynamic-menu.group > ul {
	font-size: 0;
}

.dynamic-menu.group > ul > li {
	border-radius: 0;
	border-right: 1px solid #F9F9F9;
	border-left: 1px solid #BBBBBB;
}

.dynamic-menu.group > ul > li:first-child {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border-left: 1px solid rgba(0, 0, 0, 0.1)
}

.dynamic-menu.group > ul > li:last-child {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-right: 1px solid rgba(0, 0, 0, 0.1)
}

/* --- menu de flux --- */
.feed-list {
	list-style-type: none;
	text-align: left;
	margin: 5px 0px;
}


/* -- Les message d erreurs --
--------------------------------------*/
div.message-helper-small {
	width: 50%
}

.error, .notice, .warning, .success, .question {
	height: auto;
	padding: 10px 10px 10px 40px;
	margin: 5px auto 15px auto;
	line-height: 20px;
	border: 1px solid #FFFFFF;
	border-radius: 4px;
	position: relative;
	display: block;
	text-align: left;
	overflow: hidden;
}

.error:before, .notice:before, .warning:before, .success:before, .question:before {
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 2em;
	position: absolute;
	left: 6px;
	top: 7px;
	width: 28px;
	text-align: center;
}

.error:before    { content: "\f00d"; }
.notice:before   { content: "\f12a"; }
.warning:before	 { content: "\f071"; }
.success:before	 { content: "\f00c"; }
.question:before { content: "\f128"; }

.error, .error:before       { color: #efefef; }
.notice, .notice:before     { color: #F0F0F0; }
.warning, .warning:before   { color: #AD022A; }
.success, .success:before   { color: #044D00; }
.question, .question:before { color: #DAEEF8; }

.error    { background-color: #6d0000; border-color: #6d0000; }
.notice   { background-color: #888888; border-color: #888888; }
.warning  { background-color: #EDB600; border-color: #EDB600; }
.success  { background-color: #8ac77f; border-color: #8ac77f; }
.question { background-color: #3B88AE; border-color: #3B88AE; }


/* -- Le maintenance --
--------------------------------------*/
div#message-maintain {
	top: 5px;
	width: 100%;
	position: absolute;
	opacity: 0.98;
	text-align: center;
}

div#message-maintain > div {
	margin: 0px auto;
}

div#release {
	margin-top: 20px;
}


/* -- Systeme d Upload --
--------------------------------------*/
.upload-address-bar {
	background: #FAFAFA;
	border: 1px solid #DDDDDD;
	border-radius: 3px;
	color: #444444;
	margin: 0px 25px;
	padding: 6px;
}

.upload-address-bar-links {
	float: right;
	margin: 0 25px 25px 25px;
}

.upload-address-bar-links a {
	margin-left: 10px;
}

#empty-folder {
	width: 70%;
}

.upload-elements-container {
	margin: 0 0 0 20px;
}

.upload-elements-file,
.upload-elements-repertory {
	float: left;
	margin: 10px;
}

.upload-elements-repertory {
	height: 60px;
}

.upload-recent-file {
	color: #BA4B49;
}


/* --- Deplacement des fichiers --- */
.upload-selected-cat {
	background-color: #F5FBFF;
	border: 1px solid #2C5169;
}

.upload-elements-move-to,
.upload-elements-move-file,
.upload-elements-move-to-cat,
.upload-elements-move-folder {
	float: left;
	width: 33%;
	text-align: center;
}

.upload-elements-move-to {
	margin-top: 50px;
}

.upload-elements-move-file img {
	width: 100px;
	height: auto;
}

.upload-root-cat {
	padding: 0 0 0 17px;
}


/* -- social connect -- */
/* -------------------- */
a.social-connect {
	display: inline-block;
	margin: 10px 0;
	width: 30px;
	height: 30px;
	vertical-align: top;
	border-radius:4px;
	color: #DEDEDE;
	text-align: center;
}

.horizontal-fieldset a.social-connect {
	margin: 0;
	vertical-align: middle;
}

@media (max-width: 768px) {
	.horizontal-fieldset a.social-connect {
		display: block;
		width: 100%;
		margin: 5px auto;
	}

	.horizontal-fieldset a.social-connect i {
		margin-right: 5px;
	}
}

a.social-connect i:before {
	color: #DFDFDF;
	transition: 0.2s ease-out;
}

a.social-connect:hover i:before {
	color: #EFEFEF;
	transition: 0.2s ease-out;
}

a.fb i:before 		{ font-size: 1.9em; }
a.google i:before 	{ font-size: 1.7em; }

a.fb 		{ padding: 8px 0 0 4px; }
a.google 	{ padding: 6px 1px 0 0; }

@media (max-width: 768px) {
	a.fb {
		padding: 5px 0 0 3px;
	}
}

a.fb 		{ background: #3B5998; }
a.google 	{ background: #D8432E; }	
a.twitter 	{ background: #5EA9DD; }

a.social-connect span {
	display: none;
}

.file-name a {color:#000;}

.file-name a {color:#000;}

/*############################
			AUTRES
############################*/
.module-mini-container h3 a {
font-size: 1.3rem;
}