/*---------------------------------------------------------
 * Theme    :  ValentineSDay
 * Par      : EDN | Swan
 * Date     : 08/05/2016
 * Site web :  http://easy-design.net/
 * Commentaire ou autre de l'auteur 
 # Merci de ne pas toucher au entête des fichiers CSS.
 *---------------------------------------------------------
 * Porté par : EDN | Swan
 * Date V5.0 : 08/05/2016
 * Date V5.1 : 30/05/2017
/*--------------------------------------------------------
 * Théme non compatible avec deux menus (droite et gauche)
					le choix reste possible sur un menu
 *----------------------------------------------------------*/


/* -- Zone de saisie de la recherche
-------------------------------------------*/
div.search-field {
	text-align: center;
}

div#forms-selection { 
	padding: 5px 0;
}

div#forms-selection a {
	display: block;
	padding: 2px 8px;
	color: #ab019d;
	text-decoration: none;
}
div#forms-selection a:hover {
	background-color: #555555;
    color: #efefef;
}

div#forms-selection a.SFL-current {
    background-color: #ab019d;
    color: #efefef;
}

div.SpecializedForm {
	padding: 0 5px;
}

@media (max-width: 768px) {
	#module-search .options {
		float: none;
	}

	#module-search #form-all .form-element label {
		text-align: center;
	}
	
	#module-search #form-all .form-element label span {
		font-size: 0.8em;
	}
}

/* -- Zone des resultats
-------------------------------------------*/
div.resultsChoices {
	position: relative;
	top: 5px;
	width: 100%;
	text-align: right;
}

div.resultsChoices span {
	position: relative;
	top: 2px;
}

div.results {
	margin-top: 30px;
	min-height: 50px;
	vertical-align: middle;
}

div.results span.title {
	position: relative;
	top: -25px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

div.results div.infosResults {
	width: 90%;
	padding-left: 10px;
	font-size: 0.75em;
	font-weight: bold;
}

.infosResults .infosResults-progressbar {
	margin: auto;
	width: 500px;
}

ul.search-results {
	margin-left: 30px;
	padding: 10px;
}

ul.search-results li {
	padding: 5px;
}

div.PaginationResults {
	padding: 5px;
	text-align: right;
}