/*---------------------------------------------------------
 * Theme    : Game_Team
 * Auteur   : Sakura
 * Porté Par: BellCranel & EDN | Swan
 * Date     : 11/09/2016
 * Sites web :  http://bell-cranel.net/ |  http://easy-design.net/
 * Commentaire ou autre de l'auteur 
 # Merci de ne pas toucher au entête des fichiers CSS.
 *---------------------------------------------------------
 * Porté par : EDN | Swan
 * Date V5.1 : 30/05/2017
/*--------------------------------------------------------
 * Théme non compatible avec deux menus (droite et gauche)
					le choix reste possible sur un menu
 *----------------------------------------------------------
		design.css
Contient les conteneurs de mise en page.
Le design.css permet de mettre en forme votre site web avec le design de votre choix
--------------------------------------*/


/* -- Elements HTML generiques specifique au theme -- */
/* -------------------------------------------------- */
html {
	font-size: 100%;
	font-size: 10px;
}

body {
	position: relative;
	height: auto;
	min-height: 100%;
	background: url('images/bg.jpg') no-repeat fixed center top #000000;
	color: #555555;
	font-size: 1.3em;
	font-family: "Trebuchet MS", Verdana, 'Bitstream Vera Sans', Times, serif;
}

@media (max-width: 768px) {
	body {
		font-size: 1.4em;
	}
}

div#contenu-global {
	background-color: #FFFFFF; 
	margin: 30px auto 0;
	-moz-box-shadow: 0px 0px 4px 0px #656565;
	-webkit-box-shadow: 0px 0px 4px 0px #656565;
	-o-box-shadow: 0px 0px 4px 0px #656565;
	box-shadow: 0px 0px 4px 0px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=4);
	width: 1036px;
}

/* -- En-tete de page - Header -- */
/* ------------------------------ */
header#header {
background: url(images/header.jpg) no-repeat; 
margin: auto;
min-height: 255px;
max-width: 1036px;
}

/* --- Partie superieure du header --- */
div#top-header {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	flex-direction: row;
	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	margin: auto;
	min-height: 255px;
	max-width: 1036px;

}

div#top-header-content {
	flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	-webkit-flex: 1 1 auto;
}

@media (max-width: 768px) {
	div#top-header {
		flex-direction: column;
		-ms-flex-direction: column;
		-webkit-flex-direction: column;
	}
	
	div#top-header-content {
		align-self: flex-end;
		-ms-align-self: flex-end;
		-webkit-align-self: flex-end;
	}
}

/* --- Partie inferieur du header --- */
div#sub-header {
	min-height: 136px;
	margin-top: -6px;
	background: url(images/header_menu.png) no-repeat; 
}

div#sub-header-content{
	margin: auto;
	max-width: 1036px;
	padding-top: 6px;
}

/* --- Logo et Nom du site web --- */
div#site-infos {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	max-width: 940px;
	flex: 1 1 auto;
}

div#site-logo {
	margin: 0 1em 0 0;
	width: 176px;
	height: 109px;
	background-image: url(images/logo.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	-webkit-flex: 0 0 auto;
}

div#site-name-container {
	margin: 0.4em 0 0 0;
}

a#site-name {
	color: #F9FCFF;
	font-size: 1.6em;
	font-weight: bold;
	line-height: 1em;
	letter-spacing: 0.02em;
	text-decoration: none;
	text-shadow: 0 0 0 rgb(0, 0, 0), 1px 0 0 rgb(0, 0, 0), 2px 0 0.1px rgba(0, 0, 0, 0.1), 2px 0 0.1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0, 0, 0, .1);

}

div#site-name-rotate {
	margin-top: 8px;
	-webkit-transform: rotate(328deg);
	-moz-transform: rotate(328deg);
	-ms-transform: rotate(328deg);
	-o-transform: rotate(328deg);
	transform: rotate(328deg);
}

span#site-slogan {
	display: block;
	padding: 0.1em 0 0 0.1em;
	color: #FFFFFF;
	font-size: 1em;
	letter-spacing: 0.1em;
}


/* -- Conteneur global du site -- */
/* ------------------------------ */
div#global {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	flex-direction: column;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	margin: 1.5em auto 0 auto;
	padding: 0 10px;
	max-width: 1036px;
}

div#main {
	padding: 0 0 10px 0;
	max-width: 100%;
	order : 1;
	-ms-flex-order: 1;
	-webkit-flex-order: 1;
}

aside#menu-left,
aside#menu-right {
	width: 100%;
}

aside#menu-left  {
	order : 2;
	-ms-flex-order: 2;
	-webkit-flex-order: 2;
}
aside#menu-right {
	order : 3;
	-ms-flex-order: 3;
	-webkit-flex-order: 3;
}

@media (min-width: 769px) {
	div#global {
		min-height: 100vh;
		flex-direction: row;
		-ms-flex-direction: row;
		-webkit-flex-direction: row;
	}

	div#main {
		padding: 0 10px;
		order : 2;
		-ms-flex-order: 2;
		-webkit-flex-order: 2;
		flex: 1 0 auto;
		-ms-flex: 1 0 100%;
	}

	aside#menu-left,
	aside#menu-right {
    	width: 200px;
	}

	aside#menu-left  { 
		margin-top: -98px;
		order: 1;	
		-ms-flex-order: 1;
		-webkit-flex-order: 1;
	}
	aside#menu-right { 
		order : 3;
		-ms-flex-order: 3;
		-webkit-flex-order: 3;
	}
	
	#main.main-with-left,
	#main.main-with-right {
		width: calc(100% - 200px);
		-ms-flex: 1 0 auto; /*Tricks IE*/
	}
	#main.main-with-left {
	-moz-box-shadow: -2px 0px 4px -3px #656565;
	-webkit-box-shadow: -2px 0px 4px -3px #656565;
	-o-box-shadow: -2px 0px 4px -3px #656565;
	box-shadow: -2px 0px 4px -3px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=4);
	}

	#main.main-with-right {
	-moz-box-shadow: 2px 0px 4px -3px #656565;
	-webkit-box-shadow: 2px 0px 4px -3px #656565;
	-o-box-shadow: 2px 0px 4px -3px #656565;
	box-shadow: 2px 0px 4px -3px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=4);
	}

	#main.main-with-left.main-with-right {
		width: calc(100% - 400px);
		-ms-flex: 1 0 auto; /*Tricks IE*/
	}
}

div#top-footer {
	padding: 2% 0;
}


/* -- Contenu de la page -- */
/* ------------------------ */

/* --- Contenu central --- */
div#main-content {
	padding: 1em 0.5em;
}

div.block-container {
	margin-top: 15px;
}

/* --- Emplacement au dessus et en dessous du contenu de la page --- */
div#top-content {
	margin: 0 0 2% 0;
	padding: 0.1em 0.8em;
	background-color: #FFFFFF;
	border: 1px solid #BEBEBE;
}

/* --- Emplacement au dessus du pied de page --- */
div#bottom-content {
	margin: 2% 0 0 0;
	padding: 0.1em 0.8em;
	background-color: #FFFFFF;
	border: 1px solid #BEBEBE;
}


/* -- Pied de page - Footer -- */
/* --------------------------- */
footer#footer {
	width: 100%;
	background-color: #212121;
	border-top: #777777 2px solid;
	clear: both;
}

footer#footer .footer-content {
	margin: 0 auto 0 auto;
	padding: 1.5em 0;
	max-width: 1024px;
	border-bottom: 2px groove #444444;
}

footer#footer .footer-infos {
	padding-top: 10px;
	min-height: 40px;
	text-align: center;
}

footer#footer .footer-infos span {
	color: #FFFFFF;
	font-size: 0.8em;
}


/* -- Elements specifiques PHPboost -- */
/* ----------------------------------- */

/* --- Compteur de visite --- */
div#visit-counter {
	background: url(images/comp.png) no-repeat;
    position: relative;
    font-size: 0.9em;
    color: #E9ECD9;
    text-align: center;
    width: 180px;
    height: 100px;
    padding-top: 55px;
    float: right;
}

/* --- Barre de lien rapide --- */
nav#breadcrumb {
	margin: 0 0 20px 10px;
	text-indent: 10px;
}

nav#breadcrumb ol {
	margin: 0;
	list-style: none;
}

nav#breadcrumb ol li {
	display: inline;
}

nav#breadcrumb ol li:not(.current):after {
	content: '';
	color: #616161;
}

/*======================================
*		EDN : reprise du menu MOTTO
*		     - SUB-Menu -
*		 - Todd Motto Labs -
========================================*/

#navbook {
    margin: -10px auto auto;
    min-width: 1024px;
    position: relative;
    z-index: 1000;
}
#navbook b {
    background:#fff;
    display: block;
    float: left;
    height: 50px;
    width: 24px;
}

.MNnav {
    font-size: 14px;
    font-weight: 900;
    position: relative;
	/*display:inline-block;*/

}
.MNnav-list {
	text-align:left;
	list-style:none;
}
.MNnav-item {
	float:left;
	display:inline;
	zoom:1;
	position:relative;
}
.MNnav-item a {
    border-left: 1px solid #e9eaed;	
    color: #787878;
	display:block;
	padding:18px 20px;
    text-transform: uppercase;
}
.MNnav-item > a:hover {
    color: #000000;
    text-decoration: none;
    border-left: 1px solid #e9eaed;

}
.MNnav-item:hover .MNnav-submenu {
	display:block;
}
/* Navigation submenu */

ul.MNnav-list {margin-left: 0px;}
ul.MNnav-submenu{	list-style:none; margin-left: 30px;}

#Mn-nav  {
    line-height: normal;
    margin-bottom: 0px;
    margin-left: 0px;
}
.MNnav-submenu {
	display:none;
	position:absolute;
	left:0;
	width:180px;
}
.MNnav-submenu-item a {
    background: #eeeeee none repeat scroll 0 0;
    border-bottom: 1px solid #ffffff;
    color: #787878 none repeat scroll 0 0;
    display: block;
    margin-left: -30px;
    padding: 15px;
}
.MNnav-submenu-item a:hover {
	background:#000000 ;
	color:#efefef;
}
/* Mobile navigation */
.MNnav-mobile {
	display:none; /* Hide from browsers that don't support media queries */
    background: #3d3d3b url(images/nav.svg) no-repeat scroll center center / 22px auto;
    border-left: 1px solid #222222;
    cursor: pointer;
    height: 50px;
    position: absolute;
    /*right: 0;*/
    top: 0;
    width: 50px;
}
/* Police des liens */
.MNnav-item a , .MNnav-item > a:hover, .MNnav-submenu-item a, .MNnav-submenu-item a:hover{
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
}
/* Mobile navigation, clickable area for revealing <ul> */
.MNnav-click {
   border-left: 1px solid #dddddd;
    cursor: pointer;
    display: none;
    float: right;
    height: 48px;
    position: relative;
    top: 0;
    width: 50px;
}
.MNnav-click i {
	display:block;
	height:48px;
	width:48px;
	background: url(images/drop.svg) no-repeat center center;
	background-size:20px;
}
.MNnav-click:hover {
	background-color:#222222;
}
.MNnav-rotate {
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	transform:rotate(180deg);
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
	
/* EDN MNNAV Original */
	#prim-nav{
		background:none;
		border-left:none;
		border-right:none;
		height: 50px;
		margin: auto;
		width:auto;
	}

	section#navbook {
		background: #3d3d3b none repeat scroll 0 0;
		border-right:none;		
		/*height: auto;*/
		margin: auto auto auto -1px;
		padding: 0;
		vertical-align: top;
		width: 100%;
		min-width: 0px;		
		z-index: 100;
	}
	#menu-title{
		color: #ffffff;
		float: left;
		font-weight: bold;
		padding: 18px 0 0 87px;
		text-align: center;
		text-transform: uppercase;
		}
	.MNnav-mobile {
		display:block;
	}
	.MNnav {
		width:100%;
		padding:50px 0 0;
		/*margin-top: -34px;*/
		position: relative;
	}
	.MNnav-list {
		display:none;
	}
	.MNnav-item {
		width:100%;
		float:right;
		list-style: none outside none;		
	}
	.MNnav-item > a {
		padding:15px;
	}
	.MNnav-click {
		display:block;
	}
	.MNnav-mobile-open {
		border-radius:5px 5px 0 0;
		-webkit-border-radius:5px 5px 0 0;
		-moz-border-radius:5px 5px 0 0;
	}
	.MNnav-item:hover .nav-submenu {
		display:none;
	}
	.MNnav-submenu {
		position:static;
		width:100%;
	}
	
	ul{margin-left:0px;}
	
	ul.MNnav-submenu{margin-left:0px;}
	
	.MNnav-submenu{margin-bottom:0px}
	
	.MNnav-item a {
		background: #31adde none repeat scroll 0 0;
		border-bottom: 1px solid #dddddd;
		color: #222222;
		display: block;
	}
	.MNnav-submenu-item a {
		background: #ffffff none repeat scroll 0 0;
		border-bottom: 1px solid #dddddd;
		color: #222222;
		display: block;
		margin-left:0px;
		padding: 15px;
	}
	.MNnav-submenu-item a:hover {
		background: #f5f5f5 none repeat scroll 0 0;
		color: #222222;
	}
}
@media (min-width:769px) {
	#menu-title {display: none;}
}

/*======================
 --- Scroll to Top ---
=======================*/
.scroll-to {
	position: fixed;
	z-index: 10;
	display: none;
	background-color: rgba(15, 15, 16, 0.8);
	border-radius: 5px;
}

#scroll-to-top {
	right: 25px;
	bottom: 0;
	padding: 2px 11px 3px 10px;
	transition: 0.2s;
}

.scroll-to i {
	color: rgba(255, 255, 255, 0.8);
	transition: 0.2s;
}

.scroll-to:hover i {
	color: rgba(255, 255, 255, 1);
	transition: 0.3s;
}

@media (min-width: 769px) {
	#scroll-to-top {
		bottom: 40px;
		padding: 5px 8px 8px 8px;
	}

	.scroll-to i {
		font-size: 1em;
	}
}

@media (max-width: 768px) {
	#scroll-to-top:hover {
		padding: 9px 11px 11px 10px;
		transition: 0.3s;
	}
}

/*======================
 ---   Cookie Bar    ---
=======================*/
.cookiebar-container {
	z-index: 100;
	left: 0;
	right: 0;
	top: 0;
	padding: 7px 20px;
	background-color: #F2F2F2;
	border-bottom: 1px solid #E2E2E2;
	font-size: 1em;
	text-align: center;
}

.cookiebar-container.fixed {
	position: fixed;
}

.cookiebar-content {
	text-align: justify;
}

@media (min-width: 769px) {
	.cookiebar-content {
		display: inline-block;
		max-width: calc(100% - 300px);
		vertical-align: middle;
	}

	.cookiebar-actions {
		display: inline-block;
		width: 300px;
	}
}

@media (max-width: 768px) {
	.cookiebar-content {
		margin-bottom: 5px;
	}

	.cookiebar-actions {
		margin: 15px 0 5px 0;
	}
}

.cookiebar-button {
	margin: 0 5px 0 5px;
	border-radius: 4px;
	color: #FEFEFE;
}

@media (max-width: 768px) {
	.cookiebar-button {
		margin: 0 10px 0 10px;
	}
}

.cookiebar-button-understand 		{ background-color: #337AB7; border-color: #2E6DA4; }
.cookiebar-button-understand:hover 	{ background-color: #2E6DA4; }

.cookiebar-button-allowed 			{ background: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%); border-color: #000000; }
.cookiebar-button-allowed:hover 		{ background: #000000; }

.cookiebar-button-declined 			{ background: linear-gradient(to bottom, #a90329 0%,#8f0222 44%,#6d0019 100%); border-color: #6d0019; }
.cookiebar-button-declined:hover 	{ background: #AA0000; }

@media (max-width: 468px) {
	.cookiebar-more {
		display: block;
		margin: 10px 0 5px 0;
	}
}

.aboutcookie-title {
	font-size: 1.3em;
	line-height: 1.3em;
	font-weight: bold
}

.aboutcookie-title + p {
	margin: 0px 0 20px 0px;
}

footer#cookiebar-change-choice {
	margin-top: 10px;
	text-align: center;
}

.cookiebar-change-choice-link {
	text-align: center;
} 

/*======================================
			Alls Media Queries
		 CSS applique aux écrans PC 
========================================*/

@media ( min-width: 769px ) {

	/* --- Menu gauche --- */
	aside#menu-left {
		float: left;
		width: 30%;
		margin-right: 1%;
	}

	/* --- Menu droit --- */
	aside#menu-right {
		float: right;
		width: 30%;
		margin-left: 1%;
	}

	/* --- Menu central : main --- */
	div#main {
		float: left;
		width: 100%;
		overflow: hidden;
	}

	div#main.main-with-left{width: 79%;}	
	div#main.main-with-right { 
		margin-right: -4px;
		width: 78%;
	}

	div#main.main-with-left.main-with-right {width: 56%;}

}


@media (max-width:768px) {

	body {background: #ffffff none repeat scroll 0 0;font-size: 1.4em;}

	div#contenu-global {width:auto; margin: 0px auto 0;}
	header#header {background:none;margin: auto; min-height: auto; min-width: auto;}
	div#top-header{display: none;}
	div#header-gsm {background-color:#e6853f; height:50px; text-align:center;}
	div#sub-header {background:#444444 none repeat scroll 0 0;border: medium none;min-height: 0; margin-top:0px;text-align: center;}
	a#site-name-gsm {
    color: #f9fcff;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 0em;
    line-height: 1.5em;
	}

	footer#footer {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffaf4b+0,e6853f+100 */
		background: #ffaf4b; /* Old browsers */
		background: -moz-linear-gradient(top,  #ffaf4b 0%, #e6853f 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  #ffaf4b 0%,#e6853f 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #ffaf4b 0%,#e6853f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#e6853f',GradientType=0 ); /* IE6-9 */

		border-top: 1px solid #E57524;
		clear: both;
		margin: auto;
		width: 1250px;
   height: auto;		
	}
	footer#footer .footer-infos {
		min-height: 40px;
		text-align: center;
		padding-top: 10px;
	}
	footer#footer {width:100%}
	
	.footer-infos span {
    display: block;
    padding: 0 0 5px;
	}
	footer#footer .footer-infos {
    min-height: 40px;
    padding-top: 5px;
    text-align: center;
}
	footer#footer .footer-infos span {
	color: #222222;
	font-size: 0.8em;
}
	span.footer-infos-separator {
		display: none;
	}

}
@media (min-width:768px) {
#header-gsm {display:none;}
}
