/*---------------------------------------------------------
 * Theme    :  Thème SimplyBlackSmall 
 * Par      : EDN | Swan
 * Date     : 01/08/2016
 * Site web :  http://easy-design.net/
 * Commentaire ou autre de l'auteur 
 # Merci de ne pas toucher au entête des fichiers CSS.
 *---------------------------------------------------------
 * Porté par : EDN | Swan
 * Date V5.1 : 30/05/2017
/*-------------------------------------------------------- * Théme compatible avec deux menus (droite et gauche)
					le choix reste possible sur un menu
 *----------------------------------------------------------*/

/* -- Conteneur des messages de la shoutbox.*/
#shoutbox-messages-container {
	margin: auto;
	height: 150px;
	overflow: auto;
	text-align: left;
	word-wrap: break-word;
}

.shout-horizontal {
	padding-left: 1.5em;
}

.shout-spacing {
	margin: 10px 0 10px 0;
}

#module-mini-shoutbox textarea,
#module-mini-shoutbox textarea:valid {
    border-color: #444444;
    width: 100%;
}

#shoutbox-bbcode-container ul {
	margin: 0;
	padding: 0;
}

#shoutbox-bbcode-container ul li {
	display: inline-block;
	border: none;
}

