#module-articles hr {
	margin-top: 10px;
}

.pages-pagination {
	float: right;
	width: 33%;
	margin-bottom: 10px;
}

#module-articles .small-block {
	min-height: 420px;
}

.article-articles.article-several.small-block {
	padding: 0.2em;
}

.article-articles.article-several h2,
.article-articles.article-several .more {
	margin: 0;
}

.article-articles.article-several .content {
	padding: 0;
}

.article-articles.article-several .content div {
	padding: 0.3em 0.6em 0.3em 0.6em;
	min-height: 90px;
}

.article-articles.article-several h2 {
	padding: 5px 8px 8px 8px;
	min-height: 70px;
}

span.contents + hr {
	margin: 35px 0 20px 0;
	clear: both;
}

.form-field-action-link ul {
	margin: 0;
    list-style-type: none;
}

.form-field-action-link i {
	font-size: 2.3rem;
}

@media (min-width: 769px) {
	#module-articles .small-block.two-articles {
		width: 49%;
	}
}

.fa-pagebreak:before { content: "\f0f6"; }

.articles-footer-container .more {
	background: #D8D8D8;
	padding: 5px 4px;
	margin: 0;
}

.article-articles .content .more {
    min-height: 10px;
    padding: 5px 10px 10px 10px;
    margin: 10px -1em;
    background: #EFEFEF url(images/post_bg.png) repeat-x bottom left;
    font-size: 12px;
    font-family: Georgia, serif;
    font-style: italic;
    color: #AFAFAF;
    text-shadow: 1px 1px 1px white;
}

#module-articles .article-articles.article-several {
	width: 30%;
	margin-right: 5px;
}

article p.image-article {
    width: 100%;
    margin-bottom: 0px;
}

p.date-bandeau {
	display: block;
	position: absolute;
	background: url(images/belt.png) no-repeat bottom left;
	padding-bottom: 18px;
	margin: 30px 0px 0px -10px;
	z-index: 10;
}

p.date-bandeau time {
	color: white;
	font-size: 18px;
	font-weight: bold;
	text-shadow: 1px 1px 1px #0097C8;
	background: #0099FF;
	padding: 12px 13px 8px 14px;
	margin: 0px;
}

.articles-footer-container .actions {
	padding: 4px;
}