/*---------------------------------------------------------
 * Theme     : GSN-Gaming
 * Par       : Pegasetkc
 * Adapté    : 02/03/2017
 * Porté par : EDN |Swan
 * Site web :  http://easy-design.net/
 * Commentaire ou autre de l'auteur 
 # Merci de ne pas toucher au entête des fichiers CSS.
 * Contient les conteneurs de mise en page.
 * Le design.css permet de mettre en forme votre site web avec le design de votre choix
 *---------------------------------------------------------
 * Théme compatible avec deux menus (droite et gauche)
					le choix reste possible sur un menu
 *----------------------------------------------------------*/
.wiki-paragraph-1 {
	margin: auto;
	color: #dfdfdf;
	font-size: 17px;
	font-weight: bold;
	padding: 0px 5px;
	border-bottom: 2px solid #e9992a;
}

.wiki-paragraph-2 {
	display: inline-block;
	color: #dfdfdf;
	font-size: 16px;
	font-weight: bold;
	margin: 5px 0px 10px 45px;
	padding: 0px 3px;
	clear: both;
	font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
	border-bottom: 3px solid #e9992a;
	border-radius: 3px;
}

.wiki-paragraph-3 {
    background-color: rgba(0, 0, 0, 0.5);
    border-color: #e9992a;
    border-style: solid;
    border-width: 1px 3px;
    color: #dfdfdf;
    font-size: 12px;
    margin-left: 60px;

	text-indent: 5px;
	font-size: 16px;
	font-style: italic;
}

.wiki-paragraph-4 {
    background-color: rgba(0, 0, 0, 0.5);
    border-color: #e9992a;
    border-style: solid;
    border-width: 1px 3px;
    color: #dfdfdf;
    font-size: 12px;
    margin-left: 80px;

	text-indent: 5px;
	font-size: 16px;
	font-style: italic;
}

.wiki-paragraph-5 { 
    color: #e9992a;
	text-indent: 100px;
	font-size: 12px;
	font-style: italic;
	text-decoration:underline;
}

.wiki-list-1 { list-style-type: upper-roman; 	}
.wiki-list-2 { list-style-type: decimal; 		}
.wiki-list-3 { list-style-type: upper-alpha; 	}
.wiki-list-4 { list-style-type: lower-alpha; 	}
.wiki-list-5 { list-style-type: lower-greek; 	}

.wiki-button {
	margin-left: 10px;
	padding: 4px 2px;
	width: 145px;
	height: 20px;
	background: #A7C7DF;
	border: 1px solid #6D93B4;
	color: #EDFFF0;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}

ol {
	margin: 0 0 0 25px;
}

ol.wiki-list-1 > li {
	margin-top: 5px;
}

ul.no-list {
	margin: 0 0 0 20px;
}

ul.no-list a i.fa {
	width: 18px;
}

#module-wiki .content .options {
	float: none;
	text-align: center;
}

.wiki-summary {
	display: inline-block;
	margin: 5px;
	padding: 6px 12px;
	max-width: 100%;
	background-color: #333333;
	border: 1px solid #000000;
	border-radius: 3px;
}

.wiki-summary-title {
	font-weight: bold;
}

.futur-cat-pages {
	padding-left: 17px;
}

#article-wiki .content {
	margin-bottom: 30px;
}

#article-wiki .content .options {
	float: none;
	width: 50%;
}

.wiki-hits {
	margin: 8px auto 10px auto;
	text-align: center;
}

.wiki-bbcode {
	margin-bottom: -6px;
}

.wiki-bbcode .bbcode-containers {
	border-radius: 0;
	border-top: none;
}

.wiki-bbcode .bbcode-containers {
	border-radius: 4px 4px 0 0;
	border-top: 1px solid #BBBBBB;
	border-bottom: none;
}

.bbcode li.bbcode-elements > a.bbcode-wiki-insert {
	width: 100%;
}

.wiki-bbcode.bbcode li:nth-child(3).bbcode-elements > a {
	padding: 0;
}

.wiki-tools-container {
	margin-bottom: 25px;
}

#wiki-link-container li {
	margin: 0 3px 0 0;
}