/*---------------------------------------------------------
 * Theme    : Thème WindLight
 * Par      : EDN-Swan
 * Date     : 22/02/09
 * Site web :  http://easy-design.net/
 * Commentaire ou autre de l'auteur 
 # Merci de ne pas toucher au entête des fichiers CSS.
 * Contient les conteneurs de mise en page.
 * Le design.css permet de mettre en forme votre site web avec le design de votre choix
 *---------------------------------------------------------
 * Porté par : EDN | Swan
 * Date      : 15/03/2017
 *---------------------------------------------------------
 /* ---    BBCode.css    --- */
 /*---------------------------------------------------------
 * Thème compatible avec un  menu (droite ou gauche)
					le choix reste possible sur un menu
 *----------------------------------------------------------*/


/** BBcode **/
.bbcode {
	position: relative;
	display: table;
	margin: 5px auto -5px auto;
	width: 99%;
	background-color: #EEEEEE;
	border: 1px solid #BBBBBB;
	border-radius: 4px 4px 0 0;
}

.bbcode-containers {
	display: table-cell;
	font-size: 0;
}

.bbcode-container {
	display: inline-block;
	margin: 2px 0 2px 0;
	padding: 0;
	border-right: 1px solid #CECECE;
}

@media (min-width: 769px) {
	.bbcode-container {
		position: relative;
	}
}

.bbcode-container:after {
	position: absolute;
	right: -2px;
	height: 24px;
	width: 1px;
	content: "";
	background: #FFFFFF;
}

.bbcode-elements {
	display: inline-block;
	height: 24px;
	width: 27px;
	margin-right: 4px;
}

@media (min-width: 769px) {
	.bbcode-elements {
		position: relative;
	}
}


.bbcode-elements > a {
	display: inline-block;
	height: 22px;
	border: 1px solid transparent;
}

.bbcode .bbcode-elements > a {
	margin: 1px 0;
	padding: 2px 0 0 0;
	width: 23px;
}

.bbcode-elements > a:hover {
	color: #222222;
	text-decoration: none;
}

.bbcode .bbcode-elements > a:hover {

}

.bbcode-elements a,
.bbcode-block-container {
	font-size: 1.3rem;
}

.bbcode-elements-more {
	display: table-cell;
	margin: auto;
	width: 20px;
	vertical-align: middle;
	font-size: 1rem;
	text-align: center;
}

.bbcode .bbcode-elements-more a {
	padding: 0;
	width: 20px;
}

.bbcode-elements-more a {
	margin: 3px 0;
	padding: 0;
	width: 18px;
	height: 18px;
}

.bbcode-elements-more .fa 		{ color: #AAAAAA; }
.bbcode-elements-more:hover .fa { color: #111111; }

.bbcode-hover,
.bbcode-elements a,
.bbcode-elements i {
	cursor: pointer;
}

@media (max-width: 768px) {
	.bbcode-backspace {
		display: none;
	}
}

.bbcode-block-container {
	position: absolute;
	top: 26px;
	left: -4px;	
	bottom: 0;
	margin: 0;
	padding: 0;
	z-index: 20;
	text-align: center;
}

.bbcode-block {
	margin: 0;
	background-color: #F3F3F3;
	border: 1px solid #AAAAAA;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.bbcode-block a {
	cursor: pointer;
	text-decoration: none;
}

@media (max-width: 768px) {
	.bbcode-block-container {
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
}

@media (min-width: 769px) {
	.bbcode-block-container:before,
	.bbcode-block-container:after {
		position: absolute;
		content: " ";
		border-style: solid;
		border-color: transparent;
	}

	.bbcode-block-container:before {
		top: -8px;
		left: 8px;
		border-width: 0 9px 9px 9px;
		border-bottom-color: #AAAAAA;
	}

	.bbcode-block-container:after {
		left: 9px;
		top: -7px;
		border-width: 0 8px 8px 8px;
		border-bottom-color: rgba(250, 250, 250, 1);
	}	
}


.bbcode-block-smileys,
.bbcode-block-fa {
	width: 150px;
	height: 150px;
	padding: 2px 0px 2px 3px;
	overflow-y: scroll;
}

.bbcode-block-smileys li,
.bbcode-block-fa li {
	display: inline-block;
}

.bbcode-block-fa li {
	padding: 1px 2px;
	width: 20px;
}

.bbcode-block-smileys li a,
.bbcode-block-fa li a {
	display: block;
}

@media (max-width: 768px) {
	.bbcode-block-smileys li a {
		padding: 10px;
	}

	.bbcode-block-smileys {
		max-height: 300px;
	}

	.bbcode-block-fa li {
		padding: 7px;
		width: 29px;
	}

	.bbcode-block-fa {
		max-height: 400px;
	}
}

.bbcode-block-container.color-picker table {
	width: auto;
}

@media (max-width: 768px) {
	.bbcode-block-container.color-picker td a {
		height: 32px;
		width: 32px;
	}
}

.bbcode-block-list {
	margin: 0;
	padding: 3px 0;
	overflow: visible;
}

.bbcode-block-list li,
.bbcode-block-list li a {
	display: block;
	padding: 2px 0 2px 4px;
	cursor: pointer;
	text-align: left;
}

.bbcode-block-code {
	margin: 0;
	padding: 0;
	height: 300px;
	overflow-y: scroll;
}

.bbcode-block-code > ul {
	margin-left: 0;
}

.bbcode-block-code li {
	padding: 0 0 0 12px;
}

.bbcode-block-list li:hover {
	background-color: rgba(0, 0, 0, 0.05);
}

.bbcode-block-list li.bbcode-code-title {
	margin: 3px 10px 1px 5px;
	padding: 6px 0 1px 2px;
	border-bottom: 1px solid #DFDFDF;
}

.bbcode-block-list li.bbcode-code-title:hover {
	background: none;
	cursor: auto;
}

.bbcode-block-list li.bbcode-code-title span {
	color: #666666;
	font-weight: bold;
}

.bbcode-block .form-element {
	margin: 2px 7px;
}

@media (max-width: 768px) {
	.bbcode-block .form-element {
		margin: 2px auto;
		width: 150px;
	}
}

.bbcode-block .form-element label {
	padding-right: 0;
	width: 70%;
	vertical-align: middle;
	color: #555555;
	text-align: left;
}

.bbcode-block .form-element .form-field {
	width: 23%;
}

.bbcode-block .form-element input {
	padding: 2px 5px;
}

.bbcode-form-element-text {
	margin: 10px 5px 5px 5px;
	padding: 5px 5px 0 5px;
	border-top: 1px solid #BEBEBE;
	text-align: center;
 }

.bbcode-block-fonts {
	height: 300px;
	overflow-y: scroll;
}

@media (min-width: 769px){
	.bbcode-block-fonts 	{ width: 120px; }
	.bbcode-block-title 	{ width: 70px;  }
	.bbcode-block-ul 		{ width: 150px; }
	.bbcode-block-block 	{ width: 100px; }
	.bbcode-block-message 	{ width: 110px; }
	.bbcode-block-size 		{ width: 40px;  }
	.bbcode-block-hide 		{ width: 90px;  }
	.bbcode-block-table 	{ width: 160px; }
	.bbcode-block-code 		{ width: 130px; }
	.bbcode-block-smileys   { width: 188px; }
	.bbcode-block-fa        { width: 272px; }
}


.bbcode-forbidden,
.bbcode-forbidden i {
	opacity: 0.3 !important;
	cursor: not-allowed !important;
}

/* Icones de la barre BBCode */
.bbcode a,
.bbcode .fa {
	color: #555555;
	text-align: center;
	vertical-align: 0;
}

/* partie modifiée par EDN 
--------------------------------*/
.bbcode-icon-anchor:before      { content: url('images/anchor.png'); }
.bbcode-icon-bold:before        { content: url('images/bold.png'); }
.bbcode-icon-italic:before      { content: url('images/italic.png'); }
.bbcode-icon-underline:before   { content: url('images/underline.png'); }
.bbcode-icon-strike:before      { content: url('images/strike.png'); }
.bbcode-icon-smileys:before     { content: url('images/smileys.png'); }
.bbcode-icon-title:before       { content: url('images/title.png'); }
.bbcode-icon-subtitle:before    { content: url('images/subtitle.png'); }
.bbcode-icon-style:before       { content: url('images/style.png'); }
.bbcode-icon-url:before         { content: url('images/url.png'); }
.bbcode-icon-image:before       { content: url('images/image.png'); }
.bbcode-icon-lightbox:before    { content: url('images/lightbox.png'); }
.bbcode-icon-quote:before       { content: url('images/quote.png'); }
.bbcode-icon-hide:before        { content: url('images/hide.png'); }
.bbcode-icon-list:before        { content: url('images/list.png'); }
.bbcode-icon-color:before       { content: url('images/color.png'); }
.bbcode-icon-size:before        { content: url('images/size.png'); }
.bbcode-icon-font:before        { content: url('images/font.png'); }
.bbcode-icon-minus:before       { content: url('images/minus.png'); }
.bbcode-icon-plus:before        { content: url('images/plus.png'); }
.bbcode-icon-more:before        { content: url('images/more.png'); }
.bbcode-icon-left:before        { content: url('images/left.png'); }
.bbcode-icon-center:before      { content: url('images/center.png'); }
.bbcode-icon-right:before       { content: url('images/right.png'); }
.bbcode-icon-justify:before     { content: url('images/justify.png'); }
.bbcode-icon-float-left:before  { content: url('images/float_left.png'); }
.bbcode-icon-float-right:before { content: url('images/float_right.png'); }
.bbcode-icon-sup:before         { content: url('images/sup.png'); }
.bbcode-icon-sub:before         { content: url('images/sub.png'); }
.bbcode-icon-indent:before      { content: url('images/indent.png'); }
.bbcode-icon-table:before       { content: url('images/table.png'); }
.bbcode-icon-flash:before       { content: url('images/flash.png'); }
.bbcode-icon-movie:before       { content: url('images/movie.png'); }
.bbcode-icon-youtube:before     { content: url('images/youtube.png'); }
.bbcode-icon-sound:before       { content: url('images/sound.png'); }
.bbcode-icon-code:before        { content: url('images/code.png'); }
.bbcode-icon-math:before        { content: url('images/math.png'); }
.bbcode-icon-html:before        { content: url('images/html.png'); }
.bbcode-icon-help:before        { content: url('images/help.png'); }
.bbcode-icon-upload:before      { content: url('images/upload.png'); }
.bbcode-icon-fa:before          { content: "\f024"; }
/* Modification end
---------------------------------*/

/* Icones modifications size or color */
.bbcode-icon-math:before {
	font-size: 0.8em;
}

.bbcode-icon-plus:before,
.bbcode-icon-minus:before  {
	font-size: 0.7em;
}

.bbcode-icon-more:before {
	font-size: 0.8em;
}
