/*---------------------------------------------------------
 * Theme    : Thème FinalFantasy
 * Par      : EDN | Rusty
 * Date     : 03/12/11
 * Site web : http://easy-design.net/
 * Commentaire ou autre de l'auteur 
 # Merci de ne pas toucher au entête des fichiers CSS.
 * Contient les conteneurs de mise en page.
 * Le design.css permet de mettre en forme votre site web avec le design de votre choix
 *---------------------------------------------------------
 * Porté par : EDN | Swan
 * Date      : 06/02/2017
 * V5.1      : 30/05/2017
/*--------------------------------------*/
div#main-content {
	background-color: transparent;
	box-shadow: none;
	border-spacing: 1px;
	border-radius: none;
}


section, section#module-news{
	background-color:none;
	box-shadow:none;
}

article {
	background-color: rgba(255,255,255, 0.5);
	box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.8);
	border-radius: 5px;
}

.news_bottom {
	text-align:right;
    height: 18px;
    font-size: 10px;
    padding-left: 6px;
    padding-right: 6px;
}

#news-tags-container,
#news-sources-container,
#news-suggested-container {
	margin: 15px 15px 15px 30px;
}

.news-tags-title,
.news-sources-title,
.news-suggested-title {
	font-weight: bold;
}

.news-separator { 
	margin: 20px auto 20px auto;
	width: 70%;
}

.news-picture {
	float: left;
	padding: 10px;
	max-width: 40%;
}

.navigation-link-previous 	{ float: left;  }
.navigation-link-next 		{ float: right; }

.navigation-link-previous i { margin-right: 5px; }
.navigation-link-next i 	{ margin-left: 5px;  }


	fieldset#NewsFormController_news  legend,
	fieldset#NewsFormController_other legend,
	fieldset#NewsFormController_publication legend{
		background-color: rgba(255,255,255, 0.5);
		box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.8);
		border-spacing: 1px;
		border-radius: 5px;
		margin: 0 0 3em 0;
		text-transform: none;
		color: #000000;
		font-size: 1.5em;
		border-bottom:none;
		padding: 2px 5px
	}

	fieldset#NewsFormController_news ,
	fieldset#NewsFormController_other,
	fieldset#NewsFormController_publication,
	fieldset#NewsFormController_fbuttons{
		background-color: rgba(255,255,255, 0.5);
		box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.8);
		border-spacing: 1px;
		border-radius: 5px;
		padding: 2px 5px
	}


@media (max-width:768px) {
	section, section#module-news{
		background-color: rgba(255,255,255, 0.5);
		box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.8);
		position: relative;
		margin: 0 auto;
		width: 100%;
		vertical-align: top;
		padding-bottom:15px;
	}

	article {
		background-color: transparent;
		box-shadow: none;
		position: relative;
		margin: 0 auto;
		width: 98%;
		vertical-align: top;
		padding-bottom:15px;		
		}
	fieldset#NewsFormController_news  legend,
	fieldset#NewsFormController_other legend,
	fieldset#NewsFormController_publication legend{
		background-color: transparent;
		box-shadow: none;
		border-spacing: 1px;
		border-radius: 5px;
		margin: 0 0 3em 0;
		text-transform: none;
		color: #000000;
		font-size: 1.5em;
		border-bottom:none;
		padding: 2px 5px
	}
	fieldset#NewsFormController_news ,
	fieldset#NewsFormController_other,
	fieldset#NewsFormController_publication,
	fieldset#NewsFormController_fbuttons{
		background-color: transparent;
		box-shadow: none;
		border-spacing: 1px;
		border-radius: 5px;
		padding: 2px 5px
	}
}