

/* ---      Search      --- */
/* ------------------------ */

#mini-search-form {
	float: right;
	margin: 40px 20px 0 0;
	white-space: nowrap;
	vertical-align: middle;
}

@media (max-width: 768px) {
	#mini-search-form {
		margin: 20px 20px 20px 0;
	}
}

#mini-search-form button,
#mini-search-form .button {
	margin-top: 0;
}

#mini-search-form.input-element-button input {
    border: 1px solid #a75a2a;
    border-radius: 4px 0 0 4px;
    height: 25px;
    width: 120px;
}

#mini-search-form.input-element-button button {
    background: rgba(103, 84, 16, 0.7) none repeat scroll 0 0;
    border-radius: 0 4px 4px 0;
    height: 25px;
    margin-left: -4px;
    padding: 0 10px;
}
#mini-search-form.input-element-button button:hover{
	background-image:none;
	background: rgba(255,255,255, 0.7);
}

.fa-search:before {
    font-size: 1em;
}