#news-tags-container,
#news-sources-container,
#news-suggested-container {
	margin: 15px 15px 15px 30px;
}

.news-tags-title,
.news-sources-title,
.news-suggested-title {
	font-weight: bold;
}

.news-separator { 
	margin: 20px auto 20px auto;
	width: 70%;
}

.news-picture {
	float: left;
	padding: 10px;
}

img.news-picture {
	max-width: 40%;
}

.navigation-link-previous 	{ float: left;  }
.navigation-link-next 		{ float: right; }

.navigation-link-previous i { margin-right: 5px; }
.navigation-link-next i 	{ margin-left: 5px;  }

#module-news img.right { max-width: 30%; }
