/*--------------------------------------
                design.css
Contient les conteneurs de mise en page.
Le design.css permet de mettre en forme votre site web avec le design de votre choix
--------------------------------------*/


/* -- Elements HTML generiques specifique au theme -- */
/* -------------------------------------------------- */
html {
    font-size: 100%;
    font-size: 10px;
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url("http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2") format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
    position: relative;
    height: auto;
    min-height: 100%;
    background-color: #FFF;
    color: #555555;
    font-size: 1.3em;
    font-family:"Open Sans", "Trebuchet MS", Verdana, 'Bitstream Vera Sans', Times, serif;
}

@media (max-width: 768px) {
    body {
        font-size: 1.4em;
    }
}

/* -- En-tete de page - Header -- */
/* ------------------------------ */
header#header {
    background-color: #FFF;
}

/* --- Partie superieure du header --- */
div#top-header {
    position: relative;
    min-height: 139px;
}

div#top-header-contenair {
    background-color: #1eb0bc;
}

div#top-header-content {
    max-width: 1200px;
    margin:0 auto;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-wrap:nowrap;
    justify-content: space-between;
}

@media (max-width: 768px) {
    div#top-header {
        flex-direction: column;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
    }

    div#top-header-contenair {
        align-self: flex-end;
        -ms-align-self: flex-end;
        -webkit-align-self: flex-end;
    }
}

/* --- Partie inferieur du header --- */
div#sub-header {

}

div#go-top {
    display:none;
    position:fixed;
    top:0;
    right:50px;
    z-index: 99999;
    background-color:#fff;
}

#go-top a i{
    font-size:24px;
    color:#1eb0bc;
    padding:8px 9px 7px;
}

@media (max-width: 768px) {
    div#go-top {
        right:0;
    }

    #go-top a i{
        background-color: #FFF;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
        font-size:16px;
        padding:7px;
        border-radius:0 0 0 45px;
    }

    div#go-top {
        background-color: transparent;
    }
}

div#sub-header-content{
    margin: auto;
    max-width: 1200px;
    padding-top:0px;
}

/* --- Logo et Nom du site web --- */
div#site-infos {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    margin: 1.5em auto 0 auto;
    max-width: 940px;
    flex: 1 1 auto;
    justify-content:center;
}

div#site-logo {
    margin: 0 1em 0 0;
    width: 60px;
    height: 60px;
    background-image: url(images/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

div#site-name-container {
    margin: 0.4em 0 0 0;
}

a#site-name {
    color: #555;
    font-size: 3em;
    font-weight: bold;
    line-height: 1em;
    text-decoration: none;
}

span#site-slogan {
    display: block;
    padding: 0.1em 0 0 0.1em;
    color: #777;
    font-size: 1em;
    letter-spacing: 0.1em;
}

@media (min-width: 769px) {
    div#site-logo {
        width: 90px;
        height: 90px;
    }

    div#site-name-container {
        margin: 1em 0 0 0;
    }

    a#site-name {
        font-size: 3em;
    }

}

#head-banner {
    background-image: url(images/banner.jpg);
    height:210px !important;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    -webkit-background-size: cover !important;
    background-attachment: scroll !important;
    position: relative;
    width: 100%;
    z-index: 1;
}

/* -- Conteneur global du site -- */
/* ------------------------------ */
div#global {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    margin:0 auto;
    padding: 0 10px;
    max-width: 1200px;
}

div#main {
    padding: 0 0 10px 0;
    max-width: 100%;
    order : 1;
    -ms-flex-order: 1;
    -webkit-flex-order: 1;
}

aside#menu-left,
aside#menu-right {
    width: 100%;
}

aside#menu-left  {
    order : 2;
    -ms-flex-order: 2;
    -webkit-flex-order: 2;
}
aside#menu-right {
    order : 3;
    -ms-flex-order: 3;
    -webkit-flex-order: 3;
}

@media (min-width: 769px) {
    div#global {
        min-height: 100vh;
        flex-direction: row;
        -ms-flex-direction: row;
        -webkit-flex-direction: row;
        margin: 1.5em auto 0 auto;
    }

    div#main {
        padding: 0 10px;
        order : 2;
        -ms-flex-order: 2;
        -webkit-flex-order: 2;
        flex: 1 0 auto;
        -ms-flex: 1 0 auto;
    }

    aside#menu-left,
    aside#menu-right {
        width: 200px;
    }

    aside#menu-left  { 
        order : 1;
        -ms-flex-order: 1;
        -webkit-flex-order: 1;
    }
    aside#menu-right { 
        order : 3;
        -ms-flex-order: 3;
        -webkit-flex-order: 3;
    }

    .main-with-left,
    .main-with-right {
        width: calc(100% - 200px);
    }

    .main-with-left.main-with-right {
        width: calc(100% - 400px);
    }
}

div#top-footer {
    padding: 0;
    margin:0 auto;
    max-width: 1200px;
}


/* -- Contenu de la page -- */
/* ------------------------ */

/* --- Contenu central --- */
div#main-content {
    padding: 1.5em 0.8em;
    background-color: #FFFFFF;
}

div.block-container {
    margin-top: 15px;
}

/* --- Emplacement au dessus et en dessous du contenu de la page --- */
div#top-content {
    margin: 0 0 2% 0;
    padding: 0.1em 0.8em;
    background-color: #FFFFFF;
    border: 1px solid #BEBEBE;
}

/* --- Emplacement au dessus du pied de page --- */
div#bottom-content {
    margin: 2% 0 0 0;
    padding: 0.1em 0.8em;
    background-color: #FFFFFF;
    border: 1px solid #BEBEBE;
}


/* -- Pied de page - Footer -- */
/* --------------------------- */
#footer-container {
    background-color: #eee;
}

footer#footer {
    margin:0 auto;
    max-width: 1220px;
    clear: both;
}

footer#footer .footer-content {
    margin: 0 auto 0 auto;
    padding: 1.5em 0;
    max-width: 1220px;
}

footer#footer .footer-infos {
    padding-top: 10px;
    min-height: 40px;
    text-align: center;
}

footer#footer .footer-infos span {
    color: #666;
    font-size: 0.8em;
}


/* -- Elements specifiques PHPboost -- */
/* ----------------------------------- */

/* --- Compteur de visite --- */
div#visit-counter {
    position: absolute;
    right: 0;
    bottom : 1em;
    margin-right: 10px;
    font-size: 0.9em;
    color: #F9FCFF;
    text-align: right;
}


/* --- Barre de lien rapide --- */
div#breadcrumb-container {
    background-color: #1eb0bc;
    padding:15px;
}
nav#breadcrumb {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1200px;
}
nav#breadcrumb > ol:before {
    font : normal normal normal 14px/1 FontAwesome;
    content:"\f041";
    color:#fff;
}

nav#breadcrumb ol {
    margin: 0;
    list-style: none;
}

nav#breadcrumb ol li {
    display: inline;
    color: #fff;
    margin-left:8px;
}

nav#breadcrumb ol li a{
    color: #fff;
}

nav#breadcrumb ol li:not(.current):after {
    content: '//';
    color: #fff;
    margin-left:8px;
}

/* --- Scroll to Top --- */
.scroll-to {
    position: fixed;
    z-index: 10;
    display: none;
    background-color: rgba(15, 15, 16, 0.8);
}

#scroll-to-top {
    right: 25px;
    bottom: 0;
    padding: 2px 11px 3px 10px;
    transition: 0.2s;
}

.scroll-to i {
    color: rgba(255, 255, 255, 0.8);
    transition: 0.2s;
}

.scroll-to:hover i {
    color: rgba(255, 255, 255, 1);
    transition: 0.3s;
}

@media (min-width: 769px) {
    #scroll-to-top {
        bottom: 25px;
        padding: 9px 11px 11px 10px;
    }

    .scroll-to i {
        font-size: 2em;
    }
}

@media (max-width: 768px) {
    #scroll-to-top:hover {
        padding: 9px 11px 11px 10px;
        transition: 0.3s;
    }
}

/* --   Cookie Bar  -- */ 
/* ------------------- */
.cookiebar-container {
    z-index: 100;
    left: 0;
    right: 0;
    top: 0;
    padding: 7px 20px;
    background-color: #F2F2F2;
    border-bottom: 1px solid #E2E2E2;
    font-size: 0.9em;
    text-align: center;
}

.cookiebar-container.fixed {
    position: fixed;
}

.cookiebar-content {
    text-align: justify;
}

@media (min-width: 769px) {
    .cookiebar-content {
        display: inline-block;
        max-width: calc(100% - 250px);
        vertical-align: middle;
    }

    .cookiebar-actions {
        display: inline-block;
        width: 250px;
    }
}

@media (max-width: 768px) {
    .cookiebar-content {
        margin-bottom: 5px;
    }

    .cookiebar-actions {
        margin: 15px 0 5px 0;
    }
}

.cookiebar-button {
    margin: 0 5px 0 5px;
    border-radius: 4px;
    color: #FEFEFE;
}

@media (max-width: 768px) {
    .cookiebar-button {
        margin: 0 10px 0 10px;
    }
}

.cookiebar-button-understand        { background-color: #337AB7; border-color: #2E6DA4; }
.cookiebar-button-understand:hover  { background-color: #2E6DA4; }

.cookiebar-button-allowed           { background-color: #5CB85C; border-color: #4CAE4C; }
.cookiebar-button-allowed:hover     { background-color: #4CAE4C; }

.cookiebar-button-declined          { background-color: #E84E40; border-color: #CE271A; }
.cookiebar-button-declined:hover    { background-color: #CE271A; }

@media (max-width: 468px) {
    .cookiebar-more {
        display: block;
        margin: 10px 0 5px 0;
    }
}

.aboutcookie-title {
    font-size: 1.3em;
    line-height: 1.3em;
    font-weight: bold
}

.aboutcookie-title + p {
    margin: 0px 0 20px 0px;
}

footer#cookiebar-change-choice {
    margin-top: 10px;
    text-align: center;
}

.cookiebar-change-choice-link {
    text-align: center;
}
