/*---------------------------------------------------------
 * Theme    :  Theme Christmas Red
 * Par      : EDN | Swan
 * Date     : 27/12/2016
 * Site web :  http://easy-design.net/
 * Commentaire ou autre de l'auteur 
 # Merci de ne pas toucher au entête des fichiers CSS.
 * Contient les conteneurs de mise en page.
 * Le design.css permet de mettre en forme votre site web avec le design de votre choix
 *---------------------------------------------------------
 * Thème compatible avec un  menu (droite ou gauche)
					le choix reste possible sur un menu
 *----------------------------------------------------------*/

/* --- Newsletter--- */
/* ------------------------ */


.newsletter-form {
   background-color: #cc0000;
    border-radius: 4px;
    margin: 20px 25px 10px 0;
    vertical-align: middle;
    white-space: nowrap;
}

.newsletter-title {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    margin-left: 5px;
    padding: 2px 4px 0 0;
    vertical-align: middle;
}
div#newsletter {
    float: right;
    margin: 10px;
}
div#newsletter button, div#newsletter .button {
    margin-top: 0;
}

.newsletter-link {
    margin: 10px 0 0;
}
div#newsletter .input-element-button input {
    border-radius: 4px 0 0 4px;
    font-size: 12px;
    width: 120px;
}
div#newsletter .input-element-button button {
	background-color:rgba(0,0,0, 0);
    border-radius: 0 4px 4px 0;
    font-size: 12px;
    margin-left: -5px;
}


