/* -- Conteneur des messages de la shoutbox.*/
#shoutbox-messages-container {
	margin: auto;
	height: 150px;
	overflow: auto;
	text-align: left;
	word-wrap: break-word;
}

.shout-horizontal {
	padding-left: 1.5em;
}

.shout-spacing {
	margin: 10px 0 10px 0;
}

#shoutbox-bbcode-container ul {
	margin: 0;
	padding: 0;
}

#shoutbox-bbcode-container ul li {
	display: inline-block;
	border: none;
}

