/*--------------------------------------
		design.css
Contient les conteneurs de mise en page.
Le design.css permet de mettre en forme votre site web avec le design de votre choix
--------------------------------------*/


/* -- Elements HTML generiques specifique au theme -- */
/* -------------------------------------------------- */
html {
	font-size: 100%;
	font-size: 10px;
}

body {
	position: relative;
	height: auto;
	color:rgba(255, 255, 255, .4);
	min-height: 100%;
	font-size: 1.4rem;
	padding: 0 8px;
	font-family: "Trebuchet MS", Verdana, 'Bitstream Vera Sans', Times, serif;
}

@media (min-width: 769px) {
	body {
		font-size: 1.5em;
		padding: 0;
	}
}

/* -- En-tete de page - Header -- */
/* ------------------------------ */
header#header {
}

/* --- Partie superieure du header --- */
div#top-header {
	position: relative;
	min-height: 200px;
	display: flex;
	flex-direction: row;
}

@media (max-width: 768px) {
	div#top-header {
		flex-direction: column;
		min-height: 139px;
	}
}

div#top-header-content {
	flex: 1 1 auto;
}

/* --- Partie inferieur du header --- */
div#sub-header {
	min-height: 35px;
}

div#sub-header-content{
}

/* --- Logo et Nom du site web --- */
div#site-infos {
	max-width: 940px;
	margin: 1.5em 0 1.5em 1.5em;
	flex: 1 1 auto;
	display: flex;
	display: -ms-flexbox;
}

div#site-logo {
	margin: 0 1em 0 0;
	background-image: url(images/logo.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 90px;
	height: 90px;
	flex: 0 0 auto;
	-ms-flex: 0 0 auto;
}

div#site-name-container {
	margin: 1em 0 0 0;
}

a#site-name {
	font-size: 4em;
	font-weight: bold;
	line-height: 1em;
	letter-spacing: 0.02em;
	text-decoration: none;
}

span#site-slogan {
	display: block;
	padding: 0.1em 0 0 0.1em;
	font-size: 1em;
	letter-spacing: 0.1em;
}

@media (max-width: 768px) {
	div#site-logo {
		width: 60px;
		height: 60px;
	}

	div#site-name-container {
		margin: 0.4em 0 0 0;;
	}

	a#site-name {
		font-size: 3em;
	}
	
}

/* -- Conteneur global du site -- */
/* ------------------------------ */
div#global {
	margin:0 auto;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	flex-direction: column;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
}

div#main {
	max-width: 100%;
	order : 1;
	-ms-flex-order: 1;
	-webkit-flex-order: 1;
	padding: 0 0 10px 0;
}

aside#menu-left,
aside#menu-right {
	width: 100%;
}

aside#menu-left  {
	order : 2;
	-ms-flex-order: 2;
	-webkit-flex-order: 2;
}

aside#menu-right {
	order : 3;
	-ms-flex-order: 3;
	-webkit-flex-order: 3;
}

@media (min-width: 769px) {
	div#global {
		padding: 0 20px 20px;
		min-height: 100vh;
		flex-direction: row;
		-ms-flex-direction: row; /* IE10 Tricks */
		-webkit-flex-direction: row;
	}

	div#main {
		order : 1;
		-ms-flex-order: 1;
		-webkit-flex-order: 1;
		flex: 1 0 auto;
		-ms-flex: 1 0 100%;
		margin: 0 10px 0 0;
	}

	aside#menu-left,
	aside#menu-right {
    	width: 300px;
	}	

	aside#menu-left  { 
		order : 2;
		-ms-flex-order: 2;
		-webkit-flex-order: 2;
	}
	aside#menu-right { 
		order : 3;
		-ms-flex-order: 3;
		-webkit-flex-order: 3;
	}
	
	aside#menu-left.left-with-right {
		width: 200px;
		margin: 0 5px 0 0;
	}
	
	aside#menu-right.right-with-left {
		width: 200px;
		margin: 0 0 0 5px;
	}
	
	#main.main-with-left,
	#main.main-with-right {
		width: calc(100% - 200px);
		-ms-flex: 1 0 auto; /*Tricks IE*/
	}
	
	#main.main-with-left.main-with-right {
		width: calc(100% - 400px);
		-ms-flex: 1 0 auto; /*Tricks IE*/
	}
}

@media (min-width: 1281px){
	
	aside#menu-left.left-with-right {
		width: 250px;
		margin: 0 5px 0 0;
	}
	
	aside#menu-right.right-with-left {
		width: 350px;
		margin: 0 0 0 5px;
	}
	
	#main.main-with-left.main-with-right {
		width: calc(100% - 610px);
	}	
	
}


/* -- Contenu de la page -- */
/* ------------------------ */

/* --- Contenu central --- */
div#main-content {
	position: relative;
	padding-bottom: 20px;
}

div.block-container {
	margin-top: 15px;
}

/* --- Emplacement au dessus et en dessous du contenu de la page --- */
div#top-content {
	margin: 0 0 2% 0;
}

/* --- Emplacement au dessus du pied de page --- */
div#bottom-content {
	margin: 2% 0 0 0;
}


/* -- Pied de page - Footer -- */
/* --------------------------- */

div#top-footer {
	padding: 2% 0;
}

footer#footer {
	clear: both;
	width: 100%;
}

footer#footer .footer-content {
	margin: 0 auto 0 auto;
	max-width: 1024px;
	padding: 1.5em 0;
}

footer#footer .footer-infos {
	min-height: 40px;
	text-align: center;
	padding-top: 10px;
}

footer#footer .footer-infos span {
	color: rgba(255, 255, 255, .5);
	font-size: 0.8em;
}


/* -- Elements specifiques PHPboost -- */
/* ----------------------------------- */

/* --- Compteur de visite --- */
div#visit-counter {
	position: absolute;
	right: 0;
	bottom : 1em;
	margin-right: 10px;
	font-size: 0.9em;
	color: #F9FCFF;
	text-align: right;
}

/* --- Barre d'outils --- */
menu[class*="cssmenu-actionslinks"] {
	position: absolute;
	top: 0;
	right: 0;
	width: auto;
}

menu[class*="cssmenu-tools"] {
	top: 0;
	right: 40px;
}

@media (min-width:769px){
	menu[class*="cssmenu-actionslinks"] {
		position: absolute;
		top: 10px;
		right: 10px;
	}

	menu[class*="cssmenu-tools"] {
		top: 10px;
		right: 60px;
	}
}

/* --- Barre de lien rapide --- */
nav#breadcrumb {
	text-indent: 10px;
	padding: 10px 20px;
}

nav#breadcrumb ol {
	list-style: none;
	margin: 0;
}

nav#breadcrumb ol li {
	display: inline;
}

nav#breadcrumb ol li:not(.current):after {
	content: '/';
}

/* --- Scroll to Top --- */
.scroll-to {
	position: fixed;
	z-index: 10;
	display: none;
	background-color: rgba(15, 15, 16, 0.8);
}

#scroll-to-top {
	right: 25px;
	bottom: 0;
	padding: 2px 11px 3px 10px;
	transition: 0.2s;
}

.scroll-to i {
	color: rgba(255, 255, 255, 0.8);
	transition: 0.2s;
}

.scroll-to:hover i {
	color: rgba(255, 255, 255, 1);
	transition: 0.3s;
}

@media (min-width: 769px) {
	#scroll-to-top {
		bottom: 25px;
		padding: 9px 11px 11px 10px;
	}

	.scroll-to i {
		font-size: 2em;
	}
}

@media (max-width: 768px) {
	#scroll-to-top:hover {
		padding: 9px 11px 11px 10px;
		transition: 0.3s;
	}
}

/* --   Cookie Bar  -- */ 
/* ------------------- */
.cookiebar-container {
	z-index: 100;
	left: 0;
	right: 0;
	top: 0;
	padding: 7px 20px;
	background-color: #F2F2F2;
	border-bottom: 1px solid #E2E2E2;
	font-size: 0.9em;
	text-align: center;
}

.cookiebar-container,
.cookiebar-container a {
	color: rgba(0, 0, 0, 0.6);
}

.cookiebar-container.fixed {
	position: fixed;
}

.cookiebar-content {
	text-align: justify;
}

@media (min-width: 769px) {
	.cookiebar-content {
		display: inline-block;
		max-width: calc(100% - 250px);
		vertical-align: middle;
	}

	.cookiebar-actions {
		display: inline-block;
		width: 250px;
	}
}

@media (max-width: 768px) {
	.cookiebar-content {
		margin-bottom: 5px;
	}

	.cookiebar-actions {
		margin: 15px 0 5px 0;
	}
}

.cookiebar-button {
	margin: 0 5px 0 5px;
	border-radius: 4px;
	color: #FEFEFE;
}

@media (max-width: 768px) {
	.cookiebar-button {
		margin: 0 10px 0 10px;
	}
}

.cookiebar-button-understand 		{ background-color: #337AB7; border-color: #2E6DA4; }
.cookiebar-button-understand:hover 	{ background-color: #2E6DA4; }

.cookiebar-button-allowed 			{ background-color: #5CB85C; border-color: #4CAE4C; }
.cookiebar-button-allowed:hover 	{ background-color: #4CAE4C; }

.cookiebar-button-declined 			{ background-color: #E84E40; border-color: #CE271A; }
.cookiebar-button-declined:hover 	{ background-color: #CE271A; }

@media (max-width: 468px) {
	.cookiebar-more {
		display: block;
		margin: 10px 0 5px 0;
	}
}

.aboutcookie-title {
	font-size: 1.3em;
	line-height: 1.3em;
	font-weight: bold
}

.aboutcookie-title + p {
	margin: 0px 0 20px 0px;
}

footer#cookiebar-change-choice {
	margin-top: 10px;
	text-align: center;
}

.cookiebar-change-choice-link {
	text-align: center;
} 

