/* --------------------------------------
		login.css
Contient les elements pour afficher la page de connexion a l'administration ou au site lorsqu'il est en maintenance.
--------------------------------------*/

.fieldset-content {
	margin: 0px auto;
	width: 600px;
	max-width: 100%;
}

body {
    background: #394165;
    height: 100%;
    margin: 0;
    padding: 0;
}
 
div#global {
    padding: 20px;
    border-spacing: 1px;
    min-height: 0;
    position: relative;
    top: 30%
}

@media ( max-width: 768px ) {
	div#global {
		top: 15%
	}
}

#connect { margin-bottom:40px; }
