/*---------------------------------------------------------
 * Theme    :  ValentineSDay
 * Par      : EDN | Swan
 * Date     : 08/05/2016
 * Site web :  http://easy-design.net/
 * Commentaire ou autre de l'auteur 
 # Merci de ne pas toucher au entête des fichiers CSS.
 *---------------------------------------------------------
 * Porté par : EDN | Swan
 * Date V5.0 : 08/05/2016
 * Date V5.1 : 30/05/2017
/*--------------------------------------------------------
 * Théme non compatible avec deux menus (droite et gauche)
					le choix reste possible sur un menu
 *----------------------------------------------------------*/

/* -- Elements HTML generiques specifique au theme -- */
/* -------------------------------------------------- */

html {
	font-size: 100%;
	font-size: 10px;
}

body {
	background:#f2f2f2 url(images/body.png) repeat-x scroll 0 0;
	position: relative;
	height: auto;
	min-height: 100%;
	color: #555555;
	font-size: 12px;
	font-family: Verdana,Arial,Helvetica,sans-serif;
}

div#connect-gsm{
    background: #ffcde6 none repeat scroll 0 0;
    border-bottom: 2px solid pink;
	font-size: 14px;
	margin:auto;
	text-align: center;
    height: 30px;
    padding-top: 5px;
	}

/* -- En-tete de page - Header -- */
/* ------------------------------ */
header#header {
    background: transparent url(images/header.png) no-repeat scroll 0 0;
    height: 174px;
    margin: auto;
    width: 1050px;
}
/* --- Partie superieure du header --- */
div#top-header {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	flex-direction: row;
	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	margin: auto;
	min-height: 139px;
	max-width: 1050px;
}

div#top-header-content {
	flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	-webkit-flex: 1 1 auto;
}

@media (max-width: 768px) {
	div#top-header {
		flex-direction: column;
		-ms-flex-direction: column;
		-webkit-flex-direction: column;
	}
	
	div#top-header-content {
		align-self: flex-end;
		-ms-align-self: flex-end;
		-webkit-align-self: flex-end;
	}
}

/* --- Partie inferieur du header --- */
div#sub-header {
	min-height: 35px;
}

div#sub-header-content{
	margin: auto;
}

/* --- Logo et Nom du site web --- */
div#site-infos {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	margin: 1.5em 0 0 1.5em;
	max-width: 940px;
	flex: 1 1 auto;
}

div#site-logo {
	margin: 0 1em 0 0;
	width: 60px;
	height: 60px;
	background-image: url(images/logo.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	-webkit-flex: 0 0 auto;
}

div#site-name-container {
	margin: 0.4em 0 0 0;
}

a#site-name {
	color: #F9FCFF;
	font-size: 3em;
	font-weight: bold;
	line-height: 1em;
	letter-spacing: 0.02em;
	text-decoration: none;
	text-shadow: 0 0 0 rgb(0, 0, 0), 1px 0 0 rgb(0, 0, 0), 2px 0 0.1px rgba(0, 0, 0, 0.1), 2px 0 0.1px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0, 0, 0, .1);
}

span#site-slogan {
	display: block;
	padding: 0.1em 0 0 0.1em;
	color: #FFFFFF;
	font-size: 1em;
	letter-spacing: 0.1em;
}


/* -- Conteneur global du site -- */
/* ------------------------------ */
div#global {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	flex-direction: column;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	margin: 1.5em auto 0 auto;
	padding: 0 10px;
	max-width: 1100px;
}

div#main {
	padding: 0 0 10px 0;
	max-width: 100%;
	order : 1;
	-ms-flex-order: 1;
	-webkit-flex-order: 1;
}

aside#menu-left,
aside#menu-right {
	width: 100%;
}

aside#menu-left  {
	order : 2;
	-ms-flex-order: 2;
	-webkit-flex-order: 2;
}
aside#menu-right {
	order : 3;
	-ms-flex-order: 3;
	-webkit-flex-order: 3;
}

@media (min-width: 769px) {
	div#global {
		min-height: 100vh;
		flex-direction: row;
		-ms-flex-direction: row;
		-webkit-flex-direction: row;
	}

	div#main {
		padding: 0 10px;
		order : 2;
		-ms-flex-order: 2;
		-webkit-flex-order: 2;
		flex: 1 0 auto;
		-ms-flex: 1 0 100%;
	}

	aside#menu-left,
	aside#menu-right {
    	width: 300px;
	}

	aside#menu-left  { 
		order : 1;
		-ms-flex-order: 1;
		-webkit-flex-order: 1;
	}
	aside#menu-right { 
		order : 3;
		-ms-flex-order: 3;
		-webkit-flex-order: 3;
	}
	
	#main.main-with-left,
	#main.main-with-right {
		width: calc(100% - 300px);
		-ms-flex: 1 0 auto; /*Tricks IE*/
	}
	
	#main.main-with-left.main-with-right {
		width: calc(100% - 400px);
		-ms-flex: 1 0 auto; /*Tricks IE*/
	}
}

div#top-footer {
	padding: 2% 0;
}


/* -- Contenu de la page -- */
/* ------------------------ */

/* --- Contenu central --- */
div#main-content {

    background: rgba(255, 205, 230, 0.5) none repeat scroll 0 0;
    border-radius: 10px;
    border-spacing: 1px;
	padding: 1.5em 0.8em;
}

div.block-container {
	margin-top: 15px;
}

/* --- Emplacement au dessus et en dessous du contenu de la page --- */
div#top-content {
	margin: 0 0 2% 0;
	padding: 0.1em 0.8em;
	background-color: #FFFFFF;
	border: 1px solid #BEBEBE;
}

/* --- Emplacement au dessus du pied de page --- */
div#bottom-content {
	margin: 2% 0 0 0;
	padding: 0.1em 0.8em;
	background-color: #FFFFFF;
	border: 1px solid #BEBEBE;
}


/* -- Pied de page - Footer -- */
/* --------------------------- */
footer#footer {
	background: transparent url(images/footer.png) repeat-x scroll 0 0;
	width: 100%;
	clear: both;

    height: 86px;
    padding-top: 26px;
	
}

footer#footer .footer-content {
	margin: 0 auto 0 auto;
	padding: 1.5em 0;
	max-width: 1050px;
}

footer#footer .footer-infos {
background: #f393c1 none repeat scroll 0 0;
	padding-top: 10px;
    height: 100px;
    min-height: 65px;
    text-align: center;
}

footer#footer .footer-infos span {
	color: #FFFFFF;
	font-size: 0.8em;
}


/* -- Elements specifiques PHPboost -- */
/* ----------------------------------- */

/* --- Compteur de visite --- */
div#visit-counter {
	position: absolute;
	right: 0;
	bottom : 1em;
	margin-right: 10px;
	font-size: 0.9em;
	color: #F9FCFF;
	text-align: right;
}

/* --- Barre de lien rapide --- */
nav#breadcrumb {
	margin: 0 0 20px 10px;
	text-indent: 10px;
}

nav#breadcrumb ol {
	margin: 0;
	list-style: none;
}

nav#breadcrumb ol li {
	display: inline;
}

nav#breadcrumb ol li:not(.current):after {
	content: '/';
	color: #616161;
}

/*###############################
		Menu Bar nav haut
	CSS3 Slide Down / Up Menu
#################################*/

.banner {
    font-family: Georgia,serif;
    font-size: 16px;
    background: none repeat scroll 0 0 #ffcde6;
    border-bottom: 2px solid pink;	
    left: 0;
    position: fixed;
    right: 0;
    top: -40px;
    transition: all 1s ease 0s;
	z-index:10
}
.banner:target {
    top: 0;
    transition: all 1s ease 0s;
}
.banner:target a#open-menu {
    display: none;
}
.banner:target a#close-menu {
    display: block;
}
.banner a#close-menu {
    display: none;
}
#banner nav li {
    display: inline;
    list-style-type: none;
    position: relative;
}
.banner  a {
    color: #df5799;
    text-decoration: none;
    font-family: "Euphoria Script",cursive;	
    font-size: 23px;
}
.ribbon {
    position: absolute;
    top: 0;
}
.ribbon h4 {
    background: url(images/bouton-menu-haut.png) no-repeat scroll 0 0 transparent;
    height: 50px;
    margin-top: 37px;
    padding-top: 0;
    position: relative;
    text-align: center;
    width: 100px;
}
.ribbon h4 a {
    color: #eeeeee;
}
.ribbon h4 a#open-menu:before {
    content: " ";
    font-size: 1.5em;
    font-weight: bold;
}
.ribbon h4 a#close-menu:before {
    content: " ";
    font-size: 1.5em;
    font-weight: bold;
}

.ouvert, .fermer{}    

/* ##############################
		 Social buttons
#################################*/

#social {
    height: 55px;
    margin: auto;
    padding: 0;
    width: 256px;
}
#social ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#social ul li {
    float: left;
    margin: 0;
    padding: 0;
}
#social ul li a {
    color: #ffffff;
    display: block;
    float: left;
    font-size: 80%;
    height: 50px;
    padding-left: 35px;
    text-decoration: none;
    text-transform: uppercase;
}
#social ul li a span {
    cursor: pointer;
    display: block;
    float: left;
    height: 50px;
text-align:center;
}
#social ul li a:hover, #social ul li.active a {
}
#social ul li a:hover span, #social ul li.active a span {
}

#fb, #twt, #yt{
    background: url(images/circle.png) no-repeat scroll center 0 transparent;
    padding-top: 7px;
	height:50px;
	width:50px;
}

.fa-facebook:before, .fa-twitter:before, .fa-youtube:before {font-size:35px;}

.fade:hover {
  opacity: 0.5;
  }

/*###############################
	décoration(s) diverse(s)
#################################*/
#deco_bottom {
    background: url(images/deco.png) no-repeat scroll center bottom rgba(0, 0, 0, 0);
    height: 285px;
}

/*======================================
		Todd Motto Labs -
		Flaunt JS Navigation
		Adapté pour phpboost 5.0
		URL: www.toddmotto.com
========================================*/

section#Motto{
	background: #3d3d3b;
    margin: auto;
    padding: 0px;
    vertical-align: top;
    width: 100%;
	height:auto;
	z-index:100;
}
#menu-title{
    color: #ffffff;
    float: left;
    font-weight: bold;
    padding: 18px 0 0 87px;
    text-align: center;
    text-transform: uppercase;
	}
.nav {
	position:relative;
	/*display:inline-block;*/
	font-size:14px;
	font-weight:900;
}
.nav-list {
	text-align:left;
}
.nav-item {
	float:left;
	*display:inline;
	zoom:1;
	position:relative;
}
.nav-item a {
    background: #f393c1 none repeat scroll 0 0;
    border-bottom: 1px solid #222;
    color: #ffffff;
    display: block;
    padding: 15px 20px;
}
.nav-item > a:hover {
	color:#efefef;
	background:#e90a77 none repeat scroll 0 0;
}
.nav-item:hover .nav-submenu {
	display:block;
}
/* Navigation submenu */
.nav-submenu {
	display:none;
	position:absolute;
	left:0;
	width:180px;
}
.nav-submenu-item a {
	color:#df5799;
	background:#f9e0ec none repeat scroll 0 0;
	border-bottom:1px solid #555;
	display:block;
	padding:15px;
}
.nav-submenu-item a:hover {
	color:#222;
	background:#f393c1 none repeat scroll 0 0;
}
/* Mobile navigation */
.nav-mobile {
	display:none; /* Hide from browsers that don't support media queries */
    background: #3d3d3b url(images/nav.svg) no-repeat scroll center center / 22px auto;
    border-left: 1px solid #222;
    cursor: pointer;
    height: 50px;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
}

/* Mobile navigation, clickable area for revealing <ul> */
.nav-click {
	position:absolute;
	top:0;
	right:0;
	display:none;
	border-left: 1px solid #222;
	height:49px;
	width:50px;
	cursor:pointer;
}
.nav-click i {
	display:block;
	height:48px;
	width:48px;
	background: url(images/drop.svg) no-repeat center center;
	background-size:20px;
}
.nav-click:hover {
	background-color:#f9e0ec;
}
.nav-rotate {
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	transform:rotate(180deg);
}

/*======================
 --- Scroll to Top ---
=======================*/
.scroll-to {
	position: fixed;
	z-index: 10;
	display: none;
	background-color: rgba(255,255,255, 0.8);
	border: 1px solid rgba(255, 205, 230, 0.5);
	border-radius: 5px;
}

#scroll-to-top {
	right: 25px;
	bottom: 25px;
	padding: 9px 11px 11px 10px;
}

.scroll-to i {
	font-size: 2em;
	color: rgba(233, 10, 119, 0.8);
	transition: 0.2s;
}

.scroll-to:hover i {
	color: rgba(233, 10, 119, 1);
	transition: 0.5s;
}

@media (min-width: 769px) {
	#scroll-to-top {
		bottom: 40px;
		padding: 9px 11px 11px 10px;
	}

	.scroll-to i {
		font-size: 1em;
	}
}

@media (max-width: 768px) {
	#scroll-to-top:hover {
		padding: 9px 11px 11px 10px;
		transition: 0.3s;
	}
}

/*======================
 ---   Cookie Bar    ---
=======================*/
.cookiebar-container {
	position: absolute;
	z-index: 1000;
	left: 0;
	right: 0;
	top: 0;
	padding: 7px 20px;
	background-color:#ffffff;
	border-bottom: 2px solid #EFEFEF;
	font-size: 1em;
	text-align: center;
}

.cookiebar-container.fixed {
	position: fixed;
}

.cookiebar-content {
	text-align: justify;
}

@media (min-width: 769px) {
	.cookiebar-content {
		display: inline-block;
		max-width: calc(100% - 300px);
		vertical-align: middle;
	}

	.cookiebar-actions {
		display: inline-block;
		width: 300px;
	}
}


@media (max-width: 768px) {
	.cookiebar-content {
		margin-bottom: 5px;
	}

	.cookiebar-actions {
		margin: 15px 0 5px 0;
	}
}

.cookiebar-button {
	margin: 0 5px 0 5px;
	border-radius: 4px;
	color: #FEFEFE;
}

@media (max-width: 768px) {
	.cookiebar-button {
		margin: 0 10px 0 10px;
	}
}

.cookiebar-button-understand 		{ background-color: rgba(0, 0, 0, 0.7); border: medium none; }
.cookiebar-button-understand:hover 	{ background-color: rgba(255, 255, 255, 0.7); border: medium none; color:#000000;}

.cookiebar-button-allowed 			{ background: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%); border-color: #000000;}
.cookiebar-button-allowed:hover 		{ background: #000000; }

.cookiebar-button-declined 			{ background: linear-gradient(to bottom, #a90329 0%,#8f0222 44%,#6d0019 100%); border-color: #6d0019;}
.cookiebar-button-declined:hover 	{ background: #AA0000; }


@media (max-width: 468px) {
	.cookiebar-more {
		display: block;
		margin: 10px 0 5px 0;
	}
}

.aboutcookie-title {
	font-size: 1.3em;
	line-height: 1.3em;
	font-weight: bold
}

.aboutcookie-title + p {
	margin: 0px 0 20px 0px;
}

footer#cookiebar-change-choice {
	margin-top: 10px;
	text-align: center;
}

.cookiebar-change-choice-link {
	text-align: center;
}

/*======================================
			Alls Media Queries
		 CSS applique aux écrans PC 
========================================*/

@media ( min-width: 769px ) {
	div#headgsm, div#header-gsm {display:none;}
	div#site-logo {
		width: 90px;
		height: 90px;
	}

	div#site-name-container {
		margin: 1em 0 0 0;
	}

	a#site-name {
		font-size: 4em;
	}
	
	/* --- Menu gauche --- */
	aside#menu-left {
		float: left;
		width: 23%;
		margin-right: 1%;
	}

	/* --- Menu droit --- */
	aside#menu-right {
		float: right;
		width: 23%;
		margin-left: 1%;
	}

	/* --- Menu central : main --- */
	div#main {
		float: left;
		width: 100%;
		overflow: hidden;
	}

	div#main.main-with-left,
	div#main.main-with-right {
		width: 76%;
	}

	div#main.main-with-left.main-with-right {
		width: 52%;
	}

}

@media (max-width:768px) {
	.banner {
		display: none;
	}
	.ribbon {
		display: none;
	}

	body {background:none;font-size: 1.4em;}
	header#header {height: 5px;background:none; margin: auto; width:auto;}
	
	div#top-header, div#top-header-content,
	#menus, nav#breadcrumb {display: none;}
	
	div#header-gsm {background-color:#f393c1; height:50px; padding-top: 10px; text-align:center;}
	div#sub-header {background-color:#222222; border: medium none; height: 61px; padding:0px;}
	a#site-name {
    color: #f9fcff;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 0.02em;
    line-height: 1em;
	}
	div#global {
		margin: auto;
		max-width: 1250px;
	}
	div#sous-global {
		background-color: # faf6ee;
		margin: auto;
		padding: 0 10px;
	}
	#nav, #slideshow , .fadein {display: none;}
	
	footer#footer {
		background: #3b3b3b; 
		border-top: 1px solid #df5799;
		clear: both;
		margin: auto;
		width: 1250px;
		height: auto;
		padding-top: 0px;
	}
	footer#footer .footer-infos {
		height:auto;
		min-height: 40px;
		text-align: center;
		padding-top: 10px;
	}
	footer#footer {width:100%}
	
	.footer-infos span {
    display: block;
    padding: 0 0 5px;
	}
	footer#footer .footer-infos {
    min-height: 40px;
    padding-top: 5px;
    text-align: center;
}
	footer#footer .footer-infos span {
	color: #eeeeee;
	font-size: 0.8em;
}
	span.footer-infos-separator {
		display: none;
	}
}

@media (min-width:769px) {
	section#Motto {display: none;}
}

@media only screen and (min-width: 320px) and (max-width: 768px) {

	.nav-mobile {
		display:block;
	}
	.nav {
		width:100%;
		padding:50px 0 0;
		z-index:110;
	}
	.nav-list {
		display:none;
	}
	.nav-item {
		width:100%;
		float:none;
		list-style: none outside none;		
	}
	.nav-item > a {
		padding:15px;
	}
	.nav-click {
		display:block;
	}
	.nav-mobile-open {
		border-radius:5px 5px 0 0;
		-webkit-border-radius:5px 5px 0 0;
		-moz-border-radius:5px 5px 0 0;
	}
	.nav-item:hover .nav-submenu {
		display:none;
	}
	.nav-submenu {
		position:static;
		width:100%;
	}
	ul{margin-left:0px;}
	.nav-submenu{margin-bottom:0px}
}
@media (max-width:768px) {
	div#menugo {display: none;}
}
