/* Design */

#module-homelanding {
    display: flex;
    display: -ms-flex;
    display: -webkit-flex;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
}

#module-homelanding h1{
    margin: 0 0 1em;
}

#module-homelanding h2 {
    overflow: hidden;
    font-size: 1.2rem;
    border: none;
    padding-left: 0;
}

#module-homelanding h3 .actions a {
    font-size: .6em;
}

#module-homelanding .more {
    margin-bottom: 5px;
}

#module-homelanding h3 {
    margin-top: 10px;
    padding-left: 15px;
    border-left: 3px solid #1E73BE
}

.item-content {
    overflow: hidden;
    padding: 10px;
}

/** --- Carousel --- */
#slider{
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0 0 20px;
}

#slider .slides{
    display: block;
    margin: 0;
    padding: 0;
}

#slider .slide,
#slider .slide img{
    float: left;
    list-style-type: none;
}

#slider .slide img{
    width: 100%;
}

.slideCaption{
    position: absolute;
    background: rgba(0, 0, 0, .2);
    color: #ffffff;
    width: 100%;
    padding: 20px;
    margin: 0;
}

#dotsNavigation{
    position: absolute;
    z-index: 98;
    bottom: 0;
    list-style-type: none;
}

.dotNavigation{
    display:inline-block;
    cursor: pointer;
    height:13px;
    width: 13px;
    margin-left: 10px;
    border:2px solid #222;
    border-radius: 50%;
    background: rgba(255, 255, 255, .3);
}

.dotNavigation:hover,
.active{
    background: rgba(255, 255, 255, .8);
}

#imagesNavigation{
    position: absolute;
    bottom: -10px;
}

.imageNavigation{
    display: inline-block;
    border:1px solid black;
    padding: 10px;
    margin: 10px;
    width: 50px;
    height:auto;
    background-size: 50px auto;
    cursor: pointer;
}

.previous,
.next{
    position: absolute;
    background: rgba(0, 0, 0, .4);
    color: #ffffff;
    z-index: 9998;
    top:45%;
    left:10px;
    cursor: pointer;
    text-align: center;
    border-radius: 50%;
    font-size: 25px;
    line-height: 50px;
    padding: 15px 30px 5px;
    font-weight: 700;
    opacity: 1;
    transition: opacity 250ms ease-in-out;
}

.next{
    left: auto;
    right: 10px;
}

.hideArrow{
    opacity: 0;
}

/** --- Edito --- */

#home_edito {
    margin: 10px 0;
}

/** --- last comments --- */

#last_coms ul {
    list-style-type: none;
}

/** --- Last articles --- */

#last_articles img {
    margin: 0 10px 5px;
}

@media (min-width:769px){
    #last_articles img {
        max-width: 200px;
        float: left;
    }
}

/* --- Last articles cat --- */

@media (min-width: 769px){
    #last_articles_cat .item-content {
        width: calc(100% / 3 - 2%);
        margin: .5%;
        display: inline-block;
        vertical-align: top;
    }
}

/* --- Calendar --- */

/* --- Last download --- */

#last_download img {
    margin: 0 10px 5px;
}

@media (min-width:769px){
    #last_download img {
        max-width: 200px;
        float: left;
    }
}

/* --- Last download cat --- */

/* --- Last forum topic --- */
#last_messages .avatar {
    float: left;
    max-width: 60px;
    margin: 0 8px 0 0;
}
#last_messages .color-topic {
    color: #000000;
}

@media (min-width: 769px){
    #last_messages .item-content {
        width: calc(100% / 3 - 2%);
        margin: .5%;
        display: inline-block;
        vertical-align: top;
    }
}

/* --- Last Gallery --- */

#last_gallery .item-content {
    display: inline-block;
    text-align: center;
}

#last_gallery .item-content img {
    max-height: 150px;
    max-width: 300px;
}

/* --- Last guestbook --- */
#last_guestbook .avatar {
    float: left;
    max-width: 60px;
    margin: 0 8px 8px 0;
}

@media (min-width: 769px){
    #last_guestbook .item-content {
        width: calc(100% / 3 - 2%);
        margin: .5%;
        display: inline-block;
        vertical-align: top;
    }
}

/* --- Last media --- */

#last_media .media-content {
	position: relative;
	margin: 25px auto;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
 
#last_media .media-content object,
#last_media .media-content embed  {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* --- Last news --- */

#last_news img {
    margin: 0 10px 5px;
}

@media (min-width:769px){
    #last_news img {
        max-width: 200px;
        float: left;
    }
}

/* --- last news cat --- */

@media (min-width:769px){
    #last_news_cat .item-content {
        margin-right: 1%;
        display: inline-block;
        width: calc(100% / 3 - 2%);
        vertical-align: top;
    }
}

/* --- External Rss --- */

#rssreader ul {
    margin: 0;
    list-style-type: none;
}

#rssreader li {
    display: block;
    overflow: hidden;
}

#rssreader li img {
    max-width: 15%;
    margin: 0 6px 6px;
}

/* --- Partners --- */

.str_wrap {
	overflow:hidden;
	width:100%;
	position:relative;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;  
	white-space:nowrap;
}

.str_move { 
	white-space:nowrap;
	position:absolute; 
	top:0; 
	left:0;
	cursor:move;
}

.str_move_clone {
	display:inline-block;
	vertical-align:top;
	position:absolute; 
	left:0%;
	top:0;
}

.str_vertical .str_move,
.str_down .str_move {
	white-space:normal;
	width:100%;
}

.str_static .str_move,
.no_drag .str_move,
.noStop .str_move{
	cursor:inherit;
}

.str_wrap img {
	max-height: 150px;
	max-width: 150px;
	margin:10px;
}

/* --- HomeLanding Module configuration --- */
@media (min-width: 769px){
    textarea.slider-description {
        float: left;
        height: 70px;
        width: 45%;
    }
    
    input.slider-url {
        margin: 5px;
        width: 40%;
    }
}
