/*---------------------------------------------------------
 * Theme    :  ValentineSDay
 * Par      : EDN | Swan
 * Date     : 08/05/2016
 * Site web :  http://easy-design.net/
 * Commentaire ou autre de l'auteur 
 # Merci de ne pas toucher au entête des fichiers CSS.
 *---------------------------------------------------------
 * Porté par : EDN | Swan
 * Date V5.0 : 08/05/2016
 * Date V5.1 : 30/05/2017
/*--------------------------------------------------------
 * Théme non compatible avec deux menus (droite et gauche)
					le choix reste possible sur un menu
 *----------------------------------------------------------*/

/*---------------------------------------------------------
 * Theme    :  ValentineSDay
 * Par      : EDN | Swan
 * Date     : 30/04/2016
 * Site web :  http://easy-design.net/
 * Commentaire ou autre de l'auteur 
 # Merci de ne pas toucher au entête des fichiers CSS.
 *---------------------------------------------------------
 * Théme non compatible avec deux menus (droite et gauche)
					le choix reste possible sur un menu
 *----------------------------------------------------------*/


.deco {
	background:rgba(0, 0, 0, 0)  url(./../../theme/images/deco.png) no-repeat scroll center bottom;
	margin:-107px;
	height: 250px;
}
.decofilecontroller{
    background: rgba(0, 0, 0, 0) url("./../../theme/images/deco.png") no-repeat scroll center bottom;
    height: 96px;
    margin: -12px;
}

.download-picture {
	display: block;
	padding-bottom: 10px;
	text-align: center;
}

.options {
	max-width: 280px;
}

@media (min-width: 480px) {
	.download-picture {
		float: right;
		padding-left: 10px;
	}
}