
/* horizontal */
#search-menu.horizontal-fieldset {
	float: right;
	margin: 0;
	background-color: #0E2134;
}

#search-menu.horizontal-fieldset .js-menu-button {
	display: inline-block;
	line-height: 50px;
	padding: 0 20px;
	color: #F2F2F2;
	font-size: 1.5em;
}
 
#search-menu.horizontal-fieldset div.search-content {
	position: absolute;
	height: 0px;
	width: 298px;
	right: 0;
	top: calc(100% + 2px);
	opacity: 0;
	visibility: hidden;
	background-color: #2F4154;
	padding: 10px 20px;
	transition: all 0.5s ease 0.6s, height 0.3s ease 0.3s;
}

@media (max-width: 769px){
	#search-menu.horizontal-fieldset div.search-content{ width: 100%; }
}

#search-menu.active.horizontal-fieldset div.search-content {
	z-index: 200;
	height: 110px;
	opacity: 1;
	visibility: visible;
	transition: height 0.5s;
}
 
#search-menu.horizontal-fieldset div.search-content form {
	opacity: 0;
	transition: opacity 0.3s;
}

#search-menu.active.horizontal-fieldset div.search-content form {
	opacity: 1;
	transition: opacity 0.3s ease 0.5s;
}
 
#search-menu.horizontal-fieldset input {
	background-color: rgba(0, 0, 0, 0.2);
	padding: 10px;
	color: #F2F2F2;
	width: calc(100% - 80px);
}

.search-submit {
	padding: 10px 20px;
	margin: 0 0 5px 12px;
	background-color: rgba(0, 0, 0, 0.2);
	color: #F2F2F2;
}

.search-submit:hover {
	background-color: rgba(0, 0, 0, 0.2);
	color: #FA9C0A;
}

.advanced-search {
	padding: 5px 10px;
	margin-top: 10px;
	display: block;
	background-color: #0E2134;
	text-align: center;
}