/*---------------------------------------------------------
 * Theme    : Thème Cameleon
 * Par      : EnymSay
 * Date     : 31/05/2017
 * Site web :  http://easy-design.net/ | https://www.phpboost.com/
 * Commentaire ou autre de l'auteur 
 # Merci de ne pas toucher au entête des fichiers CSS.
 * Contient les conteneurs de mise en page.
 * Le design.css permet de mettre en forme votre site web avec le design de votre choix
 *---------------------------------------------------------
 * Modifié par : EDN | Swan
 * Date      : 31/05/2017
 *---------------------------------------------------------
 * Thème compatible avec un  menu (droite ou gauche)
					le choix reste possible sur un menu
 *----------------------------------------------------------*/
#module-mini-search {
	position: absolute;
	right: 20px;
	padding: 0 10px 0 70px;
	margin: 0px 20px 0 0;
	background: url('images/search.png') no-repeat scroll 0 0 rgba(0, 0, 0, 0.0);
	width: 247px;
	height: 60px;
	color: #888;
}
#module-mini-search form {
margin: 7px 2px 0 0;
width: 166px;
height: 30px;
}

@media (max-width: 768px) {
	#module-mini-search form {
		display: none;
	}
}

#mini-search-form {
	white-space: nowrap;
	vertical-align: middle;
}

@media (max-width: 768px) {
	#mini-search-form {
		margin: 20px 20px 20px 0;
	}
}

#mini-search-form button,
#mini-search-form .button {
	margin-top: 0;
}

#mini-search-form.input-element-button input {
	width: 120px;
	height: 25px;
	background: none;
	border:none;
	border-radius: 10px 0 0 10px;
	color: #FFFFFF;
}

#mini-search-form.input-element-button button {
	margin-left: -5px;
	padding: 3px 10px 4px 10px;
	height: 25px;
	border-radius: 0 4px 4px 0;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF #FFFFFF #FFFFFF #E1E1E1;
}
@media (max-width: 768px) {
	#module-mini-search {
		position:absolute;
		left: 0;
		top: -500px;
		width: 1px;
		height: 1px;
		overflow: hidden;
	}
}