/*---------------------------------------------------------
 * Theme    : FaceBoost
 * Par      : EDN | Swan
 * Date     : 03/04/2016
 * Site web :  http://easy-design.net/
 * Commentaire ou autre de l'auteur 
 # Merci de ne pas toucher au entête des fichiers CSS.
 *---------------------------------------------------------
 * Théme non compatible avec deux menus (droite et gauche)
					le choix reste possible sur un menu
 *----------------------------------------------------------*/

/*--------------------------------------
		design.css
Contient les conteneurs de mise en page.
Le design.css permet de mettre en forme votre site web avec le design de votre choix
--------------------------------------*/


/* -- Elements HTML generiques specifique au theme --
--------------------------------------*/
/* afficher le texte sélectionné en jaune sur fond rouge */
::-moz-selection { color:#efefef;  background: #435a8b ; }
::selection     { color:#efefef;  background: #435a8b ; }

/* afficher le texte sélectionné dans un paragraphe en blanc sur fond noir */
p::-moz-selection { color:#efefef;  background: #435a8b ; }
p::selection      { color:#efefef;  background: #435a8b ; }

html {
	font-size: 100%;
	font-size: 10px;
}

body {
    background:#e9eaee none repeat scroll 0 0;
    color: #00000;
    font-family: "verdana","Lucida Sans Unicode",Verdana,"Bitstream Vera Sans",Times,serif;
    font-size: 12px;
	position: relative;
	height: auto;
	min-height: 100%;
}


/* -- En-tete de page - Header --
--------------------------------------*/
header#header {
max-width: 1100px;
margin:auto;
}

/* --- Partie superieure du header --- */

div#top-header {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: transparent url(images/sous-head.jpg) no-repeat scroll center center;
    border-bottom: 1px solid #dddddd;
    border-image: none;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    margin: auto;
    max-width: 1100px;
    min-height: 300px;
    overflow: hidden;
}

div#sous-head {
    background: transparent url(images/sous-calque.png) repeat-x scroll left bottom;
    max-width: 1100px;
    height: 300px;
}

div#top-header-content{
	float: right;
}

/* --- Partie inferieur du header --- */
div#sub-header {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5870a0+1,45619d+49,3c5998+100 */
	background: #5870a0; /* Old browsers */
	background: -moz-linear-gradient(top,  #5870a0 1%, #45619d 49%, #3c5998 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #5870a0 1%,#45619d 49%,#3c5998 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #5870a0 1%,#45619d 49%,#3c5998 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5870a0', endColorstr='#3c5998',GradientType=0 ); /* IE6-9 */
	border-bottom: 1px solid #103480;
    min-height: 35px;
    text-align: center;
	box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.8);
}

div#sub-header-content{
	max-width: 1024px;
	margin: auto;
}


div#sub-header-menu{
	text-align:center;
	font-size:16px;
	margin-top:20px;
}
/* --- Logo et Nom du site web --- */
div#site-infos {
	max-width: 940px;
	margin: 1.5em 1.5em 0 1.5em;
	float: left;
}

div#site-logo {
    background: rgba(0, 0, 0, 0) url(images/logo.png) no-repeat scroll center center / cover ;
    border: 4px solid #ffffff;
    box-shadow: 1px 1px 2px 0 #656565;
    float: left;
    height: 160px;
    margin: 148px 1em 0 0;
    position: absolute;
    width: 160px;
    z-index: 1000;
}

div#site-name-container {
    margin:15em 0 0 15em;
	overflow: hidden;
	float: left;
}

a#site-name {
    color: #f9fcff;
    font-family: helvetica,arial,sans-serif;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1em;
    text-decoration: none;
	text-shadow: 0px 0px 3px #000000;
}

span#site-slogan {
	display: block;
	padding: 0.1em 0 0 0.1em;
	color: #FFFFFF;
	font-size: 1em;
	letter-spacing: 0.1em;
}

@media (min-width:769px) {
	#header-gsm a#site-name-gsm {display:none;}
/*	div#site-infos {display:none;}*/
}


/* -- Conteneur global du site --
--------------------------------------*/
div#global {
    margin: auto;
    max-width: 1100px;
}
div#sous-global {
}
aside#menu-left,
aside#menu-right {
    width: auto;
}

#main {
   width: auto;
	background-color:#ffffff;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;

}   

/* -- Contenu de la page --
--------------------------------------*/
/* --- Contenu central --- */
div#main-content {
	padding: 1.5em 1em;
}

/* --- Emplacement au dessus et en dessous du contenu de la page --- */
div#top-content {
	margin: 0 0 2% 0;
}

div#bottom-content {
	margin: 2% 0 0 0;
}

/* --- Emplacement au dessus du pied de page --- */
div#top-footer {
	clear: both;
	padding: 2% 0;
}

/* -- Pied de page - Footer --
--------------------------------------*/
footer#footer {
    clear: both;
    height: 71px;
    margin: auto;
    text-align: center;
    width: 1100px;
}

footer#footer .footer-content {
	margin: 0 auto 0 auto;
	max-width: 1024px;
	padding: 1.5em 0;
	border-bottom: 2px groove #444444;
}


footer#footer .footer-infos {
    min-height: 40px;
    padding-top: 20px;
    text-align: center;
}

footer#footer .footer-infos span {
	color: #8d8d8d;
	font-size: 0.8em;
}

/* -- Elements specifiques PHPboost --
--------------------------------------*/
/* --- Compteur de visite --- */
div#visit-counter {
	position: absolute;
	right: 0;
	bottom : 1em;
	margin-right: 10px;
	font-size: 0.9em;
	color: #F9FCFF;
	text-align: right;
}

/* --- Barre d'outils --- */
#actions-links-menu {
	float:right;
	margin: 0 5px 5px 5px;
}

/* --- Barre de lien rapide --- */
nav#breadcrumb{
    color: #627aad;
    font-size: 11px;
    font-weight: bold;
    height: 33px;
    margin: 10px;
    padding: 4px;
    text-indent: 10px;
}

nav#breadcrumb ol {
	list-style: none;
	margin: 0;
}

nav#breadcrumb ol li {
	display: inline;
}

nav#breadcrumb ol li:not(.current):after {

	content: '';
	background: url(images/breadcrumb.png) no-repeat scroll 0 0 transparent;
	width: 13px; height: 20px;
	color: #616161;
}

#menu-mess {
    height: 16px;
    padding: 5px;
}
/*======================================
*		EDN : reprise du menu MOTTO
*		     - SUB-Menu -
*		 - Todd Motto Labs -
========================================*/
#prim-nav {
    background:#fff;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    height: 51px;
    margin:auto;
    width: 1100px;
}
#navbook {
    background: #fff none repeat scroll 0 0;
    border-right: 1px solid #dddddd;
    height: 51px;
    margin: auto auto auto 200px;
    position: relative;
    width: 899px;
    z-index: 1000;
}
#navbook b {
    background:#fff;
    display: block;
    float: left;
    height: 50px;
    width: 24px;
}

.MNnav {
    font-size: 14px;
    font-weight: 900;
    margin-top: -6px;
    position: relative;
	display:inline-block;

}
.MNnav-list {
	text-align:left;
	list-style:none;
}
.MNnav-item {
	float:left;
	*display:inline;
	zoom:1;
	position:relative;
}
.MNnav-item a {
    background: #fff none repeat scroll 0 0;
    border-left: 1px solid #e9eaed;	
	/*border-bottom:1px solid #dddddd;*/
	
    color: #3b5998;
	display:block;
	padding:18px 20px;

}
.MNnav-item > a:hover {
    background: #efefef none repeat scroll 0 0;
    color: #000000;
    text-decoration: none;
    border-left: 1px solid #e9eaed;

}
.MNnav-item:hover .MNnav-submenu {
	display:block;
}
/* Navigation submenu */

ul.MNnav-submenu{	list-style:none;}

#Mn-nav  {
    line-height: normal;
    margin-bottom: 0px;
    margin-left: 0px;
}
.MNnav-submenu {
	display:none;
	position:absolute;
	left:0;
	width:180px;
}
.MNnav-submenu-item a {
    background: #efefef none repeat scroll 0 0;
    border-bottom: 1px solid #ffffff;
    color: #3b5998;
    display: block;
    margin-left: -30px;
    padding: 15px;
}
.MNnav-submenu-item a:hover {
	background:#435a8b ;
	color:#efefef;
}
/* Mobile navigation */
.MNnav-mobile {
	display:none; /* Hide from browsers that don't support media queries */
    background: #3d3d3b url(images/nav.svg) no-repeat scroll center center / 22px auto;
    border-left: 1px solid #222222;
    cursor: pointer;
    height: 50px;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
}
/* Police des liens */
.MNnav-item a , .MNnav-item > a:hover, .MNnav-submenu-item a, .MNnav-submenu-item a:hover{
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
}
/* Mobile navigation, clickable area for revealing <ul> */
.MNnav-click {
	position:absolute;
	top:0;
	right:0;
	display:none;
	border-left: 1px solid #dddddd;
	height:49px;
	width:50px;
	cursor:pointer;
}
.MNnav-click i {
	display:block;
	height:48px;
	width:48px;
	background: url(images/drop.svg) no-repeat center center;
	background-size:20px;
}
.MNnav-click:hover {
	background-color:#DFE1E8;
}
.MNnav-rotate {
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	transform:rotate(180deg);
}

/*======================================
		  Navigation latérale
		 "gadget de navigation"
========================================*/
div#gotop {
    position: fixed;
    right: 90px;
    top: 150px;
    z-index: 150;
}
div#gotop a {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #dddddd;
    border-radius: 3px;
    color: #dddddd;
    float: left;
	font-size:12px;
	padding:25px 10px;
    opacity: 0.8;
}
div#gobottom {
    display: block;
    position: fixed;
    right: 90px;
    top: 220px;
    z-index: 150;
}
div#gobottom a {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #dddddd;
    border-radius: 3px;
    color: #dddddd;
    float: left;
	font-size:12px;
	padding:25px 10px;
    opacity: 0.8;
}

/*################################
		Paramètres divers
#################################*/

aside#menu-left span.bt-content > a, aside#menu-right span.bt-content > a {
    color: #222222;
}
aside#menu-left span.bt-content > a:hover, aside#menu-right span.bt-content > a:hover {
    color: #3b5998;
}

/*======================
 ---   Cookie Bar    ---
=======================*/
.cookiebar-container {
	z-index: 100;
	left: 0;
	right: 0;
	top: 0;
	padding: 7px 20px;
	background-color: #F2F2F2;
	border-bottom: 1px solid #E2E2E2;
	font-size: 1em;
	text-align: center;
}

.cookiebar-container.fixed {
	position: fixed;
}

.cookiebar-content {
	text-align: justify;
}

@media (min-width: 769px) {
	.cookiebar-content {
		display: inline-block;
		max-width: calc(100% - 300px);
		vertical-align: middle;
	}

	.cookiebar-actions {
		display: inline-block;
		width: 300px;
	}
}

@media (max-width: 768px) {
	.cookiebar-content {
		margin-bottom: 5px;
	}

	.cookiebar-actions {
		margin: 15px 0 5px 0;
	}
}

.cookiebar-button {
	margin: 0 5px 0 5px;
	border-radius: 4px;
	color: #FEFEFE;
}

@media (max-width: 768px) {
	.cookiebar-button {
		margin: 0 10px 0 10px;
	}
}

.cookiebar-button-understand 		{ background-color: #337AB7; border-color: #2E6DA4; }
.cookiebar-button-understand:hover 	{ background-color: #2E6DA4; }

.cookiebar-button-allowed 			{ background-color: #5CB85C; border-color: #4CAE4C; }
.cookiebar-button-allowed:hover 		{ background-color: #4CAE4C; }

.cookiebar-button-declined 			{ background-color: #E84E40; border-color: #CE271A; }
.cookiebar-button-declined:hover 	{ background-color: #CE271A; }

@media (max-width: 468px) {
	.cookiebar-more {
		display: block;
		margin: 10px 0 5px 0;
	}
}

.aboutcookie-title {
	font-size: 1.3em;
	line-height: 1.3em;
	font-weight: bold
}

.aboutcookie-title + p {
	margin: 0px 0 20px 0px;
}

footer#cookiebar-change-choice {
	margin-top: 10px;
	text-align: center;
}

.cookiebar-change-choice-link {
	text-align: center;
}
/*======================================
			Alls Media Queries
		 CSS applique aux écrans PC 
========================================*/

@media ( min-width: 769px ) {

	/* --- Menu gauche --- */
	aside#menu-left {
		float: left;
		width: 30%;
		margin-right: 1%;
	}

	/* --- Menu droit --- */
	aside#menu-right {
		float: right;
		width: 30%;
		margin-left: 1%;
	}

	/* --- Menu central : main --- */
	div#main {
		float: left;
		width: 100%;
		overflow: hidden;
	}

	div#main.main-with-left,
	div#main.main-with-right {
		width: 69%;
	}

	div#main.main-with-left.main-with-right {
		width: 69%;
	}

}

@media (max-width:768px) {

	body {font-size: 1.4em;}
	header#header {margin: auto;}
	div#top-header{display: none;}
	div#header-gsm {background-color:#435a8b; height:50px; text-align:center;}
	div#sub-header { border: none;}
	a#site-name {
    color: #f9fcff;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 0em;
    line-height: 1.5em;
	}
	div#sous-global {
		background-color: # faf6ee;
		margin: auto;
		padding: 0 10px;
	}
	footer#footer {
	background: #5870a0; /* Old browsers */
	background: -moz-linear-gradient(top,  #5870a0 1%, #45619d 49%, #3c5998 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #5870a0 1%,#45619d 49%,#3c5998 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #5870a0 1%,#45619d 49%,#3c5998 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5870a0', endColorstr='#3c5998',GradientType=0 ); /* IE6-9 */
		border-top: 1px solid #222222;
		clear: both;
		margin: auto;
		width: 1250px;
   height: auto;		
	}
	footer#footer .footer-infos {
		min-height: 40px;
		text-align: center;
		padding-top: 10px;
	}
	footer#footer {width:100%}
	
	.footer-infos span {
    display: block;
    padding: 0 0 5px;
	}
	footer#footer .footer-infos {
    min-height: 40px;
    padding-top: 5px;
    text-align: center;
}
	footer#footer .footer-infos span {
	color: #eeeeee;
	font-size: 0.8em;
}
	span.footer-infos-separator {
		display: none;
	}
	/*#prim-nav{display: none;}*/
}

@media (min-width:769px) {
	#menu-title {display: none;}
}


@media only screen and (min-width: 320px) and (max-width: 768px) {
	
/* EDN MNNAV Original */
	#prim-nav{
		background:none;
		border-left:none;
		border-right:none;
		height: 51px;
		margin: auto;
		width:auto;
	}

	section#navbook {
		background: #3d3d3b none repeat scroll 0 0;
		border-right:none;		
		/*height: auto;*/
		margin: auto auto auto -1px;
		padding: 0;
		vertical-align: top;
		width: 100%;
		z-index: 100;
	}
	#menu-title{
		color: #ffffff;
		float: left;
		font-weight: bold;
		padding: 18px 0 0 87px;
		text-align: center;
		text-transform: uppercase;
		}
	.MNnav-mobile {
		display:block;
	}
	.MNnav {
		width:100%;
		padding:50px 0 0;
		margin-top: -34px;
		position: relative;
	}
	.MNnav-list {
		display:none;
	}
	.MNnav-item {
		width:100%;
		float:none;
		list-style: none outside none;		
	}
	.MNnav-item > a {
		padding:15px;
	}
	.MNnav-click {
		display:block;
	}
	.MNnav-mobile-open {
		border-radius:5px 5px 0 0;
		-webkit-border-radius:5px 5px 0 0;
		-moz-border-radius:5px 5px 0 0;
	}
	.MNnav-item:hover .nav-submenu {
		display:none;
	}
	.MNnav-submenu {
		position:static;
		width:100%;
	}
	ul{margin-left:0px;}
	.MNnav-submenu{margin-bottom:0px}
	.MNnav-item a {
    background: #435a8b none repeat scroll 0 0;
    border-bottom: 1px solid #dddddd;
    color: #fff;
    display: block;
	}
	.MNnav-submenu-item a {
		background: #dfe1e8 none repeat scroll 0 0;
		border-bottom: 1px solid #435a8b;
		color: #435a8b;
		display: block;
		margin-left:0px;
		padding: 15px;
	}
	.MNnav-submenu-item a:hover {
		background: #ffffff none repeat scroll 0 0;
		color: #222222;
	}
}
@media (max-width:768px) {
	div#menugo {display: none;}
}
