/*---------------------------------------------------------
 * Theme    : TSW_Dragon 
 * Par      : EDN | Swan
 * Date     : 27/01/2014
 * Site web :  http://easy-design.net/
 * Commentaire ou autre de l'auteur 
 # Merci de ne pas toucher au entête des fichiers CSS.
  *---------------------------------------------------------
 * Porté par : EDN | Swan
 * Date V5.0 : 13/04/2016
 * Date V5.1 : 30/05/2017
/*--------------------------------------------------------
 * Théme compatible avec deux menus (droite et gauche)
 * le choix reste possible sur une seule colonne de menus.
 *----------------------------------------------------------*/

div.calendar-content {
	padding: 6px;
}

/* Affichage du mois en cours */
div.calendar-top-container {
    background:#3D6880 none repeat scroll 0 0;
	border-radius: 3px;
	padding: 4px;
}

div.calendar-top-content {
	text-align: center;
}

div.calendar-top-container a,
div.calendar-top-container a:hover {
	color: #666666;
	cursor: pointer;
}

div.calendar-top-l {
	float: left;
	padding: 1px 0px 0px 25px;
}

div.calendar-top-r {
	float: right;
	padding: 1px 25px 0px 0px;
}

/* Affichage des évenements */
div.event-display-author {
	font-size: 0.8em;
	float: left;
	padding-top: 4px;
	padding-bottom: 4px;
}

div.event-display-dates {
	font-size: 0.8em;
	font-weight: normal;
	padding: 4px;
	float: right;
	width: 180px;
}

/* Particularité du tableau du calendrier */

/* CSS applique aux écrans PC */
@media ( min-width: 769px ) {
	#module-calendar table.calendar-table tbody tr td {
		height: 40px;
	}
}

/* Couleur des différents évenements */
tbody td.calendar-none    { background: #000000 none repeat scroll 0 0; }
tbody td.calendar-today  { background:#74C5F2 none repeat scroll 0 0; }
tbody td.calendar-other   { background: #3c3c3c none repeat scroll 0 0; }
tbody td.calendar-weekend { background: rgba(68, 68, 68, 0.5) none repeat scroll 0 0; }

.calendar-today a{color: #efefef;}
.calendar-today a:hover {color: #000000;}

#module-calendar tbody td.calendar-week {
	border-right: 1px solid #AAAAAA;
	width: 8%;
}

/* Affichage de du titre de l'évenement dans le tableau de l'administration */
table tbody tr th.column-title {
	width: 28%;
}

/* Affichage du mini calendrier dans une colonne */
#module-mini-calendar .calendar-top-container {
	padding: 2px;
}

#module-mini-calendar .calendar-top-content h5 {
	font-size: 0.9em;
	padding-top: 1px;
}

#module-mini-calendar .calendar-top-l { padding: 0px 0 0 7px; }
#module-mini-calendar .calendar-top-r { padding: 0px 7px 0 0; }

#module-mini-calendar #date_select_form form.fieldset-content {
	margin-top: 0px;
}

#module-mini-calendar #CalendarAjaxCalendarController_choose-date {
	margin: 5px 0px 10px 0px;
}

#module-mini-calendar #CalendarAjaxCalendarController_choose-date div.form-element {
	margin: 0px;
}

#module-mini-calendar .form-field select {
	padding: 4px;
}

#CalendarAjaxCalendarController_month_field,
#CalendarAjaxCalendarController_year_field {
	display: inline-block;
}

.legend-line {
	padding: 0 0 8px 0;
}

.legend-color {
	font-size: 2em;
	vertical-align: -1px;
}

.legend {
	padding-right: 20px;
}
