/*---------------------------------------------------------
 * Theme     : GSN-Gaming
 * Par       : Pegasetkc
 * Adapté    : 02/03/2017
 * Porté par : EDN |Swan
 * Site web :  http://easy-design.net/
 * Commentaire ou autre de l'auteur 
 # Merci de ne pas toucher au entête des fichiers CSS.
 * Contient les conteneurs de mise en page.
 * Le design.css permet de mettre en forme votre site web avec le design de votre choix
 *---------------------------------------------------------
 * Théme compatible avec deux menus (droite et gauche)
					le choix reste possible sur un menu
 *----------------------------------------------------------*/

#mini-search-form {
    float: right;
    margin: 25px 0 0 17px;
    vertical-align: middle;
    white-space: nowrap;
}

@media (max-width: 768px) {
	#mini-search-form {
		margin: 20px 20px 20px 0;
	}
}

#mini-search-form button,
#mini-search-form .button {
	margin-top: 0;
}

#mini-search-form.input-element-button input {
	width: 120px;
	height: 25px;
	border-radius: 4px 0 0 4px;
}

#mini-search-form.input-element-button button {
	margin-left: -5px;
	padding: 4px 10px 4px 10px;
	height: 25px;
	border-radius: 0 4px 4px 0;
}